<!--
  Generated template for the MorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
<div class="head">
	<div class="head-inside" padding>
		<ion-row class="skeleton-loader" *ngIf="!user_profile">
			<ion-col col-3>
				<div class="thumb circle"></div>
			</ion-col>
			<ion-col col-9 padding-left>
				<div class="name skeleton-line1"></div>
				<div class="position skeleton-line"></div>
			</ion-col>
		</ion-row>
		<ion-row *ngIf="user_profile">
			<ion-col col-3>
				<!-- <div class="thumb" *ngIf="photo" [ngStyle]="{'background-image': 'url('+ photo + ')'}"></div> -->
				
				<div class="thumb" *ngIf="!photo" style="background-image: url('assets/imgs/patient-placeholder.png');"></div>

          		<img-loader *ngIf="photo" class="image-loader round border-light" src="{{photo}}"></img-loader>						
			</ion-col>
			<ion-col col-9 padding-left>
				<div class="name" text-capitalize> {{ user_profile.prefix }} {{ user_profile.firstname }} {{ user_profile.lastname }} {{ user_profile.suffix }} </div>
				<div class="position"> 
					<span *ngIf="current_location"><ion-icon name="md-pin"></ion-icon> {{ current_location }} </span>  
            		<span class="location-spinner justify-left" *ngIf="!current_location && !no_current_location"> <ion-spinner name="crescent"></ion-spinner> getting location </span></div>
					<span *ngIf="!current_location && no_current_location"> <i> cannot get current location</i> </span>  
				<button ion-button block outline color="light" class="view-profile" (click)="gotoProfile()">View Profile</button>
			</ion-col>
		</ion-row>
	</div>
</div>
<div class="more-tabs" padding>
	<ion-row>
		<ion-col col-4>
			<div class="m-tabs" (click)="goToBrowseArticles()">
				<div class="icon"><img class="more-icon" src="assets/imgs/articles-ico.png"></div>
				<div>Articles</div>
			</div>
		</ion-col>
		<ion-col col-4>
			<div class="m-tabs" (click)="goToBrowseHospitals()">
				<div class="icon"><img class="more-icon" src="assets/imgs/hospital-ico.png"></div>
				<div>Hospitals</div>
			</div>
		</ion-col>
		<ion-col col-4>
			<div class="m-tabs" (click)="goToBrowseDoctors()">
				<div class="icon"><img class="more-icon" src="assets/imgs/doctors-ico.png"></div>
				<div>Doctors</div>
			</div>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col col-4>
			<div class="m-tabs" (click)="goToBrowseAmbulance()">
				<div class="icon"><img class="more-icon" src="assets/imgs/ambulance-ico.png"></div>
				<div>Ambulance</div>
			</div>
		</ion-col>
		<!-- <ion-col col-4>
			<div class="m-tabs" (click)="gotoActivityLogs()">
				<div class="icon"><img class="more-icon" src="assets/imgs/activity-ico.png"></div>
				<div>Activity Logs</div>
			</div>
		</ion-col> -->
		<ion-col col-4>
			<div class="m-tabs transactions" (click)="gotoTransactions()">
				<div class="icon"><img class="more-icon" src="assets/imgs/card-ico.png"></div>
				<div>Transactions</div>
			</div>
		</ion-col>
	</ion-row>
</div>
	<div class="other-pages" padding>
		<ion-list class="others">
			<button ion-item (click)="gotoAbout()">
				<ion-row>
					<ion-col col-2>
						<img src="assets/imgs/about-ico.png" class="more-second">
					</ion-col>
					<ion-col col-8>
						<p class="other-title">About CheckApp</p>
						<p class="other-sub" text-wrap>Easy click access to Doctors and other medical practitioners in your area.</p>
					</ion-col>
					<ion-col col-2>
						<ion-icon name="ios-arrow-forward" class="arrow-icon"></ion-icon>
					</ion-col>
				</ion-row>
			</button>
			<button ion-item (click)="gotoBookmark()">
				<ion-row>
					<ion-col col-2>
						<img src="assets/imgs/bookmark.png" class="more-second">
					</ion-col>
					<ion-col col-8>
						<p class="other-title">My Bookmarks</p>
						<p class="other-sub">say something</p>
					</ion-col>
					<ion-col col-2>
						<ion-icon name="ios-arrow-forward" class="arrow-icon"></ion-icon>
					</ion-col>
				</ion-row>
			</button>
			<button ion-item (click)="gotoFaq()">
				<ion-row>
					<ion-col col-2>
						<img src="assets/imgs/faq.png" class="more-second">
					</ion-col>
					<ion-col col-8>
						<p class="other-title">Faq</p>
					</ion-col>
					<ion-col col-2>
						<ion-icon name="ios-arrow-forward" class="arrow-icon"></ion-icon>
					</ion-col>
				</ion-row>
			</button>
			<button ion-item (click)="gotoTerms()">
				<ion-row >
					<ion-col col-2>
						<img src="assets/imgs/tc-ico.png" class="more-second">
					</ion-col>
					<ion-col col-8>
						<p class="other-title">Terms & Conditions</p>
						<!-- <p class="other-sub">say something</p> -->
					</ion-col>
					<ion-col col-2>
						<ion-icon name="ios-arrow-forward" class="arrow-icon"></ion-icon>
					</ion-col>
				</ion-row>
			</button>
			<!-- <button ion-item color="primary" (click)="gotoPolicy()">
				Privacy Policy <ion-icon name="ios-arrow-forward" class="arrow-icon"></ion-icon>
			</button> -->
			<button ion-item (click)="gotoContact()">
			<ion-row>
				<ion-col col-2>
					<img src="assets/imgs/contact-us-ico.png" class="more-second">
				</ion-col>
				<ion-col col-8>
					<p class="other-title">Contact Us</p>
					<p class="other-sub">Need Help? Send us a message</p>
				</ion-col>
				<ion-col col-2>
					<ion-icon name="ios-arrow-forward" class="arrow-icon"></ion-icon>
				</ion-col>
			</ion-row>
			</button>
			<button ion-item (click)="logout()">
			<ion-row>
				<ion-col col-2>
					<img src="assets/imgs/logout-ico.png" class="more-second">
				</ion-col>
				<ion-col col-8>
					<p class="other-title">Log Out</p>
					<p class="other-sub">Exit CheckApp</p>
				</ion-col>
				<ion-col col-2>
					<ion-icon name="ios-arrow-forward" class="arrow-icon"></ion-icon>
				</ion-col>
			</ion-row>
			</button>
		</ion-list>
	</div>

</ion-content>
