page-about {
	font-size: 16px;
	font-weight: 500;

	.scroll-content {
		background-color: #fff !important;
	}
	
	h1, h2, h3, h4, h5, h6 {
		font-weight: 500;
		color: #04a8df;
		text-transform: uppercase;
		font-size: 16px !important;
	}

	.section-title {
		font-weight: 600;
	    font-size: 30px;
	    font-family: "Poppins";
	    margin-top: 15px;
	    margin-bottom: 25px;

  		.border {
  			height: 5px;
		    width: 56px;
		    background-color: #0098e4;
		    margin: 5px 0;
  		}
	}
}
