page-modal-info {
	.col{
		text-align: center;
	}

	.facebook{
	   	background: #3b5998 !important;
	}

	.twitter{
	   	background: #1da1f2 !important;
	}

	.linkedin{
	    background: #046fa9 !important;
	}

	.text-label{
		   text-transform: uppercase;   
		   font-size: 3.2vw;

	    &.f{
	    	color: #3b5998;
	    }
	    &.t{
	    	color: #1da1f2;
	    }
	    &.l{
	   		color: #046fa9;
	    }
		@media(min-width:0px) and (max-width: 333px){ 
			font-size: 13px !important;
		}
	}

	.item {
		background: transparent;
		padding: 0;

		&.item-input-has-focus {
			.item-inner {
				border: 0;
				box-shadow: none;
			}
			.text-input {
				border: 1px solid #20a9e6;
			}
		}
		.item-inner {
			border: 0 !important;
			box-shadow: none !important;
			padding: 0 !important;
		}

		&.selection {
			.input-wrapper {
				background: #fff;
			    margin: 0 ;
			    padding: 0 10px;
			    border-radius: 5px;
			    width: 100%;
		   		margin-top: 10px;
			}
		}
	}

	.text-input {
		background: #ffffff;
		min-height: 14vw;
		border-radius: 5px;
		padding: 0 16px;
		border: 1px solid #fff;
		margin: 0;
		width: 100%;
		margin-top: 10px;
	}

	.contact-home{
		.item-inner{
			padding: 0 !important;
		}

		.text-input {
			padding: 0 8px !important;
		}
	}

	.contact-container{
		background-color: #f6f6f6 !important;
		.field{
			.col{
    			padding: 2px;
			}
		}
	}

	.contact-number{
		.text-input {
			margin: 0 !important;
			
		}

		.label{
    		margin: 0px 0px 0 10px !important;
		}

		.item{
		    margin-top: 10px;
		    background: #fff;
		}

		.item.item-input-has-focus .text-input{
    		border: 0 !important;
		}

		.focused{
		    border: 1px solid #20a9e6;
		    border-radius: 5px;
		}
	}
}
