<!--
  Generated template for the GlobalSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar padding-horizontal>
	<ion-searchbar
		[(ngModel)]="searched_keyword"
		(keyup.enter)="searchNews(false)"
		(ionClear)="searchNews($event)"
		placeholder="How may I help you?" margin-bottom>
	</ion-searchbar>
  </ion-navbar>
   <div class="filter-buttons" text-center padding-horizontal>
	  	<button ion-button (click)="goToBrowseArticles()">Articles</button> 
	  	<button ion-button (click)="goToBrowseDoctors()">Doctors</button> 
	  	<button ion-button (click)="goToBrowseHospitals()">Hospitals</button> 
	  	<button ion-button (click)="goToBrowseAmbulance()">Ambulance</button> 
  	</div>
</ion-header>


<ion-content padding>

	<div>
		<div class="empty-states-content" *ngIf="(all_ambulance && ambulance_total_count === 0) && (all_doctors && doctor_total_count === 0) && (all_articles && total_count === 0) && (all_hospitals && hospital_total_count === 0)">
		        <img src="assets/imgs/no-result.png">
		        <div padding margin-left margin-right>
		            <div class="empty-states-title"> No Result found </div>
		            <p> Sorry, search yield zero result. Please try another word. </p>
		        </div>
		</div>

		<ion-card class="article-results results-box" *ngIf="!all_articles">
		  <ion-card-header> Articles </ion-card-header>
		  <ion-list>
		  	<button ion-item class="articles_card skeleton-loader" *ngIf="!all_articles">
			    <ion-row>
			    	<ion-col col-3>
			    		 <div class="thumb square"></div>
			    	</ion-col>
			    	<ion-col col-9 class="content"> 
			    		<div class="animation skeleton-line1"></div>
			            <div class="animation skeleton-line2"></div>
			            <div class="animation skeleton-line2"></div>
			    	</ion-col>
			    </ion-row>
		    </button>
		  </ion-list>
		</ion-card>

		<ion-card class="article-results results-box" *ngIf="all_articles && total_count > 0">
		  	<ion-card-header> Articles </ion-card-header>
		  	<ion-list>
				<div *ngIf="all_articles && total_featured_count > 0">
					<div *ngFor="let article of all_articles; let b=index;">
					    <div class="articles_card" *ngIf="b<=2">
						    <ion-row>
						    	<ion-col (click)="goToArticleInside(article)" col-3>

						    		<div class="thumb" *ngIf="!article.attachments" style="background-image: url('assets/imgs/placeholder.png');"></div>

									<!-- <div class="thumb" *ngIf="article.attachments" [ngStyle]="{'background-image': 'url('+ articleProvider.base_url + article.attachments.filepath +'/'+ article.attachments.filename + ')'}"></div> -->

									<img-loader *ngIf="article.attachments" class="image-loader border-radius-5 bkg-img-center" src="{{ articleProvider.base_url + article.attachments.filepath +'/'+ article.attachments.filename }}"></img-loader>
						    	</ion-col>
						    	<ion-col col-9 class="content"> 
									<ion-row class="meta-hospital">
										<ion-col col-10 (click)="goToArticleInside(article)">
						    				<div class="title" > {{ article.title | shortenText }} </div>
										</ion-col>
										<ion-col text-right col-2>
			  								<ion-icon (click)="addtoBookmark(article, b, 'article')" [ngClass]="article.bookmark_id ? 'filled-bookmark' : 'unfilled-bookmark'" [name]="article.bookmark_id ? 'ios-bookmark' :'ios-bookmark-outline'"></ion-icon>
										</ion-col>
									</ion-row>
						    		<div class="meta" text-wrap>
						    			<ion-row>
						    				<ion-col col-7><div class="date"> {{ article.created_at | formatDate }} </div></ion-col>
						    				<ion-col (click)="goToArticleInside(article)" col-5 text-right><button ion-button class="btn_inside"> Read </button></ion-col>
						    			</ion-row>
						    		</div>
						    	</ion-col>
						    </ion-row>
					    </div>
				    </div>
			   	</div>
		  	</ion-list>
		  	<button ion-button block class="btn_view_more" (click)="goToBrowseArticles()"> See All </button>
		</ion-card>
		<!-- End of Articles -->


		<ion-card class="doctor-results results-box" *ngIf="!all_doctors">
		  	<ion-card-header> Doctors </ion-card-header>
		  	<ion-list>
			  	<button ion-item class="articles_card skeleton-loader" *ngIf="!all_doctors">
				    <ion-row>
				    	<ion-col col-3>
				    		 <div class="thumb circle"></div>
				    	</ion-col>
				    	<ion-col col-9 class="content"> 
				    		<div class="animation skeleton-line1"></div>
				            <div class="animation skeleton-line2"></div>
				            <div class="animation skeleton-line2"></div>
				    	</ion-col>
				    </ion-row>
			    </button>
		  	</ion-list>
		</ion-card>

		<ion-card class="doctor-results results-box" *ngIf="all_doctors && doctor_total_count > 0">
		  <ion-card-header> Doctors </ion-card-header>
			  <ion-list>
				<div *ngIf="all_doctors && doctor_total_count > 0">
					<div *ngFor="let doctor of all_doctors; let b=index;">
					    <div class="doctors-card" *ngIf="b<=2">
						    <ion-row>
						    	<ion-col (click)="goToDoctorProfile(doctor)" col-3>
						    		<div class="thumb" *ngIf="!doctor.attachments_filename || !doctor.attachments_filepath" style="background-image: url('assets/imgs/doctor-placeholder.png');"></div>

									<!-- <div class="thumb" *ngIf="doctor.attachments_filename && doctor.attachments_filepath" [ngStyle]="{'background-image': 'url('+ doctorProvider.base_url + doctor.attachments_filepath +'/'+ doctor.attachments_filename + ')'}"></div> -->

									<img-loader *ngIf="doctor.attachments_filename && doctor.attachments_filepath" class="image-loader round" src="{{ doctorProvider.base_url + doctor.attachments_filepath +'/'+ doctor.attachments_filename }}"></img-loader>
						    	</ion-col>
						    	<ion-col col-9 class="content"> 
									<ion-row class="meta-hospital">
										<ion-col col-10 (click)="goToDoctorProfile(doctor)">
								    		<div class="title">
									    		<span *ngIf="doctor.prefix">{{ doctor.prefix }}</span> 
												{{ doctor.firstname }} {{ doctor.lastname }} 
												<span *ngIf="doctor.suffix">{{ doctor.suffix }}</span> 
												<span *ngIf="doctor.medical_degree">{{ doctor.medical_degree }}</span> 
											</div>
										</ion-col>
										<ion-col text-right col-2>
			  								<ion-icon (click)="addtoBookmark(doctor, b, 'doctor')" [ngClass]="doctor.bookmark_id ? 'filled-bookmark' : 'unfilled-bookmark'" [name]="doctor.bookmark_id ? 'ios-bookmark' :'ios-bookmark-outline'"></ion-icon>
										</ion-col>
									</ion-row>
						    		<div class="meta" (click)="goToDoctorProfile(doctor)" text-wrap>
						    			<div class="specialty specialty-container" *ngIf="doctor.specialties"> 
											<span *ngFor="let special of doctor.specialties; let i=index"> 
												{{ special.specialties_title }} 
												<span *ngIf="doctor.total_specialties == '2' || doctor.total_specialties == 2"> 
													<span *ngIf="i == 0"> &amp; </span> 
												</span> 
												<span *ngIf="doctor.total_specialties > '2' || doctor.total_specialties > 2"> 
													<span *ngIf="i+1 < doctor.total_specialties">, </span> 
												</span> 
											</span> 
						    			</div>

						    			<ion-row>
						    				<ion-col  col-8><div class="hospital-address"> {{doctor.hospital_name}} </div></ion-col>
						    				<ion-col text-right col-4><button ion-button class="btn_inside" *ngIf="doctor.doctor_schedule_id && doctor.doctor_schedule_id !== ''"> Book </button></ion-col>
						    			</ion-row>
										<div class="under-hospital" *ngIf="doctor.license_verification_status == '1'">
											<span class="status1"><img src="assets/imgs/verified_ico.png"> PRC <span class="capital-stat"> Verified </span> </span>
										</div>
						    		</div>
						    	</ion-col>
						    </ion-row>
					    </div>
					</div>
				</div>
			</ion-list>
		  <button ion-button block class="btn_view_more" (click)="goToBrowseDoctors()"> See All </button>
		</ion-card>
		<!-- End of Doctors -->


		<ion-card class="hospital-results results-box" *ngIf="!all_hospitals">
		  <ion-card-header> Hospitals </ion-card-header>
		  <ion-list>

		  	<button ion-item class="articles_card skeleton-loader" *ngIf="!all_hospitals">
			    <ion-row>
			    	<ion-col col-3>
			    		 <div class="thumb circle"></div>
			    	</ion-col>
			    	<ion-col col-9 class="content"> 
			    		<div class="animation skeleton-line1"></div>
			            <div class="animation skeleton-line2"></div>
			            <div class="animation skeleton-line2"></div>
			    	</ion-col>
			    </ion-row>
		    </button>
		   </ion-list>
		 </ion-card>

		<ion-card class="hospital-results results-box" *ngIf="all_hospitals && hospital_total_count > 0">
		  <ion-card-header> Hospitals </ion-card-header>
		  <ion-list>

		  	<button ion-item class="articles_card skeleton-loader" *ngIf="!all_hospitals">
			    <ion-row>
			    	<ion-col col-3>
			    		 <div class="thumb circle"></div>
			    	</ion-col>
			    	<ion-col col-9 class="content"> 
			    		<div class="animation skeleton-line1"></div>
			            <div class="animation skeleton-line2"></div>
			            <div class="animation skeleton-line2"></div>
			    	</ion-col>
			    </ion-row>
		    </button>
			<div>
				<div *ngFor="let hospital of all_hospitals; let b=index;">
				    <div class="hospitals-card" *ngIf="b<=2">
					    <ion-row>
					    	<ion-col (click)="gotoProfileHospital(hospital)" col-3>
					    		<div class="thumb" *ngIf="!hospital.attachments" style="background-image: url('assets/imgs/hospital-placeholder.png');"></div>

								<!-- <div class="thumb" *ngIf="hospital.attachments" [ngStyle]="{'background-image': 'url('+ doctorProvider.base_url + hospital.attachments.filepath +'/'+ hospital.attachments.filename + ')'}"></div> -->

								<img-loader *ngIf="hospital.attachments" class="image-loader round" src="{{ doctorProvider.base_url + hospital.attachments.filepath +'/'+ hospital.attachments.filename }}"></img-loader>
					    	</ion-col>
					    	<ion-col col-9 class="content"> 
								<ion-row class="meta-hospital">
									<ion-col col-10 (click)="gotoProfileHospital(hospital)">
										<p class="title">{{hospital.name}}</p>
									</ion-col>
									<ion-col text-right col-2>
								  		<ion-icon (click)="addtoBookmark(hospital, b, 'hospital')" [ngClass]="hospital.bookmark_id ? 'filled-bookmark' : 'unfilled-bookmark'" [name]="hospital.bookmark_id ? 'ios-bookmark' :'ios-bookmark-outline'"></ion-icon>
									</ion-col>
								</ion-row>
					    		<div class="meta" (click)="gotoProfileHospital(hospital)" text-wrap>
					    			<ion-row>
					    				<ion-col  col-8>
					    					<div class="hospital-address">
												<span *ngIf="(hospital.hospital_address || hospital.hospital_city) && (hospital.hospital_region || hospital.hospital_country || hospital.hospital_zip)" class="doc-hospital">
													{{hospital.hospital_address}} {{hospital.hospital_city}}, {{hospital.hospital_region}} {{hospital.hospital_country}} {{hospital.hospital_zip}} 
												</span>
												<span *ngIf="(!hospital.hospital_address && !hospital.hospital_city) && (!hospital.hospital_region && !hospital.hospital_country && !hospital.hospital_zip)" class="doc-hospital">
													No Address Yet
												</span>
					    					</div>
					    				</ion-col> 
					    				<ion-col text-right col-4><button ion-button class="btn_inside"> View </button></ion-col>
					    			</ion-row>
					    		</div>
					    	</ion-col>
					    </ion-row>
				    </div>
				</div>
			</div> 
		  </ion-list>
		  <button ion-button block class="btn_view_more" (click)="goToBrowseHospitals()"> See All </button>
		</ion-card>
		<!-- End of Hospital -->


		<ion-card class="ambulance-results results-box" *ngIf="!all_ambulance">
		  <ion-card-header> Ambulance </ion-card-header>
		  <ion-list>
		  	<button ion-item class="articles_card skeleton-loader" *ngIf="!all_ambulance">
			    <ion-row>
			    	<ion-col col-3>
			    		 <div class="thumb circle"></div>
			    	</ion-col>
			    	<ion-col col-9 class="content"> 
			    		<div class="animation skeleton-line1"></div>
			            <div class="animation skeleton-line2"></div>
			            <div class="animation skeleton-line2"></div>
			    	</ion-col>
			    </ion-row>
		    </button>
		  </ion-list>
		</ion-card>


		<ion-card class="ambulance-results results-box" *ngIf="all_ambulance && ambulance_total_count > 0">
		  <ion-card-header> Ambulance </ion-card-header>
		  <ion-list>
				<div *ngIf="all_ambulance">
					<div *ngFor="let ambulance of all_ambulance; let b=index;">
					    <div class="ambulance-card" *ngIf="b<=2">
						    <ion-row>
						    	<ion-col col-12 class="content"> 
									<ion-row class="meta-hospital">
										<ion-col col-10 (click)="callNow(ambulance)">
											<p class="title">{{ambulance.company_name}}</p>
										</ion-col>
										<ion-col text-right col-2>
									  		<ion-icon (click)="addtoBookmark(ambulance, b, 'ambulance')" [ngClass]="ambulance.bookmark_id ? 'filled-bookmark' : 'unfilled-bookmark'" [name]="ambulance.bookmark_id ? 'ios-bookmark' :'ios-bookmark-outline'"></ion-icon>
										</ion-col>
									</ion-row>
						    		<div class="meta" text-wrap (click)="callNow(ambulance)">
						    			<ion-row>
						    				<ion-col col-8>
						    					<div class="contact" *ngIf="ambulance.contact"> <ion-icon name="ios-call"></ion-icon>
						    						<span *ngIf="ambulance.contact.type === 'mobile'"> {{ambulance.contact.country_code}}  </span>
													<span *ngIf="ambulance.contact.type !== 'mobile'"> {{ambulance.contact.area_code}}  </span>
													{{ambulance.contact.number}}
						    					</div>
						    					<!-- <div class="distance"> <ion-icon name="ios-pin"></ion-icon> 0.8km away </div> -->
						    				</ion-col>
						    				<ion-col text-right col-4><button ion-button class="btn_inside"> Call </button></ion-col>
						    			</ion-row>
						    			
						    		</div>
						    	</ion-col>
						    </ion-row>
					    </div>
				   </div>
				</div>
		  </ion-list>
		  <button ion-button block class="btn_view_more" (click)="goToBrowseAmbulance()"> See All </button>
		</ion-card>
		<!-- End of Ambulance -->
	</div>

</ion-content>
