<ion-tabs #myTabs selectedIndex="0">
  <ion-tab [root]="tab1Root" tabTitle="" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="" tabIcon="ios-search"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="" tabIcon="md-calendar"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="" [tabBadge] = "total_unread_notifications > 0 ? 1 : null" tabIcon="ios-notifications-outline"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="" tabIcon="ios-more"></ion-tab>
</ion-tabs>
