page-browse-medical-records {

	.from-notif{
		.col{
			margin: auto 5px;
		}

		[col-1]{
     		flex: 0 0 4.33333%;
		    width: 4.33333%;
		    max-width: 4.33333%;
		}
	}

	.back-button {
		z-index: 100;
		font-size: 30px;
	}

	.back-button.show-back-button{
		display: inline-flex;
		align-items: center;
		.icon{
			color: #fff;
		}
	}
	
	.records-segment-buttons {
		background: #fff;
	    padding: 16px;
	    padding-bottom: 0;
	    padding: 0 16px;
		@media(min-width:300px) and (max-width: 331px){ 
	    	padding: 0 10px;
		}

		.segment-button {
			color: #3d4b56;
			font-size: 12px;
			font-weight: 600;
			text-transform: uppercase;
		    border: 0;
		    opacity: 1;
		    width: auto;
			@media(min-width:332px) and (max-width: 363px){ 
				font-size: 11px !important;
			}
			@media(min-width:300px) and (max-width: 331px){ 
				font-size: 10px !important;
			}

			&.segment-activated {
				    border-bottom: 5px solid #04a8df;
			}
		}
	}
	.records{
		.item{
    		.label {
    			    margin: 10px !important;
    		}

    		.title {
				color: #3d4b58;
			    font-weight: 500;
			    font-size: 16px;
			    white-space: normal;
			}
			.hospital {
				font-weight: 500;
				font-size: 13px;
			}
			

			.meta {
				margin-top: 10px;

				.inclusions {
					color: #949494;
					font-size: 11px;
					white-space: normal;
				}
				.col { padding: 0; }
				.trans-number {
					color: #3492ff;
	    			font-size: 12px;
				}

				.date{
					color: #949494;
					font-size: 13px;
				}
			}

			
		}

	}
}
