page-qr-code {

	.qr-container{
		padding-top: 40px;
		background: #fff !important;
	}

	.card{
		.card-title{
			font-size: 20px;
		}
	    background: transparent;
	    border: 0;
	    box-shadow: none;
	}

	.card-title{
      	text-transform: uppercase;
	    text-align: center;
	    color: #0098e4;
	    margin-bottom: -10px;
	    font-weight: 500;
	}

	.qr-step{
		p{
			margin: 2px 0;
		}

		.highlight{
			color: #00aeef;
		}

/*		.btn-back{
			.button{
			    height: 50px;
			    font-size: 18px;
			    font-weight: 400;
      			width: 90%;
			    margin: auto;
			    display: flex;
			    align-items: center;
			}
		}*/
	}

	.aclass{
		padding: 0 40px 40px;
	}
}
