<!--
  Generated template for the QrCodePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  	<ion-navbar>
    	<ion-title> Your Qr Code</ion-title>
  	</ion-navbar>
</ion-header>


<ion-content>
	<div class="qr-container">
		<ion-card *ngIf="createdCode">
			<ion-card-title padding-top> Scan Me! </ion-card-title>
			<ngx-qrcode [qrc-value]="createdCode" qrc-errorCorrectionLevel="L" qrc-class="aclass"></ngx-qrcode>
			<!-- <ion-card-content>
			</ion-card-content> -->
	  	</ion-card> 
	</div>
	<div class="qr-step" padding margin>
		<div padding-bottom>
			<p>
				1. Tap<span class="highlight"> [Scan QR Code]</span> in <span class="highlight">[HMO Account or Doctor App]</span> on Mobile
			</p>
			<p>
				2. Align QR code within frame on phone to scan.
			</p>
		</div>
<!-- 		<div padding class="btn-back">
			<button ion-button navPop class=""> Back </button>
		</div> -->
	</div>
</ion-content>
