<!--
  Generated template for the EditProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  	<ion-navbar>
	    <ion-title>Edit Profile</ion-title>

	    <ion-buttons end>
	      	<button ion-button (click)="saveChanges()"> SAVE </button>
	    </ion-buttons>
  	</ion-navbar>
</ion-header>


<ion-content padding>
	<form [formGroup]="profileForm" *ngIf="user_profile">
		<div class="personal_info" #personal_info>
			<div class="section" margin-bottom padding-bottom>
				<ion-label class="title"> Personal Information: </ion-label>
		  		<ion-input type="hidden" class="hidden" formControlName="id" value="{{ user_profile.id }}"></ion-input>
		  		<ion-input type="hidden" class="hidden" formControlName="status" value="{{ user_profile.status }}"></ion-input>
		  		<ion-input type="hidden" class="hidden" formControlName="email" value="{{ user_profile.email }}"></ion-input>
		  		<ion-input type="hidden" class="hidden" formControlName="address_id" value="{{ user_profile.address_id }}"></ion-input>

			  	<ion-item>
			  		<ion-input type="text" placeholder="First Name" formControlName="firstname" value="{{ user_profile.firstname }}"> </ion-input>
			  	</ion-item>
				<div class="validator" *ngIf="is_submit === true && !profileForm.controls.firstname.valid">
					<div class="form-error">Firtname is required</div>
				</div>

			  	<ion-item>
			  		<ion-input type="text" placeholder="Middle Name" formControlName="midlename" value="{{ user_profile.midlename }}"> </ion-input>
			  	</ion-item>

			  	<ion-item>
			  		<ion-input type="text" placeholder="Last Name" formControlName="lastname" value="{{ user_profile.lastname }}"> </ion-input>
			  	</ion-item>
				<div class="validator" *ngIf="is_submit === true && !profileForm.controls.lastname.valid">
					<div class="form-error">Lastname is required</div>
				</div>

			  	<ion-item>
			  	  	<ion-input type="text" placeholder="Suffix (ex. Jr, Sr, III)" formControlName="suffix"> </ion-input>
			 	</ion-item>

			   	<ion-item>
			  		<ion-input type="text" placeholder="Mother's Maiden Name" formControlName="mothers_maiden_name" value="{{ user_profile.mothers_maiden_name }}"> </ion-input>
			  	</ion-item>
				<!-- <ion-item class="selection">
				  	<ion-label> Medical Degree </ion-label>
					<ion-select formControlName="medical_degree">
						<ion-option *ngFor="let medical_degree of medical_degrees" value="{{ medical_degree }}"> {{ medical_degree }} </ion-option>
					</ion-select>
				</ion-item> -->
	            <ion-item class="field">
	            	<ion-label stacked> Gender </ion-label>
	            	<ion-select formControlName="gender">
				  		<ion-option value="female"> Female </ion-option>
				  		<ion-option value="male"> Male </ion-option>
					</ion-select>
	            </ion-item>

			   <ion-item  class="field">
			  	  <ion-label stacked> Birth date </ion-label>
		          <ion-datetime displayFormat="YYYY/MM/DD" pickerFormat="MMMM DD YYYY" formControlName="date_of_birth"></ion-datetime>
			  	</ion-item>
				<div class="validator" *ngIf="is_submit === true && !profileForm.controls.date_of_birth.valid">
					<div class="form-error">Birthdate is required</div>
				</div>

				<ion-item>
				  	<ion-input type="text" placeholder="Place of Birth" formControlName="place_of_birth"> </ion-input>
				</ion-item>
				<div class="validator" *ngIf="is_submit === true && !profileForm.controls.place_of_birth.valid">
					<div class="form-error">Place of Birth is required</div>
				</div>

				<ion-row>
					<ion-col>
            			<ion-item>
	            			<ion-label stacked> Height </ion-label>
		            		<ion-input type="text" placeholder="ft' in'"  formControlName="height"></ion-input>
		            	</ion-item>
		            </ion-col>
					<ion-col>
            			<ion-item>
	            			<ion-label stacked> Weight </ion-label>
		            		<ion-input type="text" placeholder="kg"  formControlName="weight"></ion-input>
		            	</ion-item>
					</ion-col>
				</ion-row>
	            <ion-item class="field">
	            	<ion-label stacked> Civil Status </ion-label>
	            	<ion-select [(ngModel)]="civil_status" [ngModelOptions]="{standalone: true}">
						<ion-option value="single">Single</ion-option>
						<ion-option value="married">Married</ion-option>
						<ion-option value="divorced">Divorced</ion-option>
						<ion-option value="separated">Separated</ion-option>
					</ion-select>
	            </ion-item>
			</div>

			<div class="section" margin-bottom padding-bottom>
				<ion-label class="title"> Work Information: </ion-label>
				<ion-item>
				  	<ion-input type="text" placeholder="Company Name" formControlName="company_name"> </ion-input>
				</ion-item>

				<ion-item>
				  	<ion-input type="text" placeholder="Position" formControlName="designation"> </ion-input>
				</ion-item>

				<ion-item>
				  	<ion-input type="text" placeholder="Tin no." formControlName="tin_no"> </ion-input>
				</ion-item>
			</div>

			<div class="section" margin-bottom padding-bottom>
				<ion-label class="title"> Address Information: </ion-label>
				<ion-item>
				  	<ion-input type="text" placeholder="Street/Building/Lot Brgy." formControlName="address"> </ion-input>
				</ion-item>
				<div class="validator" *ngIf="is_submit === true && !profileForm.controls.address.valid">
					<div class="form-error">Adrress is required</div>
				</div>

                <ion-item>
                    <ion-label stacked>Region</ion-label>
                        <ionic-selectable
                            item-content
                            [(ngModel)]="region"
                            [ngModelOptions]="{standalone: true}"
                            [items]="regions"
                            itemValueField="provDesc"
                            itemTextField="provDesc"
							[canSearch]="true"
                            (onChange)="regionChange($event)">
                            <ng-template ionicSelectableValueTemplate let-port="value">
                                {{ region.provDesc ? region.provDesc : region }}
                            </ng-template>
                        </ionic-selectable>
                </ion-item>
                <div class="validator" *ngIf="is_submit === true && !region">
                    <div class="form-error">Address Region is required</div>
                </div>

                <ion-item>

                    <ion-label stacked>City <div class="comment" *ngIf="!region && is_change_region === false"> Please select a region first. </div></ion-label>
                        <ionic-selectable
                            item-content
                            [(ngModel)]="city"
                            [ngModelOptions]="{standalone: true}"
                            [items]="cities"
                            itemValueField="citymunDesc"
                            itemTextField="citymunDesc"
                            [canSearch]="true"
                            (onChange)="cityChange($event)">
                            <ng-template ionicSelectableValueTemplate let-port="value">
                                {{ city.citymunDesc ? city.citymunDesc : city }}
                            </ng-template>
                    </ionic-selectable>
                </ion-item>
                <div class="validator" *ngIf="is_submit === true && !city">
                    <div class="form-error">Address City is required</div>
                </div>

				<!-- <ion-item>
	            	<ion-label stacked>Region</ion-label>
	            	<ion-select *ngIf="regions" (ionChange)="getCity(region)" [(ngModel)]="region" [ngModelOptions]="{standalone: true}">
						<ion-option *ngFor="let region of regions" [value]="region['provDesc']">{{ region['provDesc'] }}</ion-option>
					</ion-select>
					<ion-spinner name="crescent" *ngIf="!regions "></ion-spinner>
				</ion-item>
				<div class="validator" *ngIf="is_submit === true && !region">
					<div class="form-error">Address Region is required</div>
				</div>

				<ion-item>
	            	<ion-label stacked>City <div class="comment" *ngIf="!region && is_change_region === false"> Please select a region first. </div></ion-label>
	            	<ion-select *ngIf="cities && is_change_region === false" (ionChange)="getZipcode()"  [(ngModel)]="city" [ngModelOptions]="{standalone: true}">
						<ion-option *ngFor="let city of cities" [value]="city.citymunDec">{{ city.citymunDesc }}</ion-option>
					</ion-select>
					<ion-spinner name="crescent" *ngIf="is_change_region === true"></ion-spinner>
				</ion-item>
				<div class="validator" *ngIf="is_submit === true && !city">
					<div class="form-error">Address City is required</div>
				</div> -->

				<ion-item>
					<ion-label stacked>Zipcode<div class="comment" *ngIf="(!cities && is_change_city === false)
						|| (!regions && is_change_region === false) || (!zipcode && total_zip_code == 0)"> Please select a city first. </div>
					</ion-label>

					<ion-input *ngIf="(zipcode && is_change_city === false) && total_zip_code == 1" [(ngModel)]="zip" [ngModelOptions]="{standalone: true}" type="text" value="{{zipcode[0].zip_code }} " disabled> </ion-input>

        			<ion-select *ngIf="(zipcode && is_change_city === false) && total_zip_code > 1" [(ngModel)]="zip" [ngModelOptions]="{standalone: true}">
				      	<ion-option *ngFor="let zip of zipcode" [value]="zip.zip_code">{{ zip.zip_code }} <span *ngIf="total_zip_code > 1"> - {{zip.city}} </span> </ion-option>
				    </ion-select>
					<ion-spinner name="crescent" *ngIf="is_change_city === true"></ion-spinner>
				</ion-item>
				<div class="validator" *ngIf="is_submit && is_submit === true && !zip">
					<div class="form-error">Address Zipcode is required</div>
				</div>
			</div>

			<div class="section" margin-bottom>
				<ion-label class="title"> Contact No. </ion-label>
				<div class="contact-container" *ngIf="user_profile.contact">
					<div *ngFor="let contact of user_profile.contact; let i = index;">
					  	<ion-item>
						  	<ion-input *ngIf="contact.type == 'mobile'" type="text" value="{{contact.type}} ({{contact.country_code}}) {{contact.number}}" disabled> </ion-input>
						  	<ion-input *ngIf="contact.type != 'mobile'" type="text" value="{{contact.type}} ({{contact.area_code}}) {{contact.number}}" disabled> </ion-input>
						  	<ion-icon name="md-create" item-right (click)="addContact(contact, i)"></ion-icon>
					 	</ion-item>
					</div>
				</div>

				<div class="contact-container">
					<div class="add_services_button align-items-center" padding-top>
						<button (click)="addContact()" block ion-button outline>
							<ion-icon name="ios-add-outline" icon-left></ion-icon>
							<span > Add Contact </span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</ion-content>
