page-edit-profile {

	.item {
		background: transparent;
		padding: 0;

		.hidden {
	    	display: none;
	    }
	    textarea {
	    	height: 145px;
	    	padding: 10px;
	    }
		&:last-child {
			border: 0;
			box-shadow: none;
		}
		&.item-input-has-focus {
			.item-inner {
				border: 0;
				box-shadow: none;
			}
			.text-input {
				border: 1px solid #20a9e6;
			}
		}
		.item-inner {
			border: 0 !important;
			box-shadow: none !important;
		}

		&.selection {
			.input-wrapper {
				background: #fff;
			    margin: 0 ;
			    padding: 0 10px;
			    border-radius: 5px;
			    width: 100%;
		   		margin-top: 10px;
			}
		}
	}

	.text-input {
		background: #ffffff;
		min-height: 45px;
		border-radius: 5px;
		padding: 0 16px;
		border: 1px solid #fff;
		margin: 0;
		width: 100%;
		margin-top: 10px;
	}

	.title{
		font-size: 18px;
		font-weight: 700;
	}

	.comment {
		color: $secondary-color;
		text-transform: none;
		font-size: 11px;
		font-style: italic;
		margin: 10px 0;
	}

	.select,
	.datetime{
      	background: #ffffff;
	    min-height: 45px;
	    border-radius: 5px;
	    padding: 0 16px;
	    border: 1px solid #fff;
	    margin: 0;
	    width: 100%;
	}

	.select-text{
		padding-left: 16px !important;
	}

	.datetime-text{
		margin: auto;
	}

	.col{
      	padding: 5px 0;
	}

	.item-label-stacked .text-input-md, .item-label-floating .text-input-md{
		margin-top: 0px !important;
		width: calc(100% - 0px) !important;
	}

	.contact-container{
		.item {
			padding-bottom: 10px;
		}
		.item-inner{
			background-color: #fff;
		}
		.text-input[disabled] {
	    	opacity: 1;
	    	margin: 0;
		}
	}

	.contact-focus{
    	box-shadow: 0px 0px 8px 0px #0c7cd5;
	}

	.add_services_button{
	  	button{
		    height: 45px;
		    border-width: 2px;
		    font-size: 15px;
		    font-weight: 500;
		    padding: 0px 30px;

		    ion-icon{
		      	padding-right: 10px;
		      	font-weight: 700;
		    }
	  	}
	}

	.text-input[disabled] {
    	opacity: 1;
	}

	.item-label-stacked .ionic-selectable, .item-label-floating .ionic-selectable {
	    padding-left: 15px;
		background: white;
	}


	.searchbar-md .searchbar-input {
		padding: 6px 55px;
		border-radius: 2px;
		background-position: left 8px center;
		height: auto;
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 3rem;
		color: #ffffff;	
		background-color: transparent !important;
	   -webkit-box-shadow: none;
		box-shadow: none;
	}
}
