page-modal-confirmation-appointment {
	img{
	    max-width: 110px;
			margin-bottom: 20px;
	}

	.message{
	    font-size: 15px;
	    font-weight: 500;
	}

	.button{
		background: #10bbe6;
	    color: #fff;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    text-transform: uppercase;
	    font-size: 5.5vw;
	    font-weight: 500;
	    padding: 30px 10px;
	    border-radius: 5px;
	}

	.additional-info {
		.appointment-info {
			.time {
			    font-weight: 600;
    			font-size: 25px;
    		}
    		.doctor {
    			font-size: 16px;
    		}
    		.hospital, .date {
    			color: #a4a3a3;
    			font-size: 13px;
    			text-transform: uppercase;
    		}
		}
	}

}
