<!--
  Generated template for the ModalConfirmationAppointmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<div class="prompt_modal">
	<div class="modal_container" (click)="escapeModal()">
		<div class="modal_content" (click)="stopPropagation($event)">
			<img src="assets/imgs/modal-appointment-icon.png">
			<div class="content">
				<div class="message">
					Thanks, your appointment request was sent, please wait for your doctor’s confirmation.
				</div>
				<div class="additional-info">
					<div class="appointment-info" padding-vertical margin-bottom>
						<div class="time">{{ selected_time }}</div>
						<div class="doctor" margin-bottom> {{ doctor_profile.prefix }} {{ doctor_profile.firstname }} {{ doctor_profile.lastname }} {{ doctor_profile.suffix }} {{ doctor_profile.medical_degree }} </div>
						<div class="date">{{ selected_day_of_the_week }}, {{ selected_month }} {{ selected_day }}, {{ selected_year }}</div>
						<div class="hospital"> {{ doctor_profile.hospital_name }}  </div>
					</div>
				</div>
				<button ion-button block (click)="escapeModal()"> View my appointments </button>

			</div>
		</div>

	</div>
</div>
