page-form-hmo-application-personal-info {
	.scroll-content {
		background: rgba(29,183,234,1);
		background: -moz-linear-gradient(top, #0cb1e0 0%, #0eb8e4 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, #0cb1e0), color-stop(100%, #0eb8e4));
		background: -webkit-linear-gradient(top, #0cb1e0 0%, #0eb8e4 100%);
		background: -o-linear-gradient(top, #0cb1e0 0%, #0eb8e4 100%);
		background: -ms-linear-gradient(top, #0cb1e0 0%, #0eb8e4 100%);
		background: linear-gradient(to bottom, #0cb1e0 0%, #0eb8e4 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0cb1e0', endColorstr='#0eb8e4', GradientType=0 );
	}

	.back-button {
		width: 50px;
	    height: 56px;
	    position: absolute;
	    z-index: 100;
	    color: #fff;
	    font-size: 30px;
	    padding: 0px;
	}

	ion-slides.slides-container {
		margin-top: 0;
		height: auto !important;
		
		ion-slide {
			div.content {
				padding: 16px;
				max-width: 95%;
				margin: auto;
				color: #fff;
				text-align: left;
				margin-bottom: 10%;

				h2{
					color: #fff;
					font-weight: 600;
					font-size: 30px;
			  		font-family: "Poppins";
			  		margin-top: 30px;
				}

				p {
					font-family: "Poppins";
					font-size: 14px;
			    	margin-top: 13px;
	   				font-weight: 300;
				}

				.col {
					padding: 0;
				}

				.error {
					.input, .select, .datetime {
						border-color: #ea4d53 !important;
					}
				}

				.comment {
		    		color: #b8effe;
		    		text-transform: none;
		    		font-size: 11px;
					font-style: italic;
		    	}

				.item {
					background: transparent;
				    border: 0;
				    padding: 0;
				    color: #fff;
				    margin-bottom: 5px;

				    &.hidden {
				    	display: none;
				    }

				    .item-inner {
				    	border-bottom-color: 0 !important;
				    	box-shadow: none !important;
						padding: 0;

				    	.text-input::-moz-placeholder {
						  color: white;
						}

						.text-input:-ms-input-placeholder {
						  color: white;
						}

						.text-input::-webkit-input-placeholder {
						  color: white;
						}

						.card-no {
							.text-input {
								letter-spacing: 5px;
	    					}
						}
				    }

				    &.item-input-has-focus {
				    	.input {
				    		border: 1px solid #fff;
				    		background-color: transparent;
				    	}
				    }

				    .label {
				    	font-size: 13px;
				    	text-transform: uppercase;
				    	color: #b8effe;
				    }

				    .input, .select, .datetime {
				    	background: rgb(61, 195, 231);
					    width: 100%;
					    opacity: 1;
					    margin-top: 5px;
					    font-size: 15px;
					    color: rgb(255, 255, 255);
					    font-weight: 600;
					    padding: 6px 16px;
					    border-radius: 3px;
					    min-height: 61px;
					    border: 1px solid rgb(61, 195, 231);

					    .datetime-text {
					    	align-self: center;
					    }

					    .text-input {
					    	align-self: center;
						    margin: 0;
						    line-height: 49px;
					    }
				    }
				    .select {
				    	min-height: 61px;
					    line-height: 61px;
					    padding-top: 0;
					    padding-bottom: 0;
					    max-width: 100%;
					    width: 100%;
					    .select-icon {
					    	height: 61px;
					    	.select-icon-inner {
					    		color: #fff;
					    	}
					    }
				    }
				}
			}

			.button {
				height: 50px;
			    font-size: 17px;
			    font-weight: 600;
			    color: #0eb7e4;
			    box-shadow: none;
			    border-radius: 3px;
			    margin-top: 25px;
			    min-width: 50%;
			}
		}
	}

	.text-input[disabled] {
    	opacity: 1;
	}

	.contact-number{
		.input {
		    margin: 0px !important;
		    padding: 6px !important;
		    border: 0px !important;
		    background: transparent !important;
		}

		.label{
		    font-size: 15px !important;
		    color: white !important;
		    margin: 0px !important;
		}

		.item{
		    background: #3dc3e7 !important;
		    width: 100%;
		    opacity: 1;
		    margin-top: 5px;
		    font-size: 15px;
		    color: white;
		    font-weight: 600;
		    padding: 0px 16px !important;
		    border-radius: 3px;
		    min-height: 61px;
		    border: 1px solid #3dc3e7 !important;
		}

		.item.item-input-has-focus .input{
    		border: 0 !important;
    		box-shadow: none !important;
		}

		.focused{
		    border: 1px solid #fff !important;
		    border-radius: 5px;
		}
	}
}
