<!--
  Generated template for the FormHmoApplicationPersonalInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
	<div class="back-button show-back-button" (click)="prevSlide()"> <ion-icon name="ios-arrow-back"></ion-icon> </div>
	 
	 <ion-slides pager="false" margin-top class="slides-container" *ngIf="action === 'add'">
        <ion-slide>
        	<div class="content">
                <h2>Validate your account</h2>
                <p>Make sure your information is correct before continuing.</p>
            
	            <form [formGroup]="existingHmoAccount" *ngIf="user_profile">
	            	<ion-list no-lines>
	            		<ion-item class="field" [class.error]="is_submit_add === true && !existingHmoAccount.controls.account_number.valid">
	            			<ion-label stacked> Card/Policy Number </ion-label>
	            			<ion-input type="text" formControlName="account_number" class="card-no"></ion-input>
	            		</ion-item>
	            		<div class="comment"> <ion-icon name="ios-information-circle-outline"></ion-icon> Should only contain alphanumeric and with no spacings </div>
	            		<div class="validator" *ngIf="is_submit_add === true && !existingHmoAccount.controls.account_number.valid"><div class="form-error">Please enter valid account number</div></div>

	            		<ion-item class="field" [class.error]="is_submit_add === true && !existingHmoAccount.controls.date_of_birth.valid">
	            			<ion-label stacked> Birth date </ion-label>
	            			  <ion-datetime displayFormat="YYYY/MM/DD" pickerFormat="MMMM DD YYYY" formControlName="date_of_birth"></ion-datetime>
	            		</ion-item>
	            		<div class="validator" *ngIf="is_submit_add === true && !existingHmoAccount.controls.date_of_birth.valid"><div class="form-error">This is a required field</div></div>

	            		<ion-item class="hidden">
	            			<ion-input type="hidden" formControlName="firstname" value="{{user_profile.firstname}}"></ion-input>
	            			<ion-input type="hidden" formControlName="lastname" value="{{user_profile.lastname}}"></ion-input>
	            			<ion-input type="hidden" formControlName="email" value="{{user_profile.email}}"></ion-input>
	            		</ion-item>

	            		 <div> <button ion-button color="light" class="btn-next" (click)="nextSlide('existingHmoAccount')"> {{ btn_label }} <ion-icon name="ios-arrow-next"></ion-icon> </button> </div>
	            	</ion-list>
	            </form>
	        </div>
	    </ion-slide>
	</ion-slides>

	 <ion-slides pager="false" margin-top class="slides-container" *ngIf="action === 'apply'">
        <ion-slide>
        	<div class="content">
                <h2>Member's Data</h2>
                <p>Make sure your information is correct before continuing.</p>
            
	            <form [formGroup]="newHmoAccount" *ngIf="user_profile">
	            	<ion-list no-lines>
	            		<ion-item class="field" [class.error]="is_submit_step1 === true && !newHmoAccount.controls.firstname.valid">
	            			<ion-label stacked> First Name </ion-label>
	            			<ion-input type="text" formControlName="firstname" value="{{ user_profile.firstname }}"></ion-input>
	            		</ion-item>
	            		<div class="validator" *ngIf="is_submit_step1 === true && !newHmoAccount.controls.firstname.valid"><div class="form-error">This is a required field</div></div>
	            		
	            		<ion-item class="field"  [class.error]="is_submit_step1 === true && !newHmoAccount.controls.midlename.valid">
	            			<ion-label stacked> Middle Name </ion-label>
	            			<ion-input type="text" formControlName="midlename" value="{{ user_profile.midlename }}"></ion-input>
	            		</ion-item>
	            		<div class="validator" *ngIf="is_submit_step1 === true && !newHmoAccount.controls.midlename.valid"><div class="form-error">This is a required field</div></div>

	            		<ion-item class="field"  [class.error]="is_submit_step1 === true && !newHmoAccount.controls.lastname.valid">
	            			<ion-label stacked> Last Name </ion-label>
	            			<ion-input type="text"  formControlName="lastname" value="{{ user_profile.lastname }}"></ion-input>
	            		</ion-item>
	            		<div class="validator" *ngIf="is_submit_step1 === true && !newHmoAccount.controls.lastname.valid"><div class="form-error">This is a required field</div></div>

	            		<ion-item class="field"  [class.error]="is_submit_step1 === true && !newHmoAccount.controls.mothers_maiden_name.valid">
	            			<ion-label stacked> Mother's Maiden Name </ion-label>
	            			<ion-input type="text" formControlName="mothers_maiden_name" value="{{ user_profile.mothers_maiden_name }}"></ion-input>
	            		</ion-item>
	            		<div class="validator" *ngIf="is_submit_step1 === true && !newHmoAccount.controls.mothers_maiden_name.valid"><div class="form-error">This is a required field</div></div>

	            		<ion-item class="field"  [class.error]="is_submit_step1 === true && !newHmoAccount.controls.email.valid">
	            			<ion-label stacked> Email Address </ion-label>
	            			<ion-input type="email"  formControlName="email" value="{{ user_profile.email }}"></ion-input>
	            		</ion-item>
	            		<div class="validator" *ngIf="is_submit_step1 === true && !newHmoAccount.controls.email.valid"><div class="form-error">This is a required field</div></div>

	            		<ion-item class="field" [class.error]="is_submit_step === true && !newHmoAccount.controls.date_of_birth.valid">
	            			<ion-label stacked> Birth date </ion-label>
	            			  <ion-datetime displayFormat="YYYY/MM/DD" pickerFormat="MMMM DD YYYY" formControlName="date_of_birth"></ion-datetime>
	            		</ion-item>
	            		<div class="validator" *ngIf="is_submit_step === true && !newHmoAccount.controls.date_of_birth.valid"><div class="form-error">This is a required field</div></div>

	            		<ion-item class="field"  [class.error]="is_submit_step === true && !newHmoAccount.controls.place_of_birth.valid">
	            			<ion-label stacked> Place of Birth </ion-label>
	            			<ion-input type="text" formControlName="place_of_birth"></ion-input>
	            		</ion-item>
	            		<div class="validator" *ngIf="is_submit_step === true && !newHmoAccount.controls.place_of_birth.valid"><div class="form-error">This is a required field</div></div>
	            	</ion-list>
	            </form>
	            <div> <button ion-button color="light" class="btn-next" (click)="nextSlide('newHmoAccount')"> {{ btn_label }} <ion-icon name="ios-arrow-next"></ion-icon> </button> </div>
        	</div>
        </ion-slide>

        <ion-slide>
        	<div class="content">
                <h2>Company Information</h2>
                <!-- <p>Make sure your information is correct before continuing.</p> -->
	            <form [formGroup]="newHmoAccount">
	            	<ion-list no-lines>

	            		<ion-item class="field" [class.error]="is_submit_step === true && !newHmoAccount.controls.company_name.valid">
	            			<ion-label stacked> Company Name </ion-label>
	            			<ion-input type="text" formControlName="company_name"></ion-input>
	            		</ion-item>
	            		<div class="validator" *ngIf="is_submit_step === true && !newHmoAccount.controls.company_name.valid">
	            			<div class="form-error">This is a required field</div>
	            		</div>

	            		<ion-item class="field" [class.error]="is_submit_step === true && !newHmoAccount.controls.company_id_no.valid">
	            			<ion-label stacked> Company ID no. </ion-label>
	            			<ion-input type="text" formControlName="company_id_no"></ion-input>
	            		</ion-item>
	            		<div class="validator" *ngIf="is_submit_step === true && !newHmoAccount.controls.company_id_no.valid"><div class="form-error">This is a required field</div></div>

	            		<ion-item class="field" [class.error]="is_submit_step === true && !newHmoAccount.controls.company_job_title.valid">
	            			<ion-label stacked> Position </ion-label>
	            			<ion-input type="text" formControlName="company_job_title"></ion-input>
	            		</ion-item>
	            		<div class="validator" *ngIf="is_submit_step === true && !newHmoAccount.controls.company_job_title.valid">
	            			<div class="form-error">This is a required field</div>
	            		</div>

	            		<ion-item class="field" [class.error]="is_submit_step === true && !newHmoAccount.controls.tin_no.valid">
	            			<ion-label stacked> Tin No. </ion-label>
	            			<ion-input type="text" formControlName="tin_no"></ion-input>
	            		</ion-item>
	            		<div class="validator" *ngIf="is_submit_step === true && !newHmoAccount.controls.tin_no.valid"><div class="form-error">This is a required field</div></div>

	            		<ion-item class="field" [class.error]="is_submit_step2 === true && !newHmoAccount.controls.company_address.valid">
	            			<ion-label stacked> Address </ion-label>
	            			<ion-input type="text" formControlName="company_address" placeholder="Street/Building/Lot Brgy."></ion-input>
	            		</ion-item>
	            		<div class="validator" *ngIf="is_submit_step2 === true && !newHmoAccount.controls.company_address.valid">
	            		<div class="form-error">This is a required field</div></div>

	            		<ion-item class="field" [class.error]="is_submit_step2 === true && !region">
	            			 <ion-label stacked>Province</ion-label>
	            			 <ion-select *ngIf="regions" (ionChange)="getCity(true)" [(ngModel)]="company_region" [ngModelOptions]="{standalone: true}">
						      <ion-option *ngFor="let region of regions" [value]="region">{{ region['provDesc'] }}</ion-option>
						    </ion-select>								      
						    <ion-spinner name="crescent" *ngIf="!regions "></ion-spinner>
	            		</ion-item>
	            		<div class="validator" *ngIf="is_submit_step2 === true"><div class="form-error">This is a required field</div></div>

	            		<ion-item class="field" [class.error]="is_submit_step2 === true && !company_city">
	            			<ion-label stacked>City 
	            				<div class="comment" *ngIf="!region && is_change_company_region === false"> </div>
	            			</ion-label>
	            			<ion-select (ionChange)="getZipcode(true)" *ngIf="company_cities && is_change_company_region === false" [(ngModel)]="company_city" [ngModelOptions]="{standalone: true}">
						      	<ion-option *ngFor="let city of company_cities" [value]="city.citymunDesc">{{ city.citymunDesc }}</ion-option>
						    </ion-select>

	            			<ion-select [selectOptions]="selectOptions" *ngIf="!company_cities" [(ngModel)]="company_city" [ngModelOptions]="{standalone: true}">
						    </ion-select>
						    <ion-spinner name="crescent" *ngIf="is_change_company_region === true"></ion-spinner>
	            		</ion-item>
	            		<div class="validator" *ngIf="is_submit_step2 === true"><div class="form-error">This is a required field</div></div>

	            		<ion-item class="field" [class.error]="is_submit_step2 === true && !company_zip">
	            			<!-- <ion-input type="text" formControlName="zip" placeholder="Zip Code"></ion-input> -->
	            		 	<ion-label stacked>Zipcode</ion-label>

						  	<ion-input *ngIf="(company_zipcode && is_change_company_city === false) && total_company_zip_code == 1" [(ngModel)]="company_zip" [ngModelOptions]="{standalone: true}" type="text" value="{{company_zipcode[0].zip_code}} " disabled> </ion-input>

	            			<ion-select *ngIf="(company_zipcode && is_change_company_city === false) && total_company_zip_code > 1" [(ngModel)]="company_zip" [ngModelOptions]="{standalone: true}">
						      	<ion-option *ngFor="let zip of company_zipcode" [value]="zip.zip_code">{{ zip.zip_code }} <span *ngIf="total_company_zip_code > 1"> - {{zip.city}} </span> </ion-option>
						    </ion-select>

	            			<ion-select *ngIf="!company_zipcode" [selectOptions]="selectZipcodeOptions"[(ngModel)]="company_zip" [ngModelOptions]="{standalone: true}">
						    </ion-select>

	            		</ion-item>
	            		<div class="validator" *ngIf="is_submit_step2 === true"><div class="form-error">This is a required field</div></div>
	            	</ion-list>
	            </form>
	            <div> <button ion-button color="light" class="btn-next" (click)="nextSlide('step2Form')"> {{ btn_label }} <ion-icon name="ios-arrow-next"></ion-icon> </button> </div>
        	</div>
        </ion-slide>

        <ion-slide>
        	<div class="content">
	            <form [formGroup]="newHmoAccount">
	            	<ion-list no-lines>
               			<h2>Other Information</h2>
            			<ion-row>
            				<ion-col col-6 style="padding-right: 5px !important;">
            					<ion-item class="field"  [class.error]="is_submit_step === true && !newHmoAccount.controls.height.valid">
	            					<ion-label stacked> Height </ion-label>
		            				<ion-input type="text" placeholder="ft' in'"  formControlName="height"></ion-input>
		            			</ion-item>
            				</ion-col>
            				<ion-col col-6>
            					<ion-item class="field"  [class.error]="is_submit_step === true && !newHmoAccount.controls.weight.valid">
	            					<ion-label stacked> Weight </ion-label>
		            				<ion-input type="text" placeholder="kg"  formControlName="weight"></ion-input>
		            			</ion-item>
            				</ion-col>
            			</ion-row>
	            		<div class="validator" *ngIf="is_submit_step === true && (!newHmoAccount.controls.height.valid || !newHmoAccount.controls.weight.valid )"><div class="form-error">This is a required field</div></div>

	            		<ion-item class="field">
	            			<ion-label stacked> Civil Status </ion-label>
	            			<ion-select [(ngModel)]="civil_status" [ngModelOptions]="{standalone: true}">
						      <ion-option value="single" selected="true">Single</ion-option>
						      <ion-option value="married">Married</ion-option>
						      <ion-option value="divorced">Divorced</ion-option>
						      <ion-option value="separated">Separated</ion-option>
						    </ion-select>
	            		</ion-item>

	            		<ion-item class="field" [class.error]="is_submit_step1 === true && !newHmoAccount.controls.address.valid">
	            			<ion-label stacked> Residence Address </ion-label>
	            			<ion-input type="text" formControlName="address" placeholder="Street/Building/Lot Brgy."></ion-input>
	            		</ion-item>
	            		<div class="validator" *ngIf="is_submit_step1 === true && !newHmoAccount.controls.address.valid"><div class="form-error">This is a required field</div></div>

	            		<ion-item class="field" [class.error]="is_submit_step1 === true && !region">
	            			 <ion-label stacked>Province</ion-label>
	            			 <ion-select *ngIf="regions" (ionChange)="getCity()" [(ngModel)]="region" [ngModelOptions]="{standalone: true}">
						      <ion-option *ngFor="let region of regions" [value]="region">{{ region['provDesc'] }}</ion-option>
						    </ion-select>								      
						    <ion-spinner name="crescent" *ngIf="!regions "></ion-spinner>
	            		</ion-item>
	            		<div class="validator" *ngIf="is_submit_step1 === true && !region"><div class="form-error">This is a required field</div></div>

	            		<ion-item class="field" [class.error]="is_submit_step1 === true && !city">
	            			<ion-label stacked>City 
	            				<div class="comment" *ngIf="!region && is_change_region === false"> </div>
	            			</ion-label>
	            			<ion-select (ionChange)="getZipcode()" *ngIf="cities && is_change_region === false" [(ngModel)]="city" [ngModelOptions]="{standalone: true}">
						      	<ion-option *ngFor="let city of cities" [value]="city.citymunDesc">{{ city.citymunDesc }}</ion-option>
						    </ion-select>

	            			<ion-select [selectOptions]="selectOptions" *ngIf="!cities" [(ngModel)]="city" [ngModelOptions]="{standalone: true}">
						    </ion-select>
						    <ion-spinner name="crescent" *ngIf="is_change_region === true"></ion-spinner>
	            		</ion-item>
	            		<div class="validator" *ngIf="is_submit_step1 === true && !city"><div class="form-error">This is a required field</div></div>

	            		<ion-item class="field" [class.error]="is_submit_step1 === true && !zip">
	            		 	<ion-label stacked>Zipcode</ion-label>

						  	<ion-input *ngIf="(zipcode && is_change_city === false) && total_zip_code == 1" [(ngModel)]="zip" [ngModelOptions]="{standalone: true}" type="text" value="{{zipcode[0].zip_code}} " disabled> </ion-input>

	            			<ion-select *ngIf="(zipcode && is_change_city === false) && total_zip_code > 1" [(ngModel)]="zip" [ngModelOptions]="{standalone: true}">
						      	<ion-option *ngFor="let zip of zipcode" [value]="zip.zip_code">{{ zip.zip_code }} <span *ngIf="total_zip_code > 1"> - {{zip.city}} </span> </ion-option>
						    </ion-select>

	            			<ion-select *ngIf="!zipcode" [selectOptions]="selectZipcodeOptions" [(ngModel)]="zip" [ngModelOptions]="{standalone: true}">
						    </ion-select>
	            		</ion-item>

	            		<div class="validator" *ngIf="is_submit_step1 === true && !zip">
	            			<div class="form-error">This is a required field</div>
	            		</div>

	            		<ion-row class="field" [class.error]="is_submit_step1 === true && !newHmoAccount.controls.area_code.valid">
	            			<ion-col col-12><ion-label stacked> Contact No. </ion-label> </ion-col>
	            			<ion-col style="padding-right: 5px !important;" col-6>
	            				<ion-item class="field">
			            			<ion-select (ionChange)="contactTypeChange()" [(ngModel)]="contact_type" [ngModelOptions]="{standalone: true}">
								      <ion-option value="home" selected="true">Home</ion-option>
								      <ion-option value="mobile">Mobile</ion-option>
								      <ion-option value="office">Office</ion-option>
								    </ion-select>
			            		</ion-item>
	            			</ion-col>
	            			<ion-col col-6 *ngIf="!hide_area_code">
	            				<ion-item class="field">
			            			<ion-input type="number" onkeydown="return event.keyCode !== 69" formControlName="area_code" placeholder="Area Code"></ion-input>
			            		</ion-item>
	            			</ion-col>
	            		</ion-row>
	            		<div class="validator" *ngIf="is_submit_step1 === true && !newHmoAccount.controls.area_code.valid">
							<div class="form-error">Area Code must be at least 4 digit</div>
	            		</div>

	            		<div class="contact-number">
		            		<ion-item [ngClass]="focus_number ? 'focused' : ''" class="field" [class.error]="is_submit_step1 === true && !newHmoAccount.controls.number.valid">
						  	  	<ion-label *ngIf="hide_area_code" item-left> +63 </ion-label>
		            			<ion-input type="number" (ionFocus)="checkFocus()" (ionBlur)="checkBlur()" onkeydown="return event.keyCode !== 69" formControlName="number" placeholder="Number"></ion-input>
		            		</ion-item>
	            			<div class="validator" *ngIf="is_submit_step1 === true && !newHmoAccount.controls.number.valid">
	            				<div class="form-error">{{formErrorNumber}}</div>
	            			</div>
	            		</div>
	            	</ion-list>
	            </form>

	            <div> <button ion-button color="light" class="btn-next" (click)="nextSlide('newHmoAccount')"> {{ btn_label }} <ion-icon name="ios-arrow-next"></ion-icon> </button> </div>
        	</div>
        </ion-slide>
 	</ion-slides>
</ion-content>
