<!--
  Generated template for the BrowseActivityLogsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Activity Logs</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div class="today-log section">
		<div class="section-title"> Today </div>
		<ion-card>
			<ion-card-content>
			<ion-row>
				<ion-col col-2>
					<div class="thumb" style="background-image: url('assets/imgs/placeholder.png');"></div>
				</ion-col>
				<ion-col col-10 class="dv-color">
					You received an <span class="driver-name-rate">appointment</span> request from <span class="patient-name"> Juan dela Cruz</span> today. 
					<div class="date-time" text-right>20 mins ago</div>
				</ion-col>
			</ion-row>
			</ion-card-content>
		</ion-card>
	</div>

	<div class="previous-log section">
		<div class="section-title"> Previous </div>
		<ion-card>
			<ion-card-content>
			<ion-row>
				<ion-col col-2>
					<div class="thumb" style="background-image: url('assets/imgs/placeholder.png');"></div>
				</ion-col>
				<ion-col col-10 class="dv-color">
					You received an <span class="driver-name-rate">appointment</span> request from <span class="patient-name"> Juan dela Cruz</span> today. 
					<div class="date-time" text-right>20 mins ago</div>
				</ion-col>
			</ion-row>
			</ion-card-content>
		</ion-card>

		<ion-card class="skeleton-loader">
			<ion-card-content>
			<ion-row>
				<ion-col col-2>
					<div class="thumb circle"></div>
				</ion-col>
				<ion-col col-10 class="dv-color">
					<div class="animation skeleton-line1"></div>
					<div class="animation skeleton-line2"></div>
				</ion-col>
			</ion-row>
			</ion-card-content>
		</ion-card>
	</div>
	
</ion-content>
