page-browse-activity-logs {
	.section {
		margin-bottom: 20px;
		.section-title {
			font-weight: 500;
		    text-transform: uppercase;
		    color: #b4b4b4;
		    font-size: 14px;
		}
		.card {
			margin-left: 0;
		    margin-right: 0;
		    width: auto;
		    .card-content {
		    	padding: 10px;
		    }
			.thumb {
		        display: block;
		        width: 100%;
		        padding-bottom: 100%;
		        background-repeat: no-repeat;
		        background-size: cover;
		        background-position: center center;
		        border-radius: 50%;
		    }
		    .dv-color{
		        color: #999999;
		        font-size: 13px;
		        padding-top: 0;

		        .driver-name-rate{
			        color: #0eb6e2;
			    }

		        .patient-name{
			      color: #3d4b58;
			      font-weight: 600;
			    }

			    .date-time{
			    	color: #afafaf;
	    			font-size: 11px;
			    }
		    }
		}
	}
}
