<div class="prompt_modal filter-modal">
	<div class="modal_container" (click)="escapeModal()">
		<div *ngIf="modal_type == 'location'" (click)="stopPropagation($event)" class="modal_content">
			<button ion-button icon-only navPop class="btn-close">
		        <ion-icon name="md-close"></ion-icon>
		      </button>

			<div class="section-title"> Location Services </div>
			<div>
				CheckApp needs access to your location. Please turn on location access.
			</div>
			<div class="action-buttons" margin-top>
				<ion-row>
					<ion-col col-6> <button ion-button block class="btn-cancel" (click)="makeAnAction('cancel')"> Cancel </button> </ion-col>
					<ion-col col-6> <button ion-button block color="primary" (click)="makeAnAction('settings')"> Settings </button> </ion-col>
				</ion-row>
			</div>
		</div>

		<div *ngIf="modal_type == 'api_version'" class="modal_content" (click)="stopPropagation($event)">
			<div class="section-title"> New Version Available </div>
			<div>
				There is a newer version available for download. Please update the app by visiting the {{store_platform}}.
			</div>
			<div>
				Current Version : {{modal_data.app_current_version}}
			</div>
			<div>
				New Version : {{modal_data.app_new_version}}
			</div>
			<div class="action-buttons" margin-top>
				<ion-row>
					<ion-col col-12> <button ion-button block color="primary" (click)="updateAction()"> Update </button> </ion-col>
				</ion-row>
			</div>
		</div>
	</div>
</div>
