page-profile-medical-records {
	
	.scroll-content {
		background-color: #fff;
	}
	.records-segment-buttons {
		background: #fff;
	    padding: 5px;
	    padding-bottom: 0;

	    .segment{
    		overflow: auto;
	    }

		.segment-button {
			color: #3d4b56;
			font-size: 13px;
			font-weight: 600;
			text-transform: uppercase;
		    border: 0;
		    opacity: 1;
		    width: 100%;
			padding: 0px;
		    /*@media(max-width:320px){ margin: 0 10px; }
  			@media(min-width:321px) and (max-width: 360px){  margin: 0 10px;  }*/

			&.segment-activated {
				    border-bottom: 5px solid #04a8df;
			}
		}

		/*.special-segment{
			@media(max-width:320px){ margin-left: 30px; }
  			@media(min-width:321px) and (max-width: 330px){  margin-left: 30px;  }
		}*/
	}
	.hospital-info {
		margin-bottom: 20px;
		.logo {
			img {
				max-height: 80px;
			}
		}
		.name {
			font-size: 16px;
		}
		.location {
			color: #949494;
			font-weight: 300;
		}
		.date {
			color: #949494;
		}
	}
	.content {
		margin-bottom: 20px;
		.title {
			font-weight: 500;
			font-size: 16px;
			margin-bottom: 20px;
		}
		.description {
			margin-bottom: 15px;
		}

		/* FROM rhan */

		.recomend{
			margin-bottom: 10px;

			.icon{		
				color: #04a8df;
			    font-weight: 700;
			    font-size: 15px;
			    padding-right: 5px;
			}
		}

		/* end */
	}
	.doctor-signature {
		.name {
			text-transform: uppercase;
		}
		.specialty {
			font-size: 13px;
			@media(min-width:310px) and (max-width: 349px){ 
				font-size: 10px !important;
			}
			@media(min-width:350px) and (max-width: 374px){ 
				font-size: 11px !important;
			}
			@media(min-width:375px) and (max-width: 398px){ 
				font-size: 12px !important;
			}
		}
	}
}
