page-browse-doctors {
	.searchbar{
	  box-shadow: unset !important;
	  padding: 0;
    	padding-top: 16px;
	}
	.searchbar-input{
	  background-color: #ddd !important;
	  border-radius: 10px !important;
	  box-shadow: unset !important;
	  color: #666 !important;
	}

	.filter-icon{
		height: 15px;
	}

	.mg-right{
		margin-right: 20px;
	}

	.patients{
		.col{
			padding: 5px 0;
		}

		.item-md.item-block .item-inner {
		    padding-right: 0px;
		    border-bottom: 1px solid transparent;
		}
		.label-md {
		    margin: 10px !important;
		}
	    .patient-photo {
	    	margin-top: 5px;
	    	border-radius: 50%;
	    }
		.patient-name{
			color: #3d4b58;
		    font-weight: 500;
		    font-size: 16px;
		    white-space: normal;
		    line-height: 16px;
		}
		.thumb {
			display: block;
			    width: 100%;
			    padding-bottom: 100%;
			    background-repeat: no-repeat;
			    background-size: cover;
			    background-position: center center;
			    border-radius: 50%;
		}
		.doc-hospital{
     		margin-top: 5px;
     		height: 36px !important;
		}
		.under-hospital{
			//margin-top: -10px;
		}
		.under-hospital1{
			//margin-top: 12px;
			text-align: center;
		}
		.status{
			color: #949494;
		    font-size: 12px;
		    margin-right: 7px;
		    line-height: 16px;
		    margin-bottom: 0;
		}

		
		.status1{
			font-size: 12px;
			white-space: nowrap !important;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 100%;
			margin-bottom: 0;
			text-transform: uppercase;
			color: #388e3c;
			&.capital-stat{
				text-transform: capitalize;
			}

			img{
	      		width: 16px;
	    		display: inline-flex;
	    		margin-bottom: -2px;
			}
		}

		.trans-number{
			color: #3492ff;
			font-size: 12px;
		}

		.trans-number1{
			color: #949494;
			font-size: 12px;
			@media(min-width:0px) and (max-width: 340px){ 
				font-size: 10px !important;
			}
			@media(min-width:341px) and (max-width: 365px){ 
				font-size: 11px !important;
			}
		}  

		.sched-time{
			font-size: 13px;

		}
	}
    .meta-hospital{
		.icon{
			font-size: 30px;
		}
    }
}
