page-registration {
	.scroll-content {
		background-color: #fff  !important;
	}

	.head {
		    padding: 20% 0 10%;
		.logo {
			max-width: 190px;
			margin: auto;
		}
	}
	
	.input-cover {
		display: none !important;
	}

	.registration-form {
		max-width: 320px;
		margin: auto;
		
		.textfield {
    		margin-bottom: 10px;
		}

		.item {
			padding-left: 0;
    		box-shadow: none !important;
    		.label {
    			margin-top: 0;
    		}
		}

		ion-icon{
			z-index: 1;
			color: #b7b7b7 !important;
		}

		.forgot {
			font-size: 14px;
			color: #414061;
		}

		.btn-log {
			margin-top: 20%;
			text-align: center;

			.button {
			    font-weight: 600;
			    font-size: 18px;
			    color: #fff;
			    height: 55px;
			    box-shadow: none;
			    min-width: 200px;
			    border-radius: 55px;
			    letter-spacing: 3px;
			}
		}

		.link {
		    text-align: center;
		    margin-top: 20px;
		    color: #bebebe;

		    .button {
		    	height: 25px;
			    text-transform: capitalize;
			    color: #0099e4;
		    }
		}

		.social-media{
			font-weight: 400;
		  	text-align: center;
		    color: #bebebe;

		    .row{
		    	width: 50%;
		    	margin: auto
		    }

			.col{
				padding: 0 5px;
			}

		  	.facebook {
		  		background: #3b5998;
		  	}

		  	.gplus {
		  		background: #cc3333;
		  	}

		  	.icon {
		    	line-height: 2;
		  		color: #fff !important;
			    padding-left: 0;
			    padding-right: 10px;
		  	}

		  	.button {
		  		text-transform: capitalize;
		  		@media(max-width: 414px) {   min-height: 46.56px; }
				@media(min-width: 415px) {   min-height: 56.56px; }
		  	}
		}
	}
}
