<!--
	Generated template for the RegistrationPage page.

	See http://ionicframework.com/docs/components/#navigation for more info on
	Ionic pages and navigation.
-->

<ion-content>

	<div class="head">
		<div class="logo"> <img src="assets/imgs/logo.png"> </div>
	</div>

	<div class="registration-form">
		<form padding [formGroup]="registrationForm">
			<ion-list>
				<div class="textfield">
					<ion-item>
						<ion-label floating>First Name</ion-label>
						<ion-input type="text" formControlName="firstname"></ion-input>
					</ion-item>

					<div class="validator" *ngIf="is_submit === true && !registrationForm.controls.firstname.valid">
						<div class="form-error">Must contain letters only</div>
					</div>
				</div>

				<div class="textfield">
					<ion-item>
						<ion-label floating>Last Name</ion-label>
						<ion-input type="text" formControlName="lastname"></ion-input>
					</ion-item>

					<div class="validator" *ngIf="is_submit === true && !registrationForm.controls.lastname.valid">
						<div class="form-error">Must contain letters only</div>
					</div>
				</div>

				<div class="textfield">
					<ion-item>
						<ion-label floating>Email Address</ion-label>
						<ion-input type="email" formControlName="email"></ion-input>
					</ion-item>

					<div class="validator" *ngIf="is_submit === true && !registrationForm.controls.email.valid">
						<div class="form-error">Enter a valid email address</div>
					</div>
				</div>
							
				<div class="textfield">
					<ion-item>
						<ion-label floating>Password</ion-label>
						<ion-input type="{{ passwordType }}" formControlName="password" clearOnEdit="false"></ion-input>
						<ion-icon name="{{ passwordIcon }}" (click)="togglePassword()" item-right class="show"></ion-icon>
					</ion-item>

					<div class="validator" *ngIf="is_submit === true && !registrationForm.controls.password.valid">
						<div class="form-error">Password must be at least 10 characters</div>
					</div>
				</div>
			</ion-list>

			<div class="btn-log">
				<button ion-button (click)="signUpNow()" class="button-gradient"> Sign Up </button>
			</div>

			<div class="link">
				<div> Already a member? </div>
				<button ion-button clear navPop>Log in here</button>
			</div>

		  	<div class="social-media" padding-vertical>
				<div margin-vertical style="text-transform: uppercase;"> Or Sign up with </div>
				<ion-row><!-- 
				  	<ion-col col-6> 
					  	<button ion-button block class="facebook" (click)="loginFacebook()"> <ion-icon name="logo-facebook"></ion-icon> Facebook </button> 
				  	</ion-col>
				  	<ion-col col-6> 
					  	<button ion-button block class="gplus" (click)="loginGoogle()"> <ion-icon name="logo-googleplus"></ion-icon> Google+ </button> 
					</ion-col> -->
				  	<ion-col col-5> 
					  	<img (click)="loginFacebook()" src="assets/imgs/facebook_ico.png">
				  	</ion-col>
				  	<ion-col col-2>

				  	</ion-col>
				  	<ion-col col-5> 
					  	<img (click)="loginGoogle()" src="assets/imgs/google_ico.png">
					</ion-col>
			  	</ion-row>
		  	</div>			
		</form>
	</div>
</ion-content>
