page-contact {

	.contact-container{
		display: table;
		width: 100%;
		height: 100%;
		.contact-content{
			padding: 10px;
			display: table-cell;
			vertical-align: middle;
      		line-height: 1.5;
		}
		.title{
      		font-size: 35px;
		}
		.contact-details{
			font-weight: 600;
		    font-size: 16px;
     		margin-left: -10px;
		  	@media(min-width:319px) and (max-width: 339px){ font-size: 13px;  }
		  	@media(min-width:340px) and (max-width: 360px){  font-size: 15px;   }
		}
		.icon-container{
            height: 30px;
            width: 30px;
            background: $secondary-color;
            border-radius: 50%;
            position: relative;
        }
        .icon{
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
    	}
		.col{
      		margin: auto;
		    padding: 5px 0;
		}
		.message-button{
      		padding-right: 90px;
      		.button{
    			padding: 25px;
      			color: #fff;
      			border-radius: 30px;
      		}
		}
	}
}
