<ion-content>
	<div class="main-banner" padding>
		<ion-row class="top-layer">
			<ion-col col-4 class="logo"> <img src="assets/imgs/logo-w.png"></ion-col>
			<ion-col col-8 class="current-location" text-right (click)="goToFormSelectLocation()"> 
				<span class="location-spinner justify-right" *ngIf="!current_location && !no_current_location"> <ion-spinner name="crescent"></ion-spinner> getting location </span>
				<span *ngIf="current_location"><ion-icon name="md-pin"></ion-icon> {{ current_location }} </span>  
				<span *ngIf="!current_location && no_current_location"><i> cannot get current location</i> </span>  
			</ion-col>
		</ion-row>
		 <div class="second-layer" padding>
			<div class="greetings"> {{message}}, <span text-capitalize> {{user_name}} </span> </div>
			<div class="greetings-sub"> How are you feeling today? </div>
		</div>
		<div class="last-layer">
			<ion-searchbar placeholder="How may I help you?" [(ngModel)]="searched_keyword" (keyup.enter)="gotoGlobalSearch()"></ion-searchbar>
		</div>
	</div>
 
	<div class="modules_grid" padding>
		<ion-row>
			<ion-col col-6>
				<div class="module_block doctors" (click)="goToSpecialties()">
					<div class="content">
						<div class="icon doctors"></div>
						<p> Doctors </p>
					</div>
				</div>
			</ion-col> 
			<ion-col col-6>
				<div class="module_block hmo_account" (click)="goToHmoAccount()">
					<div class="content">
						<div class="icon hmo"></div>
						<p> HMO Account </p>
					</div>
				</div>
			</ion-col> 
		</ion-row>
		<ion-row>
			<ion-col col-6>
				<div class="module_block appointments" (click)="goToAppointmentsCalendar()">
					<div class="icon appointments"></div>
					<div class="content">
						<div class="icon appointments"></div>
						<p> Appointments </p>
					</div>
				</div>
			</ion-col> 
			<ion-col col-6>
				<div class="module_block medical_records" (click)="goToBrowseMedicalRecords()">
					<div class="icon medical_records"></div>
					<div class="content">
						<div class="icon medical_records"></div>
						<p> Medical Records </p>
					</div>
				</div>
			</ion-col> 
		</ion-row>
	</div>
	
	<div class="featured_articles" padding>
		<div class="section-header" padding> <span>Articles</span> 
			<div class="line"></div> 
		</div>
		<div class="articles_list">
			<div *ngIf="featured_articles ">
				<p *ngFor="let featured of featured_articles['items']; let b=index;">
					<ion-card class="articles_card" (click)="goToArticleInside(featured)" *ngIf="b<=3">
						<ion-card-content>
							<ion-row>
								<ion-col col-4>
									<div class="thumb" *ngIf="!featured.attachments" style="background-image: url('assets/imgs/placeholder.png');"></div>
									<div class="thumb" *ngIf="featured.attachments" [ngStyle]="{'background-image': 'url('+ articleProvider.base_url + featured.attachments.filepath +'/'+ featured.attachments.filename + ')'}"></div>
								</ion-col>
								<ion-col col-8 class="content">
									<ion-row class="meta">
										<ion-col col-6 class="cat"> {{featured.category.title}} </ion-col>
										<ion-col col-6 class="date"> {{ featured.created_at | formatDate }} </ion-col>
									</ion-row>
									<div class="title"> {{featured.title | shortenText }} </div>
								</ion-col>
							</ion-row>
						</ion-card-content>
					</ion-card>
				</p>
			</div>
			<ion-card class="articles_card skeleton-loader" *ngIf="!featured_articles">
				<ion-card-content>
					<ion-row>
						<ion-col col-4>
							<div class="thumb square"></div>
						</ion-col>
						<ion-col col-8 class="content">
							<div class="animation skeleton-line1"></div>
							<div class="animation skeleton-line2"></div>
							<div class="animation skeleton-line2"></div>
						</ion-col>
					</ion-row>
				</ion-card-content>
			</ion-card>

			<button ion-button block class="btn_view_more" [navPush]="browsearticlespage"> More Articles Posts </button>
		</div>
	</div>
</ion-content>
