page-home {
	.main-banner {
		background-color: $light-blue;
		color: #fff;

			.top-layer {
				.logo {
					img {
					    max-height: 26px;
					}
				}
				.current-location {
					text-transform: uppercase;
			   		font-size: 12px;
			   		.spinner {
			   			height: 15px;
			   		}
				}
			}
			.second-layer {
				.greetings {
					font-size: 22px;
				    font-weight: 500;
				    line-height: 22px;
				    margin-bottom: 7px;
				}
				.greetings-sub {
			   		font-size: 12px;
				}
			}
			.last-layer {
				.searchbar-input-container {
					.searchbar-input {
						font-size: 14px ;
					    background: transparent;
					    border-bottom: 1px solid #fff;
					    box-shadow: none;
					    color: #fff;
					    padding: 6px 30px;
					    font-weight: 300;
					}
					.searchbar-search-icon {
				    	left: 0;
				    }
				}
			}
	}

	.main-tiles{
		background: #fff;
	}

	.modules_grid {
		.module_block {
		    display: table;
		    border-radius: 5px;
		    -webkit-box-shadow: 0px 5px 20px -10px rgba(6,166,227,1);
		    -moz-box-shadow: 0px 5px 20px -10px rgba(6,166,227,1);
		    box-shadow: 0px 5px 20px -10px rgba(6,166,227,1);
		    width: 100%;
		    @media(max-width: 320px) { height: 130px; } // width: 130px;
		    @media(min-width:321px) and (max-width: 400px) { height: 160px; } //width: 160px;
		    @media(min-width: 401px) and (max-width: 420px) { height: 170px; } // width: 170px;
		    @media(min-width: 421px) and (max-width: 479px) { height: 185px; } //width: 185px;
		    @media(min-width: 480px)  { height: 215px; } // width: 215px;

		    &.doctors {
		    	background: -moz-linear-gradient(314deg, rgba(255,228,237,1) 0%, rgba(251,179,204,1) 100%); /* ff3.6+ */
				background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(255,228,237,1)), color-stop(100%, rgba(251,179,204,1))); /* safari4+,chrome */
				background: -webkit-linear-gradient(314deg, rgba(255,228,237,1) 0%, rgba(251,179,204,1) 100%); /* safari5.1+,chrome10+ */
				background: -o-linear-gradient(314deg, rgba(255,228,237,1) 0%, rgba(251,179,204,1) 100%); /* opera 11.10+ */
				background: -ms-linear-gradient(314deg, rgba(255,228,237,1) 0%, rgba(251,179,204,1) 100%); /* ie10+ */
				background: linear-gradient(136deg, rgba(255,228,237,1) 0%, rgba(251,179,204,1) 100%); /* w3c */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe4ed', endColorstr='#fbb3cc',GradientType=0 ); /* ie6-9 */
		    }

		    &.hmo_account {
		    	background: -moz-linear-gradient(314deg, rgba(197,236,248,1) 0%, rgba(140,212,233,1) 100%); /* ff3.6+ */
				background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(197,236,248,1)), color-stop(100%, rgba(140,212,233,1))); /* safari4+,chrome */
				background: -webkit-linear-gradient(314deg, rgba(197,236,248,1) 0%, rgba(140,212,233,1) 100%); /* safari5.1+,chrome10+ */
				background: -o-linear-gradient(314deg, rgba(197,236,248,1) 0%, rgba(140,212,233,1) 100%); /* opera 11.10+ */
				background: -ms-linear-gradient(314deg, rgba(197,236,248,1) 0%, rgba(140,212,233,1) 100%); /* ie10+ */
				background: linear-gradient(136deg, rgba(197,236,248,1) 0%, rgba(140,212,233,1) 100%); /* w3c */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5ecf8', endColorstr='#8cd4e9',GradientType=0 ); /* ie6-9 */
		    }

		    &.appointments {
		    	background: -moz-linear-gradient(314deg, rgba(252,229,155,1) 0%, rgba(243,216,129,1) 100%); /* ff3.6+ */
				background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(252,229,155,1)), color-stop(100%, rgba(243,216,129,1))); /* safari4+,chrome */
				background: -webkit-linear-gradient(314deg, rgba(252,229,155,1) 0%, rgba(243,216,129,1) 100%); /* safari5.1+,chrome10+ */
				background: -o-linear-gradient(314deg, rgba(252,229,155,1) 0%, rgba(243,216,129,1) 100%); /* opera 11.10+ */
				background: -ms-linear-gradient(314deg, rgba(252,229,155,1) 0%, rgba(243,216,129,1) 100%); /* ie10+ */
				background: linear-gradient(136deg, rgba(252,229,155,1) 0%, rgba(243,216,129,1) 100%); /* w3c */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fce59b', endColorstr='#f3d881',GradientType=0 ); /* ie6-9 */
		    }

		    &.medical_records {
		    	background: -moz-linear-gradient(314deg, rgba(188,241,183,1) 0%, rgba(164,237,157,1) 100%); /* ff3.6+ */
				background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(188,241,183,1)), color-stop(100%, rgba(164,237,157,1))); /* safari4+,chrome */
				background: -webkit-linear-gradient(314deg, rgba(188,241,183,1) 0%, rgba(164,237,157,1) 100%); /* safari5.1+,chrome10+ */
				background: -o-linear-gradient(314deg, rgba(188,241,183,1) 0%, rgba(164,237,157,1) 100%); /* opera 11.10+ */
				background: -ms-linear-gradient(314deg, rgba(188,241,183,1) 0%, rgba(164,237,157,1) 100%); /* ie10+ */
				background: linear-gradient(136deg, rgba(188,241,183,1) 0%, rgba(164,237,157,1) 100%); /* w3c */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcf1b7', endColorstr='#a4ed9d',GradientType=0 ); /* ie6-9 */
		    }

		    .content {
		       position: relative;
		        width: 100%;
		        background: none;
		        z-index: 111;
		        display: table-cell;
		        vertical-align: middle;

		       p {
		            font-size:4vw;
		            font-weight: 600;
		            color: $text-color;
		            text-align: center;
		            padding: 0 10px;
		            line-height: 20px;
		            @media(max-width: 320px) {margin-top: 0; }
		                margin-bottom: 0;
		        }

		        .icon {
		            background-repeat: no-repeat;
		            height: 60px;
				    width: 60px;
				    background-size: contain;
				    background-position: center center;
				    margin: auto;

		            &.doctors {
				    	background-image: url("../assets/imgs/doctor_icon.png");
		            }
		            &.hmo {
				    	background-image: url("../assets/imgs/hmo_icon.png");
		            }
		            &.appointments {
				    	background-image: url("../assets/imgs/appointments_icon.png");
		            }
		            &.medical_records {
				    	background-image: url("../assets/imgs/medical_records_icon.png");
		            }
		        }
		    }
		}
	}
	/* end of modules_grid */

	.featured_articles {
		background: #f6f6f6;

		.section-header {
			font-weight: 500;
		    text-transform: uppercase;
		    font-size: 13px;
		    padding: 16px;
		    padding-top: 0;
		    margin-bottom: 10px;
		    span {  
		    	display: inline-block;
			    background: #f6f6f6;
			    margin: 0 -10px;
		    }
		    .line {
		    	 margin-top: -11px;
		    	border-bottom: 1px solid #ebebeb;
		    }
		}
		.btn_view_more {
			color: #06a6e3;
			background: #fff;
		    border-radius: 5px;
		    box-shadow: none;
		    margin: 10px;
		    font-size: 12px;
		    padding: 22px;
		    margin: 0;
		}

		.articles_card {
				background: #fff;
				border-radius: 5px;
			    box-shadow: none;
			    margin: 0;
			    width: 100%;
			    margin-bottom: 10px;

			    .card-content {
			    	padding: 10px;
			    }
				.thumb {
					display: block;
				    width: 100%;
				    padding-bottom: 100%;
				    background-repeat: no-repeat;
				    background-size: cover;
				    background-position: center center;
				}

				.content {
					.meta {
						font-size: 12px;
						margin-bottom: 10px;
						.col { padding: 0; }
						.cat { 
							color: #06a6e3; 
							font-weight: 300;
							text-transform: uppercase;
						}
						.date { text-align: right; }
					}
					.title {
						font-size: 4vw;
					    color: #3d4b58;
					    font-weight: 500;
					}
				}
		}
	}

	
}
