page-form-appointment-schedule {
	/*  Note: CSS of Calendar is at App.css */

	.available-times {
		.section-title{
			font-weight: 500;
			font-size: 15px;
			margin-bottom: 10px;
		}
		.button {
			min-height: 36px;
    		font-size: 13px;

    		&.selected {
    			background-color: #3692fe;
    			color: #fff;
    		}
    		&.disabled {
    			background: #e1e1e1;
    			color: #bfbfbf;
    		}
		}
		.warning {
		    font-size: 12px;
			color: #9e9e9e;
		}
	}

	.summary {
		.section {
			margin-bottom: 15px;
		}
		.section-title {
			font-size: 12px;
			color: #9e9e9e;
			font-weight: 500;
			margin-bottom: 3px;
		}
		.content {
			font-weight: 500;
			font-size: 15px;
			    line-height: 27px;

		}
	}
	.btn-set {
		margin-top: 40px;
	}
}
