<!--
  Generated template for the FormAppointmentSchedulePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Book an Appointment</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
	<div class="cal-appoints" margin-bottom>
	    <div class="calendar-header">
	      <ion-row class="calendar-month">
	        <ion-col col-3 class="date-col">
	        	<span *ngIf="currentYear > todayYear"><ion-icon name="ios-arrow-back" class="nav-icon" (click)="goToLastMonth()"></ion-icon></span>
	        	<span *ngIf="currentYear === todayYear"><ion-icon name="ios-arrow-back" class="nav-icon" *ngIf="currentMonthIdx > todayMonthIdx" (click)="goToLastMonth()"></ion-icon></span>
	        </ion-col>
	        <ion-col col-6 class="date-col"><span>{{currentMonth}}</span><br><p class="year">{{currentYear}}</p></ion-col>
	        <ion-col col-3 class="date-col" (click)="goToNextMonth()"><ion-icon name="ios-arrow-forward" class="nav-icon"></ion-icon></ion-col>
	      </ion-row>
	    </div>
	    <div class="calendar-body">
	      <ion-grid>
	      	<ion-row class="calendar-weekday">
	          <ion-col *ngFor="let day of dayshortNames"><span [class.weekends]="(day === 'Sun' || day === 'Sat')" text-uppercase>{{ day }}</span></ion-col>
	        </ion-row>

	        <ion-row class="calendar-date" *ngIf="schedules">
	          <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month date-col" (click)="goToLastMonth()">{{lastDay}}</ion-col>
	          <ion-col col-1 class="date-col" *ngFor="let day of daysInThisMonth">
<!-- 			    	 {{ schedules[dayNames[day.day_of_the_week - 1]] }}
 -->			    	 <!-- if no sched -->
			    	<div *ngIf="!schedules[dayNames[day.day_of_the_week - 1]]" class="disabled">
					    <ion-badge class="prevDate">{{day.day}}</ion-badge>
			    	</div>

			    	<!-- if has sched -->
			    	<div *ngIf="schedules[dayNames[day.day_of_the_week - 1]]">
					    <!-- next and current year -->
			            <div *ngIf="currentYear >= todayYear">
			            	<div [class.selectedDate]="(selected_day && selected_month && selected_year) && (selected_day === day.day && currentMonthIdx === selected_month && currentYear === selected_year)">
					           	<!-- current month but past days -->
					            <ion-badge class="prevDate" *ngIf="todayDate > day.day && currentMonthIdx === todayMonthIdx">{{day.day}}</ion-badge>
					            <!-- past months -->
					            <ion-badge class="prevDate" *ngIf="currentDate !== day.day && currentMonthIdx < todayMonthIdx">{{day.day}}</ion-badge>
				            	<!-- today -->
				            	<ion-badge class="currentDate" *ngIf="currentDate === day.day && currentMonthIdx === todayMonthIdx">{{day.day}}</ion-badge>
					            <!-- next months -->
					            <ion-badge class="otherDate" *ngIf="currentDate !== day.day && currentMonthIdx > todayMonthIdx" (click)="selectDate(day.day, day.day_of_the_week)">{{day.day}}</ion-badge>
					            <!-- current month and next days -->
					            <ion-badge class="otherDate" *ngIf="todayDate < day.day && currentMonthIdx === todayMonthIdx" (click)="selectDate(day.day, day.day_of_the_week)">{{day.day}}</ion-badge>
			            	</div>
			            </div>
					    <!-- past years -->
			            <div *ngIf="currentYear < todayYear">
			            	<ion-badge class="prevDate">{{day.day}}</ion-badge>
			            </div>
			        </div>
	          </ion-col>
	        </ion-row>
	      </ion-grid>
	    </div>
	</div>

	<div class="available-times" padding>
		<div class="loader-lang" padding text-center *ngIf="!available_timeslots && available_timeslots_loader === true">
			<ion-spinner name="crescent"></ion-spinner> checking for schedules
		</div>
		<div>
			<div class="section-title"> Available Timeslots </div>
			<ion-row *ngIf="available_timeslots">
				<ng-container *ngFor="let slot of available_timeslots; let s=index">
					<ion-col col-4 *ngFor="let schedule of slot.schedule; let a=index">
						<button ion-button block color="light" [class.selected]="selected_time === schedule.time_from" (click)="selectTime(schedule.time_from, schedule.time_from_unit, schedule.time_from_military)"> {{ schedule.time_from }} </button>
					</ion-col>
				</ng-container>
			</ion-row>
			<div *ngIf="!available_timeslots" class="warning"> <ion-icon name="ios-information-circle-outline"></ion-icon> <i> To show available timeslots, select a date first  </i> </div>
			<div class="validator" *ngIf="is_submit === true && !selected_time"><div class="form-error">This is a required field</div></div>
		</div>
	</div>

	<div class="summary" padding>
		<div class="section">
			<div class="section-title"> Doctor's Name </div>
			<div class="content"> {{ doctor_profile.prefix }} {{ doctor_profile.firstname | capitalizeText }} {{ doctor_profile.lastname | capitalizeText }} {{ doctor_profile.suffix }} {{ doctor_profile.medical_degree }} </div>
		</div>
		<div class="section">
			<div class="section-title"> Hospital </div>
			<div class="content"> {{ doctor_profile.hospital_name }} </div>
		</div>
		<div class="section">
			<div class="section-title"> Reason to visit</div>
			<div class="content" *ngIf="consultationForm.description">
				{{ consultationForm.description }}
			</div>
		</div>

		<button ion-button block class="btn-set" (click)="sendAppointment()" margin-bottom> Send </button>

	</div>


</ion-content>
