 page-profile-doctor {
	 .section-title {
		font-size: 13px;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 5px;
		i, .icon {
			display: inline-block;
			margin-right: 5px;
			color: #08aae5;
		}
	}




	.doctor-info{
		 background: #fff;

		.basic-info {
			margin-bottom: 20px;

			.col { padding: 0; }
			.name{
				color: #3d4b58;
			    font-weight: 500;
			    font-size: 17px;
			    margin-bottom: -2px;
			    margin-top: 0px;
			}
			.specialty{
				color: #3d4b56;
			    font-size: 13px;
			    display: inline-block;
			    margin: 0;
			    font-weight: 300;
			}
			.contact{
				color: #949494;
				font-size: 12px;
				font-weight: 300;
				margin: 5px 0;
			}
			.thumb {
				display: block;
			    width: 100%;
			    padding-bottom: 100%;
			    background-repeat: no-repeat;
			    background-size: cover;
			    border-radius: 50%;
			}
			.sched-time{
				font-size: 12px;
			}
			.status {
				.badge {
					color: #08aae5;
				    font-weight: 300;
				    text-transform: uppercase;
				    background: transparent;
				    border: 1px solid #08aae5;
				    font-size: 10px;
				    padding: 0 8px;
				    line-height: 28px;
				    margin-top: 10px;
				    font-weight: 500;
				}
			}
			.not-status {
				.badge {
					color: #aaaaaa;
				    font-weight: 300;
				    text-transform: uppercase;
				    background: transparent;
				    border: 1px solid #aaaaaa;
				    font-size: 10px;
				    padding: 0 8px;
				    line-height: 28px;
				    margin-top: 10px;
				    font-weight: 500;
				}
			}

			.under-hospital{
				margin-top: 10px;
			}

			.status1{
				font-size: 2.5vw;
				white-space: nowrap !important;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 100%;
				margin-bottom: 0;
				text-transform: uppercase;
				color: #388e3c;
				&.capital-stat{
					text-transform: capitalize;
				}

				img{
		      		width: 16px;
		    		display: inline-flex;
		    		margin-bottom: -2px;
				}
			}
		}
		/* End of Basic Info */

		.top-other-info {
			.description {
				font-size: 15px;
				    margin-bottom: 15px;
			}
			.education {
				.title {
					font-size: 13px;
					font-weight: 600;
				}
			}
			.col{
				padding: 0px;
			}
		}

	    .meta-hospital{
			.icon{
				font-size: 30px;
			}
	    }
		/* End of Basic Info */
	}


	.hospital-info {
		.hospital-segment-buttons {
			background: #fff;
		    padding: 16px;
		    padding-bottom: 0;
		    margin-bottom: 15px;

			.segment-button {
				color: #3d4b56;
				font-size: 13px;
				font-weight: 600;
				text-transform: uppercase;
			    border: 0;
			    opacity: 1;

				&.segment-activated {
					    border-bottom: 5px solid #04a8df;
				}
			}
		}
		.hospital-segemnt-content {
			.hospital-tab-container {
				margin-bottom: 20px;
				.identification {
					padding: 16px;
				    padding-right: 0;
				    padding-top: 0;

					.thumb {
						display: block;
					    width: 100%;
					    padding-bottom: 100%;
					    background-repeat: no-repeat;
					    background-size: cover;
					    border-radius: 50%;
					}
					.info {
						.icon {
							width: 15px;
						 }
						.name {
							font-size: 13px;
							font-weight: 500;
						}
						.hosp-icon{
							display: block;
							@media(max-width: 320px) { width: 5.3%; height: 5% !important; padding-bottom: 5%; margin-top: 3.5px; margin-left: -3px;}
						    @media(min-width:321px) and (max-width: 400px) { width: 4.3%; height: 4% !important; padding-bottom: 4%; margin-top: 3.5px; margin-left: -3px;}
						    @media(min-width: 401px) and (max-width: 420px) { width: 4.3%; height: 4% !important; padding-bottom: 4%; margin-top: 3px; margin-left: -4px;}
						    @media(min-width: 421px) and (max-width: 479px) { width: 4.3%; height: 4% !important; padding-bottom: 4%; margin-top: 2px; margin-left: -4px;}
						    @media(min-width: 480px)  { width: 3.3%; height: 3% !important; padding-bottom: 3%; margin-top: 3.5px; margin-left: -3px;}
						    background-repeat: no-repeat;
						    background-size: cover;
						    background-position: center center;
						    float: left;
						    margin-right: 7px;
						}
						.location {
							font-size: 12px;
						}
					}
				}
				.map-container {
					position: relative;
					margin-bottom: 20px;
					min-height: 60px;

					#map_canvas {
				        width: 100%;
				        height: 100%;
				    }

					.bottom-details {
						max-width: 255px;
						background: #eaeaea;
						position: absolute;
					    width: 100%;
					    bottom: 15px;
					    left: 15px;

						.car-icon {
							color: #fff;
						    background: #0072bc;
						    border-radius: 3px;
						    text-align: center;
						    font-size: 25px;
						}
						.distance-time {
							padding-left: 10px;
							.title{
								color: #777777;
								text-transform: uppercase;
								font-size: 9px;
							}
							.number {
								color: #3d4b58;
								font-size: 14px;
								/*.unit {
									color: #7f7f7f;
									font-size: 9px;
									text-transform: uppercase;
								}*/
							}
						}
					}
				}
				.schedules {
					.schedule-list {
						margin-bottom: 29px;

						.schedule-item {
							font-weight: 300;
							font-size: 13px;
							    margin-bottom: 5px;

							.days {
								color: #424242;
							}
							.times {
								color: #949494;
							}
						}
					}

				}

			} /* End of Hospital Tab */

			.services-tab-container {
				.services-list {
					.service-item {
						font-size: 14px;
						color: #494949;
						margin-bottom: 8px;
					}
				}
			}

		}


	}
	/* End of Hospital Info */

	.swiper-container{
     	overflow: visible !important;
	}

	.more-hospital-container{
	  	text-align: center;

	  	.card-content{
	  		padding: 10px;
	  	}
	  	.featured-hospital-container{
		    padding: 15px 15px 0;
		    width: 55%;
		    margin: auto;
		  	.hospital-thumbnail{
	      		display: block;
			    width: 100%;
			    padding-bottom: 100%;
			    background-repeat: no-repeat;
			    background-size: cover;
			    border-radius: 50%;
		  	}
	  	}

	  	.card-title-md {
			display: inline-flex;
			height: 100px;
		}

	  	.view-direction{
	  		padding: 16px;
			@media(min-width:0px) and (max-width:331px){
	  			padding: 10px;
			}
	  		text-transform: uppercase;
	 		font-size: 12px;
			border-top: 1px solid #e5e5e5;
	  	}

	  	.selected-hosp{
	  		border: 2px solid #04a8df;
    		background: rgba(4, 168, 223, 0.2);
	  	}

	  	.address{
	  		padding: 10px;
	  	}

	  	.hosp-address{
    		height: 40px;
	  	}

		.address-icon{
		    display: inline-flex;
		    margin: auto;
		    img{
	  			width: 20px !important;
				height: 20px !important;
				@media(min-width:0px) and (max-width:331px){
	  				width: 16px !important;
					height: 16px !important;
				}
		    }
		}

		.address-name{
			margin-top: -5px;
	 		height: 35px !important;
			@media(min-width:310px) and (max-width: 349px){
				font-size: 13px !important;
			}
			@media(min-width:350px) and (max-width: 374px){
				font-size: 15px !important;
			}
			@media(min-width:375px) and (max-width: 398px){
				font-size: 17px !important;
			}
		}

	  	.card{
		    box-shadow: 0px 0px 5px 0px #d6d6d6;
		    margin: 10px 0px 20px;
		    border-radius: 4px;
		}
	}
}
