<!--
  Generated template for the ProfileDoctorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  	<ion-navbar>
    	<ion-title>Doctor's Profile</ion-title>
  	</ion-navbar>
</ion-header>

<ion-content>
	<div *ngIf="doctorProfile">
		<div class="doctor-info" padding>
			<div class="basic-info">
				<ion-row>
					<ion-col col-9>
						<p class="name" text-capitalize>
							<span *ngIf="doctorProfile.prefix">{{ doctorProfile.prefix }}</span>
							{{ doctorProfile.firstname }} {{ doctorProfile.lastname }}
							<span *ngIf="doctorProfile.suffix">{{ doctorProfile.suffix }}</span>
							<span *ngIf="doctorProfile.medical_degree">{{ doctorProfile.medical_degree }}</span>
						</p>
		    			<p class="specialty" text-wrap *ngIf="doctorProfile.specialties">
							<span *ngFor="let special of doctorProfile.specialties; let i=index">
								{{ special.specialties_title }}
								<span *ngIf="doctorProfile.total_specialties == '2' || doctorProfile.total_specialties == 2">
									<span *ngIf="i == 0"> &amp; </span>
								</span>
								<span *ngIf="doctorProfile.total_specialties > '2' || doctorProfile.total_specialties > 2">
									<span *ngIf="i+1 < doctorProfile.total_specialties">, </span>
								</span>
							</span>
		    			</p>
						<!-- <p class="contact" text-wrap *ngFor="let num of doctorProfile.contact; let b=index;">
						<ion-icon name="ios-call-outline"></ion-icon>
							{{num.number}}
						</p> -->
						<div class="status" *ngIf="doctorProfile.status == '1' && total_storeScheds > 0"> <ion-badge> Available for Booking </ion-badge> </div>
						<div class="not-status" *ngIf="doctorProfile.status == '1' && total_storeScheds == 0"> <ion-badge> Not Available for Booking </ion-badge> </div>
					</ion-col>
					<ion-col col-3>
						<div class="thumb" *ngIf="!doctorProfile.attachments_filename || !doctorProfile.attachments_filepath" style="background-image: url('assets/imgs/doctor-placeholder.png');"></div>
						<div class="thumb" *ngIf="doctorProfile.attachments_filename && doctorProfile.attachments_filepath" [ngStyle]="{'background-image': 'url('+ doctorProvider.base_url + doctorProfile.attachments_filepath +'/'+ doctorProfile.attachments_filename + ')'}"></div>
						<div class="under-hospital" *ngIf="doctorProfile.license_verification_status == '1'">
							<span class="status1"><img src="assets/imgs/verified_ico.png"> PRC <span class="capital-stat"> Verified </span> </span>
						</div>
					</ion-col>
				</ion-row>
			</div>

			<div class="top-other-info" *ngIf="doctorProfile.biography">
				<ion-row>
					<ion-col col-11>
						<div class="section-title"> <i class="fa fa-address-card-o" aria-hidden="true"></i> Doctor Info </div>
						<div class="description">
							{{doctorProfile.biography}}
						</div>
						<!-- <div class="education">
							<div class="title">Education</div>
							<div> University Of The Philippines </div>
						</div> -->
					</ion-col>
					<ion-col text-right class="meta-hospital">
						<ion-icon (click)="addtoBookmark(doctorProfile)" [ngClass]="doctorProfile.bookmark_id ? 'filled-bookmark' : 'unfilled-bookmark'" [name]="doctorProfile.bookmark_id ? 'ios-bookmark' :'ios-bookmark-outline'"></ion-icon>
					</ion-col>
				</ion-row>
			</div>
			<div class="meta" *ngIf="!doctorProfile.biography">
				<ion-row>
					<ion-col text-right class="meta-hospital">
						<ion-icon (click)="addtoBookmark(doctorProfile)" [ngClass]="doctorProfile.bookmark_id ? 'filled-bookmark' : 'unfilled-bookmark'" [name]="doctorProfile.bookmark_id ? 'ios-bookmark' :'ios-bookmark-outline'"></ion-icon>
					</ion-col>
				</ion-row>
			</div>
		</div>

		<div class="hospital-info">
			<div class="hospital-segment-buttons" padding>
			  <ion-segment [(ngModel)]="hospital_tabs" (ionChange)="changeMapVisibility()">
			    <ion-segment-button value="hospital">
			      	Hospital Info
			    </ion-segment-button>
			    <ion-segment-button value="services">
			     	Doctor Services
			    </ion-segment-button>
			    <!-- <ion-segment-button value="other-hospital">
			      Other Hospitals
			    </ion-segment-button> -->
			  </ion-segment>
			</div>

			<div class="hospital-segemnt-content" *ngIf="main_hospital">
				<div [class.hide]="hospital_tabs !== 'hospital'" class="hospital-tab-container">
					<ion-row class="identification">
						<ion-col col-2>
							<div class="thumb" *ngIf="!main_hospital.hospital_attachments_filename || !main_hospital.hospital_attachments_filepath" style="background-image: url('assets/imgs/hospital-placeholder.png');"></div>

							<!-- <div class="thumb" *ngIf="main_hospital.hospital_attachments_filename && main_hospital.hospital_attachments_filepath" [ngStyle]="{'background-image': 'url('+ doctorProvider.base_url + main_hospital.hospital_attachments_filepath +'/'+ main_hospital.hospital_attachments_filename + ')'}"></div> -->

							<img-loader *ngIf="main_hospital.hospital_attachments_filename && main_hospital.hospital_attachments_filepath" class="image-loader round" src="{{ doctorProvider.base_url + main_hospital.hospital_attachments_filepath +'/'+ main_hospital.hospital_attachments_filename }}"></img-loader>

						</ion-col>
						<ion-col col-10 class="info">
							<div class="name" text-capitalize> <ion-icon name="ios-home-outline"></ion-icon> {{main_hospital.hospital_name}}</div>
							<div class="location"> <ion-icon name="ios-pin-outline"></ion-icon>
								<span *ngIf="(main_hospital.hospital_address || main_hospital.hospital_city) && (main_hospital.hospital_region || main_hospital.hospital_country || main_hospital.hospital_zip)">
									{{main_hospital.hospital_address}} {{main_hospital.hospital_city}}, {{main_hospital.hospital_region}} {{main_hospital.hospital_country}} {{main_hospital.hospital_zip}}
								</span>
								<span *ngIf="(!main_hospital.hospital_address && !main_hospital.hospital_city) && (!main_hospital.hospital_region && !main_hospital.hospital_country && !main_hospital.hospital_zip)">
									No Address Yet
								</span>
							</div>
						</ion-col>
					</ion-row>

					<div class="map-container">
						<div class="map">
							<div #map id="map"></div>
						</div>
						<div class="bottom-details" *ngIf="hospital_location">
							<ion-row>
								<ion-col col-2 class="car-icon"> <ion-icon name="md-car"></ion-icon> </ion-col>
								<ion-col col-4 class="distance-time">
									<div class="title">Distance</div>
									<div class="number"> {{ hospital_location['distance']['text'] }}</div>
								</ion-col>
								<ion-col col-6 class="distance-time">
									<div class="title">Time</div>
									<div class="number"> {{ hospital_location['duration']['text'] }} </div>
								</ion-col>
							</ion-row>
						</div>
					</div>
				</div>
			</div>

			<div class="hospital-segemnt-content" [ngSwitch]="hospital_tabs" padding>
				<div [class.hide]="hospital_tabs !== 'hospital'" class="hospital-tab-container">
					<div *ngIf="more_hospital && more_hospital.length !== 0">
						<div class="section-title"> Select Hospital </div>
						<div>
							<ion-slides slidesPerView="1.6">
						        <ion-slide *ngFor="let hospital of more_hospital; let i=index;">
						          	<div class="more-hospital-container">
						                <ion-card text-center (click)="viewHospital(hospital, i)" [ngClass]="hospital_id == hospital.hospital_id ? 'selected-hosp' : ''">
						                    <div class="featured-hospital-container">
							 					<div class="hospital-thumbnail" *ngIf="!hospital.hospital_attachments_filename && !hospital.hospital_attachments_filepath" style="background-image: url('assets/imgs/hospital-placeholder.png');">
							 					</div>

												<!-- <div class="hospital-thumbnail" *ngIf="hospital.hospital_attachments_filename && hospital.hospital_attachments_filepath" [ngStyle]="{'background-image': 'url('+ doctorProvider.base_url + hospital.hospital_attachments_filepath +'/'+ hospital.hospital_attachments_filename + ')'}"></div> -->

												<img-loader *ngIf="hospital.hospital_attachments_filename && hospital.hospital_attachments_filepath" class="image-loader round" src="{{ doctorProvider.base_url + hospital.hospital_attachments_filepath +'/'+ hospital.hospital_attachments_filename }}"></img-loader>

						                    </div>
						                    <ion-card-content>
						                        <ion-card-title>
						                          <h2> {{hospital.hospital_name}} </h2>
						                        </ion-card-title>
						                        <div class="address">
						                        	<div class="address-icon">
	                              						<img src="assets/imgs/more-hospital-ico.png">
	                              					</div>
						                        	<h6 class="hosp-address"> {{hospital.hospital_city}}<span *ngIf="hospital.hospital_city">, </span>{{hospital.hospital_region}} </h6>
						                        </div>
						                    </ion-card-content>
						                    <!-- <div class="view-direction" (click)="viewHospital(hospital, i)">
						                    	View Direction
						                    </div> -->
						                </ion-card>
						          	</div>
						        </ion-slide>
						    </ion-slides>
						</div>
					</div>
					<div class="schedules"  *ngIf="doctorProfile.status == '1'">
						<div class="section-title"> <ion-icon name="md-time"></ion-icon> Schedules </div>
						<div class="schedule-list" *ngIf="storeScheds && total_storeScheds > 0">
							<div class="schedule-item" *ngFor = "let scheds of storeScheds; let b=index;">
								<div class="days"> {{scheds.day}} </div>
								<div class="times">
									<p *ngFor="let ts of scheds.timeslots; let b=index;">
										<span class="from">{{ts.time_slot.time_from_display}} {{ts.time_slot.time_from_parameter}} - </span>
										<span class="to"> {{ts.time_slot.time_to_display}} {{ts.time_slot.time_to_parameter}} </span>
									</p>
								</div>
							</div>
						</div>
						<div *ngIf="total_storeScheds == null" text-center>
							<ion-spinner name="crescent"></ion-spinner>
						</div>

						<div *ngIf="total_storeScheds == 0 || total_consultation_services == 0" class="no-result" padding text-center> No
							<span *ngIf="total_storeScheds == 0"> schedules </span>
							<span *ngIf="total_storeScheds == 0 && total_consultation_services == 0"> and </span>
							<span *ngIf="total_consultation_services == 0"> services </span>
							yet </div>

						<div *ngIf="doctorProfile.status == 1 && storeScheds && storeScheds.length && total_consultation_services > 0">
							<button ion-button block class="btn-set" (click)="setAppointment()"> Set an appointment </button>
						</div>
					</div>
				</div>

				<div *ngSwitchCase="'services'" class="services-tab-container services-container">
					<div *ngIf="hospital_services && total_hospital_services == 0" class="no-result " padding text-center> No service yet </div>

					<ion-card class="service-results results-box service-skeleton skeleton-loader" *ngIf="!hospital_services">
					  	<ion-card-header> <div class="animation skeleton-line2"></div> </ion-card-header>
						<ion-list>
						    <div class="service-card-skeleton">
							    <ion-row>
							    	<ion-col col-12>
										<div class="animation skeleton-line1"></div>
							    	</ion-col>
							    </ion-row>
						    </div>
						    <div class="service-card-skeleton">
							    <ion-row>
							    	<ion-col col-12>
										<div class="animation skeleton-line2"></div>
							    	</ion-col>
							    </ion-row>
						    </div>
						    <div class="service-card-skeleton">
							    <ion-row>
							    	<ion-col col-12>
										<div class="animation skeleton-line3"></div>
							    	</ion-col>
							    </ion-row>
						    </div>
						 </ion-list>
						 <div block class="btn_view_more padding-10"></div>
					</ion-card>

					<ng-container *ngIf="hospital_services && total_hospital_services > 0">
						<!-- key: key, value: value[key] -->
						<ion-card *ngFor="let services of hospital_services | keys" class="service-results results-box" >
						  	<ion-card-header> {{ services.key | capitalizeText }} </ion-card-header>
							<ion-list>
								<div *ngFor="let svc of services.value; let b=index;">
								    <div class="service-card" *ngIf="b<=2">
									    <ion-row>
									    	<ion-col col-12>
												<p>{{ svc.service_title }}</p>
									    	</ion-col>
									    </ion-row>
								    </div>
								</div>
							 </ion-list>
						 	<button *ngIf="total_count[services.key] > 3" ion-button block class="btn_view_more" (click)="seeAllServices(services.key, services.value)"> See All </button>
						 	<div *ngIf="total_count[services.key] <= 3" block class="btn_view_more padding-10"></div>
						</ion-card>
					</ng-container>
				</div>

				<div *ngSwitchCase="'other-hospital'" class="others-tab-container">

				</div>
			</div>
		</div>
	</div>
</ion-content>
