page-notification {
  

    .card{
      margin: 0px;
      width: 100%;
      margin-bottom: 5px;
      box-shadow: 0px 5px 20px -10px #bcbcbc;
    }
   
    .mg-right{
      margin-right: 20px;
    }
    .thumb {
        display: block;
          width: 100%;
          padding-bottom: 100%;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 50%;
      }
     .driver-name-rate{
        margin-top: 3px;
        color: #0eb6e2;
    }
    .patient-name{
      color: #3d4b58;
      font-weight: 600;
    }
    .dv-color{
        color: #999999;
        font-size: 13px;
        padding-top: 0;
    }
    .dv-uncolor{
        color: #000;
        font-size: 13px;
        font-weight: 700;
        padding-top: 0;
    }
    .blue-dot{
    	height: 10px;
    	width: 10px;
    	border-radius: 50px;
    	background-color: #f04f55;
    	position: absolute;
      bottom: 5px;
      right: 0;
    }
    hr{
    	margin-left: -20px;
    	margin-right: -20px;
    }
    .date-time{
    	margin-top: 5px;
    	bottom: 0;
      color: #3d4b58;
      font-size: 11px;
    }
    .no-saved-booking{
      text-align: center;
      margin-top: 35%;
    }
    .no-save-photo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 80px;
    }
    .no-save-p{
      margin-top: 20px;
      font-weight: 900;
      font-size: 18px;
      color: #343434;
    }
    .parag{
      line-height: 25px;
      margin-left: 45px;
      margin-right: 45px;
      color: #999999;
      font-size: 15px;
    }
    .close-btn{
      font-size: 30px;
    }
    .btn-left{
      margin-left: 20px !important;
    }
}
