<!--
  Generated template for the NotificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Notifications</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-refresher padding (ionRefresh)="reloadData($event)">
		<ion-refresher-content
	      	pullingIcon="md-refresh-circle"
	      	pullingText=""
	      	refreshingSpinner="circles"
	      	refreshingText="">
	    </ion-refresher-content>
	</ion-refresher>

	<div *ngIf="notifications && total_notifications === 0" class="empty-states-content">
        <img src="assets/imgs/no-notif.png">
        <div padding margin-left margin-right>
            <div class="empty-states-title"> No Notifications Yet </div>
            <p> All updates from your appointments will be displayed here.</p>
        </div>
   	</div>

	<ion-card *ngIf="!notifications" class="skeleton-loader">
		<ion-card-content>
			<ion-row>
				<ion-col col-2>
					<div class="thumb"></div>
				</ion-col>
				<ion-col col-9 class="dv-color">
					<div class="animation skeleton-line1"></div>
					<div class="animation skeleton-line1"></div>
					<div class="animation skeleton-line2"></div>
				</ion-col>
			</ion-row>
		</ion-card-content>
	</ion-card>

	<div *ngIf="notifications && total_notifications > 0">
		<ion-card *ngFor="let notification of notifications; let i=index;" (click)="gotoAppointmentCalendar(i, notification.id, notification.status, notification)">
			<ion-card-content>
			<ion-row>
				<ion-col col-3>
					<div class="thumb"  *ngIf="!notification.attachment && notification.type == 'hmo_transactions'" style="background-image: url('assets/imgs/doctor-placeholder.png');"></div>
					<div class="thumb"  *ngIf="!notification.attachment && notification.type != 'hmo_transactions'" style="background-image: url('assets/imgs/placeholder.png');"></div>

					<!-- <div class="thumb"  *ngIf="notification.attachment" [ngStyle]="{'background-image': 'url('+ userProvider.base_url + notification.attachment['filepath'] +'/'+ notification.attachment['filename'] + ')'}">
					</div> -->

					<img-loader *ngIf="notification.attachment" class="image-loader round" src="{{ userProvider.base_url + notification.attachment['filepath'] +'/'+ notification.attachment['filename'] }}"></img-loader>
				</ion-col>
				<ion-col col-8 [ngClass]="(notification.status == '2') ? 'dv-uncolor' : 'dv-color'">
					{{ notification.message }} <span *ngIf="notification.type === 'hmo_transactions'" class="patient-name"> </span>
					<p class="date-time"> {{notification.created_at | formatDate}}</p>
				</ion-col>
				<ion-col col-1>
					<div *ngIf="notification.status == '2'" class="blue-dot"></div>
				</ion-col>
			</ion-row>
			</ion-card-content>
		</ion-card>
		<ion-infinite-scroll padding-top (ionInfinite)="doInfinite($event)">
			<ion-infinite-scroll-content
			    loadingSpinner="bubbles"
			    loadingText="Loading More notification...">
			</ion-infinite-scroll-content>
		</ion-infinite-scroll>
	</div>

</ion-content>
