page-form-hmo-payment {
	.toolbar-background {
		background-color: #fff;
		color: #294b68;
	}
	.toolbar-title {
		color: #294b68 !important;
	}
	.back-button {
		color: #294b68 !important;
	}

	.head {
		background-color: #fff;
      	padding: 0 10px 16px;
      	font-size: 13px;
      	box-shadow: 0px 5px 5px 0px rgba(225,225,225,1);

      	.col{
      		padding: 5px 0;
      	}
		.header-container{
			position: relative;
			width: 100%;
     		height: 56px;
			color: #294b68 !important;
		}
		.header-title{
      		font-size: 23px;
		    font-weight: 500;
		    padding-left: 15px;
		}
		.back-button {
		    height: 56px;
		    position: absolute;
		    z-index: 100;
			color: #294b68 !important;
		    font-size: 30px;
		    padding: 15px 0;
		    display: inline-flex;
		}
		.logo {
			//max-width: 45%;
		    text-align: center;
		    border: 1px solid #cccccc;
		    border-radius: 5px;
		    background-color: #fff;

		    img {
		    	max-height: 60px;
		    }
		}
		.clearfix {
			clear: both;
		}
		.title-bill {
		   	color: #8e8f8f;
		}
	}

	.list {
		.item {
			background: transparent;
		    border: 0 !important;
		    padding: 0;
		    color: #fff;

		    &.item-input-has-focus {
		    	.input {
		    		border: 1px solid transparent;
		    	}
		    }

		     .item-inner {
			    	border-bottom: 0;
			    	padding: 0;
			    }

		    .label {
		    	font-size: 13px;
		    	text-transform: uppercase;
		    	color: #8e8f8f;
		    }

		    &.amount {
		    	.input {
		    		color: #294b68;
		    		font-size: 20px;
		    		font-weight: 600;
		    	}
		    }

		    .input, .select {
		    	background: #fff;
			    width: 100%;
			    opacity: 1;
			    margin-top: 5px;
			    font-size: 15px;
			    color: #294b68;
			    padding: 6px 16px;
			    border-radius: 3px;
			    min-height: 51px;
		    }
		    .select {
		    	min-height: 51px;
			    line-height: 51px;
			    padding-top: 0;
			    padding-bottom: 0;
			    .select-icon {
			    	height: 51px;
			    	.select-icon-inner {
			    		color: #fff;
			    	}
			    }
		    }

			.datetime{
				background: #fff;
			    width: 100%;
			    opacity: 1;
			    margin-top: 5px;
			    font-size: 15px;
			    color: #294b68;
			    padding-left: 16px;
			}
		}
	}

	.payment-options {
		.section-title {
		    background: #fff;
		    color: #3d3d3d;
		    font-weight: 600;
		    text-transform: uppercase;
		    font-size: 14px;
		}

		.section-subtitle {
			font-size: 15px;
		}

		.content {
			padding: 20px; 
		}

		.item {
			background: transparent;
		    border: 0 !important;
		    padding: 0;
		    color: #fff;
		    margin: 20px 0;

		    &.item-input-has-focus {
		    	.input {
		    		border: 1px solid #0098e4;
		    	}
		    }

		    .label {
		    	font-size: 13px;
		    	text-transform: uppercase;
		    	color: #8e8f8f;
		    }
		    .item-inner {
		    	border-bottom: 0;
		    }
		    &.terms-condition {
		    	.label {
			    	font-size: 13px;
			    	text-transform: none;
			    	color: #3d3d3d;
			    	text-align: left;
			    }
		    }
		    .input, .select {
		    	background: #fff;
			    width: 100%;
			    opacity: 1;
			    margin-top: 5px;
			    font-size: 15px;
			    color: #294b68;
			    padding: 6px 16px;
			    border-radius: 3px;
			    min-height: 51px;
		    }
		    .select {
		    	min-height: 51px;
			    line-height: 51px;
			    padding-top: 0;
			    padding-bottom: 0;
			    .select-icon {
			    	height: 51px;
			    	.select-icon-inner {
			    		color: #294b68;
			    	}
			    }
		    }
		}
	}

	.register-form-container{
		text-align: center;
     	padding: 30px 60px 0;
      	letter-spacing: .5px;
	}
	.register-upload{
	    border-style: dashed;
	    border-width: 2px;
	    border-radius: 6px;
	    border-color: #979797;
	    .upload-container{
      		padding: 0 80px;
	    }
	    .upload-desc{
      		font-size: 15px;
		    font-weight: 100;
		    margin: 10px 0 5px;
	    }
	}	

	.uploaded-container {
		position: relative;
     	padding: 0 12px;
		.badge {
			position: absolute;
			right: 0;
			top: -10px;
			background: #ea4d53;
			border-radius: 50%;
			height: 27px;
			width: 27px;
		}
		.icon {
			line-height: 20px;
			font-size: 15px;
		}
	}
	.thumb {
		display: block;
		padding-bottom: 100%;
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		border: 2px solid #fff;
	}

	.message1{
		font-weight: 100;
     	font-size: 12px;
	}

	.message2{
		font-weight: 100;
     	font-size: 12px;
	}

	.action-buttons {
		margin-bottom: 10%;
		
          	.button {
              	min-height: 60px;
              	background-color: #9e0e0f;
              	font-weight: 600;
              	font-size: 16px;
              	text-transform: capitalize;

              	.pay-title{
              		text-transform: uppercase;
              		font-weight: 100;
              	}

              	&.btn-cancel {
                	background-color: #f6f6f6;
                	color: #0cb1e0;
                	box-shadow: none;
            }
        }
    }

	.text-input[disabled] {
    	opacity: 1;
	}
}
