<!--
  Generated template for the FormHmoPaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
	<div class="head" *ngIf="payment_method">
		<div class="header-container"> 
    		<div class="back-button show-back-button" navPop> <ion-icon name="ios-arrow-back"></ion-icon> <span class="header-title"> Payment Details </span> </div>
    	</div>
		<ion-row>
			<ion-col col-9>
				<div class="title-bill"> Bank Acct. Name: </div>
					<div padding-left> {{payment_method.account_name}} </div>
				<div class="title-bill"> Bank Acct. No: </div>
					<div padding-left> {{payment_method.account_number}} </div>
			</ion-col>
			<ion-col *ngIf="payment_method.attachments_filepath && payment_method.attachments_filename" col-3>
				<div class="logo">
					<!-- <img src="assets/imgs/dragonpay-logo.png"> -->

					<!-- <img src="{{ hmoProvider.base_url }}{{payment_method.attachments_filepath}}/{{payment_method.attachments_filename}}">  -->

					<img-loader *ngIf="payment_method.attachments_filepath && payment_method.attachments_filename" class="image-loader border-radius-5 bkg-img-center" src="{{ hmoProvider.base_url }}{{payment_method.attachments_filepath}}/{{payment_method.attachments_filename}}"></img-loader>
				</div>
			</ion-col>
		</ion-row>
		<div class="clearfix"></div>	
  	</div>			

	<div class="register-form-container">
		<div *ngIf="photos">
		  	<div>
				<div *ngFor="let photo of photos; let p=index;" class="uploaded-container">
					<ion-badge item-end (click)="removePhoto(p)"><ion-icon name="ios-trash-outline"></ion-icon></ion-badge>
					<!-- <img src="{{ photo['path'] }}"> -->
					<!-- <div class="thumb" [ngStyle]="{'background-image': 'url('+ photo['path'] + ')'}" ></div> -->

					<img-loader *ngIf="photo['path']" class="image-loader" src="{{photo['path']}}"></img-loader>

				</div>
			</div>
		</div>
		<div *ngIf="!photos || photos.length === 0">
			<p class="message1"> Upload Deposit Slip Here </p>
		  	<div (click)="presentActionSheet()" class="register-upload" padding>
				<div class="upload-container">
					<img src="assets/imgs/upload_ico.png">
				</div>
				<p class="upload-desc"> Take a Photo or Choose from Library </p>
			</div>
		</div>
		<p class="message2"> Make sure your upload photo is clear. Verification of the deposit on our might take up to two(2) business days </p>
	</div>

	<form [formGroup]="paymentForm">
		<ion-list *ngIf="hmo_account" no-lines padding>
			<ion-input type="hidden" formControlName="hmo_account_id" value="{{hmo_account.id}}"> </ion-input>
			<ion-item class="amount">
				<ion-label stacked> Amount </ion-label>
				<ion-input type="text" formControlName="payment_amount" disabled="true" text-right value="{{ hmo_account.plan_price | currency:'PHP ':true:'1.2-2' }}"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label stacked> Your Name </ion-label>
				<ion-input text-capitalize type="text" formControlName="hmo_account_name" disabled="true" value="{{ hmo_account.firstname }} {{ hmo_account.middlename }} {{ hmo_account.lastname }}"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label stacked> Email Address </ion-label>
				<ion-input type="text" formControlName="hmo_account_email" disabled="true" value="{{hmo_account.email}}"></ion-input>
			</ion-item>					
			<ion-item>
				<ion-label stacked> Date Paid </ion-label>
				<ion-datetime formControlName="payment_date" displayFormat="MMM DD YYYY" [(ngModel)]="event.date"></ion-datetime>
			</ion-item>
			<ion-item>
				<ion-label stacked> Time Paid </ion-label>
				<ion-datetime formControlName="payment_time" displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.time"></ion-datetime>
			</ion-item>
			<ion-item>
				<ion-label stacked> Remarks </ion-label>
				<ion-textarea formControlName="payment_remarks" placeholder="Enter a description"></ion-textarea>
			</ion-item>
		</ion-list>

<!-- 		<div class="payment-options">
			<div class="section-title" padding>Payment Option</div>
			<div class="content">
				<div class="section-subtitle"> Generic Biller is requesting for <strong> PHP 10,500.00</strong> </div>
				<ion-item>
					<ion-label stacked> Select Payment Option </ion-label>
					<ion-select [(ngModel)]="payment_options" [ngModelOptions]="{standalone: true}">
				      <ion-option value="single" selected="true">DragonPay Prepaid Credit</ion-option>
				    </ion-select>
				</ion-item>
				<ion-item class="terms-condition">
				    <ion-label>I agree to Terms & Conditions</ion-label>
				    <ion-checkbox [(ngModel)]="terms-condition" [ngModelOptions]="{standalone: true}"></ion-checkbox>
			    </ion-item>
			</div>
		</div> -->
	</form>

	<div *ngIf="hmo_account" class="action-buttons" padding-horizontal>
		<ion-row>
			<!-- <ion-col col-6> <button ion-button block class="btn-cancel" navPop> Cancel </button> </ion-col> -->
			<ion-col > <button ion-button block (click)="goToPaymentFormStep2()"> <div> <span class="pay-title"> Pay </span> {{ hmo_account.plan_price | currency:'PHP ':true:'1.2-2' }} </div></button> </ion-col>
		</ion-row>
	</div>
</ion-content>
