page-profile-user {
	.head{
		/*background-color: #203e56;*/
		background-image: url("../assets/imgs/more-banner.png");
		background-size: cover;
		color: #fff;
		padding-top: 30px;

		.back-button {
			width: 50px;
		    height: 56px;
		    position: absolute;
		    z-index: 100;
		    color: #fff;
		    font-size: 30px;
		    padding: 20px;
		    top: 0;
		}
		
		.thumb {
			display: block;
		    width: 100%;
		    padding-bottom: 98%;
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center center;
		    border-radius: 50%;
		    border: 2px solid #fff;
		}
		.name{
			font-size: 25px;
		    line-height: 27px;
		    margin-bottom: 5px;
		    font-weight: 500;
		}
		.location {
			margin-top: -15px;
			font-size: 12px;

		}
		.view-profile{
			width: 8em;
		    font-size: 12px;
		    border-radius: 5px;
		    height: 2.6rem;
		    margin-top: 20px;
		}
		.spinner {
		  height: 15px;
		}
		.profile-photo {
			position: relative;
			.badge {
				position: absolute;
			    bottom: 0;
			    right: 0;
			    border-radius: 50%;
			    height: 25px;
			    width: 25px;
			    display: flex;
			    align-items: center;
			    font-size: 11px;
			    .icon {
			    	font-size: 11px;
			    }
			}

			.upload-loader {
			    position: absolute;
			    width: 100%;
			    height: 100%;
			    display: flex;
			    align-items: center;
			    opacity: 0.5;

			    .spinner {
			    	margin: auto;
			    	height: 15px;
			    }
			}
		}
	}

	.section {
		padding: 16px;
    	background: #fff;
    	margin-bottom: 16px;

		.section-title {
			color: #949494;
			font-size: 13px;
			margin-bottom: 16px;
     		position: relative;

     		.icon{
			    color: #3392ff;
			    font-size: 17px;
     			position: absolute;
     			right: 0;
     		}
		}

		.field {
			font-weight: 500;
			font-size: 15px;
			margin-bottom: 10px;
   			padding: 0 6px;

			.label {
				margin: 5px 0;
			    color: #949494;
			    text-transform: uppercase;
			    font-size: 13px;
			    font-weight: 300;
			}
		} 

		&.insurance-info {
			img {
		    	max-height: 60px;
			}
     		.icon{
     			position: absolute;
     			left: 0;
     		}
     		
			.status{
				font-size: 10px;
			}
			.action{
	      		margin-top: -5px;
	    		font-size: 13px;
	     		font-weight: 700;
			}
			.status_1{
				color: #388e3c;
			}
			.status_2,
			.status_4{
				color: #fbc02d;
			}
			.status_,
			.status_0,
			.status_3{
				color: #d32f2f;
			}
		}
	}

	/* 04-20-2018 */
	.other-pages{
		.item-md{
			padding-left: 0px;
			margin-bottom: 5px;
			border-radius: 5px;
		}
		.item-md.item-block .item-inner {
		    padding-right: 0px;
		    border-bottom: 1px solid transparent;
		}
		.label-md {
		    margin: 5px!important;
		}
		.more-second{
			height: 7vw;
			display: block;
			margin: 10px auto;
		}
		.other-title{
			font-size: 13px;
		    font-weight: 600;
		    color: #3d4b58;
		    margin-top: 5px;
		}
		.other-sub{
			font-size: 12px;
		}
		.arrow-icon{
			margin-top: 10px;
			color: #999;
			float: right;
			margin-right: 5px;
		}
	}

	.allergies-info{
		.share-container{
			.share-desc{
	     		color: #949494;
			    font-weight: 400;
				@media(min-width: 312px){ 
					font-size: 9px !important;
				}
				@media(min-width:313px) and (max-width: 335px){ 
					font-size: 9px !important;
				}
				@media(min-width:336px) and (max-width: 382px){ 
					font-size: 10px !important;
				}
				@media(min-width:383px) and (max-width: 428px){ 
					font-size: 12px !important;
				}
				@media(min-width:429px) and (max-width: 475px){ 
					font-size: 13px !important;
				}
				@media(min-width:476px){ 
					font-size: 14px !important;
				}
			}
			.share-col{
	      		display: inline-flex;
	    		align-items: center;
			}
			.toggle{
    			padding-left: 2px;
			}
		}
	}
	.prifle-info{
		.col{
			padding: 0;
		}
	}
}
