<!--
  Generated template for the ProfileUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>

<div class="head">
	<div class="back-button show-back-button" navPop> <ion-icon name="ios-arrow-back"></ion-icon> </div>

	<div class="head-inside skeleton-loader" padding *ngIf="!user_profile">
		<ion-row>			
			<ion-col col-4></ion-col>
			<ion-col col-4>
				<div class="thumb circle"></div>
			</ion-col>
			<ion-col col-4></ion-col>
		</ion-row>
		<div text-center padding-vertical>
			<div class="name skeleton-line1"></div>
			<div class="position skeleton-line2"> </div>
		</div>
	</div>
	<div class="head-inside" padding *ngIf="user_profile">
		<ion-row>			
			<ion-col col-4></ion-col>
			<ion-col col-4 class="profile-photo" (click)="presentActionSheet()">
				<div class="upload-loader" *ngIf="is_uploading === true"> <ion-spinner name="crescent"></ion-spinner> </div>
				
				<div class="thumb" *ngIf="!photo" style="background-image: url('assets/imgs/patient-placeholder.png');"></div>	
          		<img-loader *ngIf="photo" class="image-loader round border-light" src="{{photo}}"></img-loader>	

				<ion-badge item-end><ion-icon name="md-camera"></ion-icon></ion-badge>
			</ion-col>
			<ion-col col-4></ion-col>
		</ion-row>
		<div text-center padding-vertical>
			<div class="name" text-capitalize> {{ user_profile.prefix }} {{ user_profile.firstname }} {{ user_profile.lastname }} {{ user_profile.suffix }} </div>
			<div class="position"> 
				<span *ngIf="current_location"><ion-icon name="md-pin"></ion-icon> {{ current_location }} </span>  
	            <span class="location-spinner" *ngIf="!current_location && !no_current_location"> <ion-spinner name="crescent"></ion-spinner> getting location </span>
				<span *ngIf="!current_location && no_current_location"> <i> cannot get current location</i> </span> 
    		</div>
		</div>
	</div>

</div>

<div class="bottom-details" padding *ngIf="user_profile">
	<div class="personal-info section">
		<div class="section-title"> <i class="fa fa-file-text-o" aria-hidden="true"></i> Personal Information 
			<ion-icon *ngIf="hmo_account !== undefined" name="md-create" pull-right (click)="editSection('personal-info')"></ion-icon> 
		</div>
		<div class="field">
			<ion-label> Name </ion-label>
			<div text-capitalize> {{ user_profile.prefix }} {{ user_profile.firstname }} {{ user_profile.lastname }} {{ user_profile.suffix }} </div>
		</div>
		<div class="field">
			<ion-label> Email Address </ion-label>
			<div> {{ user_profile.email }} </div>
		</div>
		<ion-row class="prifle-info">
			<ion-col col-7 *ngIf="user_profile.date_of_birth">
				<div class="field">
					<ion-label> Birthday </ion-label>
					<div *ngIf="user_profile.date_of_birth" text-capitalize> {{ user_profile.date_of_birth | formatDate }} </div>
					<div *ngIf="!user_profile.date_of_birth" text-capitalize> - </div>
				</div>
			</ion-col>
			<ion-col col-5>
				<div class="field">
					<ion-label> Gender </ion-label>
					<div *ngIf="user_profile.gender" text-capitalize> {{ user_profile.gender }} </div>
					<div *ngIf="!user_profile.gender" text-capitalize> - </div>
				</div>
			</ion-col>
			<ion-col col-12>
				<div class="field">
					<ion-label> Contact Number </ion-label>
					<div *ngIf="user_profile.contact"> 
				  		<p *ngFor="let contact of user_profile.contact; let i = index;" class="patient-name">
					  		<ion-icon name="md-checkmark" color="primary"></ion-icon> <span *ngIf="contact.type"> {{contact.type}}: </span>
					  		<span *ngIf="contact.type === 'mobile'"> ({{contact.country_code}})  </span>
							<span *ngIf="contact.type !== 'mobile'"> ({{contact.area_code}}) </span>
							<span> {{contact.number}} </span>
				  		</p>
					</div>
				  	<p class="patient-name" *ngIf="!user_profile.contact">-</p>
				</div>
			</ion-col>
			<!-- <ion-col col-5>
				<div class="field">
					<ion-label> Age </ion-label>
					<div> 27 </div>
				</div>
			</ion-col> -->
		</ion-row>
	</div>
	<div class="insurance-info section" *ngIf="user_profile.hmo && user_profile.hmo.length > 0">
		<div class="section-title"> <i class="fa fa-credit-card" aria-hidden="true"></i> Insurance </div>
		<ion-row *ngFor="let hmo of user_profile.hmo" (click)="goToHmoAccountDetails(hmo)">
			<ion-col col-8>
				<div class="field">
					<ion-label text-uppercase text-wrap> {{ hmo.provider_name }} </ion-label>
					<div> 
						<span *ngIf="hmo.account_number"> {{ hmo.account_number }} </span> 
						<span *ngIf="!hmo.account_number"> XXXX.XXXX.XXXX.XXXX </span> 
					</div>   
					<div *ngIf="hmo.payment_status_text" class="action status_{{hmo.status}}"> 
						{{ hmo.payment_status_text }}
					</div>
					<!-- | formatAccountnumber -->
				</div>
			</ion-col>
			<ion-col col-4 text-center>
				<!-- <img src="{{ hmoProvider.base_url }}/assets/static/images/hmo/carewell_logo.jpg"/> -->
				<img *ngIf="!hmo.attachments_filepath || !hmo.attachments_filename" src="assets/imgs/placeholder.png"/>
          		<img-loader *ngIf="hmo.attachments_filepath && hmo.attachments_filename" class="image-loader border-light" src="{{ hmoProvider.base_url + hmo.attachments_filepath +'/'+ hmo.attachments_filename }}"></img-loader>	
			</ion-col>
		</ion-row>
	</div>

	<div class="allergies-info section">
		<div class="section-title"> <i class="fa fa-stethoscope" aria-hidden="true"></i> Medical History </div>
		<div>
			<ion-row class="share-container">
				<ion-col class="share-col" col-2>
					<img src="assets/imgs/medical-privacy.png"/>
				</ion-col>
				<ion-col class="share-col" col-8>
			    	<div class="share-desc"> Don't Share your medical history and diagnostics with the doctor </div>
				</ion-col>
				<ion-col col-2>
					<ion-toggle [(ngModel)] = "privacy" [ngModelOptions] = "{standalone: true}" (ionChange)="privacyToggle()"></ion-toggle>
				</ion-col>
			</ion-row>
		</div>
	</div>

	<!-- <div class="allergies-info section">
		<div class="section-title"> <i class="fa fa-stethoscope" aria-hidden="true"></i> Allergies to Medication </div>
		<div class="field">
			<div> Penicillin, Chemotherapy drugs </div>
		</div>
		<div class="field">
			<ion-label> Medication </ion-label>
			<div> Lipitor </div>
		</div>
	</div> -->
</div>	
	<div *ngIf="(user_profile.google_user_id.length === 0 || user_profile.fb_user_id.length === 0) || (user_profile.google_user_id === '0' || user_profile.fb_user_id === '0')" class="other-pages" padding> <!-- 04-20-2018 -->
			<ion-list class="others">
				<button ion-item (click)="changePass()">
					<ion-row>
						<ion-col col-10>
							<p class="other-title">Change My Password</p>
						</ion-col>
						<ion-col col-2>
							<ion-icon name="ios-arrow-forward" class="arrow-icon"></ion-icon>
						</ion-col>
					</ion-row>
				</button>
			</ion-list>
	</div>

</ion-content>
