page-browse-hospitals {

	.searchbar{
	  box-shadow: unset !important;
	  padding: 0;
    	padding-top: 16px;
	}
	.searchbar-input{
	  background-color: #ddd !important;
	  border-radius: 10px !important;
	  box-shadow: unset !important;
	  color: #333 !important;
	}

	.filter-icon{
		height: 15px;
	}

	.mg-right{
		margin-right: 20px;
	}

	.patients{
		.item-md.item-block .item-inner {
		    padding-right: 0px;
		    border-bottom: 1px solid transparent;
		}
		.label-md {
		    margin: 10px 20px 10px 20px !important;
		}
		.item p {
	    	margin: 0;
	    }
	    .patient-photo{
	    	margin-top: 5px;
	    }
	    .meta-hospital{
			.col { padding: 0px; }
			.hospital-name{
				color: #3d4b58;
			    font-weight: 500;
			    font-size: 16px;
			    margin-bottom: 7px !important;
			    white-space: normal;
			    line-height: 22px;
			}
			.icon{
				font-size: 30px;
			}
	    }
		.hospital-name{
			color: #3d4b58;
		    font-weight: 500;
		    font-size: 16px;
		    margin-bottom: 7px !important;
		    white-space: normal;
		    line-height: 22px;
		}
		
		.status{
			color: #949494;
			font-size: 13px;
			margin-top: 5px !important;
		}
		.trans-number{
			color: #3492ff;
			font-size: 13px;

		}
		.sched-time{
			font-size: 13px;

		}
	}
}
