// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #3392ff,
  secondary:  #0db5e2,
  danger:     #f53d3d,
  light:      #fff,
  dark:       #222,
  white:	    #fff,
  approved:	  #00bcd4,
  cancel: 	  #f04f55,
  complete:   #388e3c,
  arrived: 	  #0c7cd5,
  important:  #f04f55,
);

$text-color: #3c4a58;
$light-blue: #0db5e2;
$button-bg-color: #10bbe6;
$secondary-color: #0098e4;
$primary-color: #3392ff;
$toolbar-color: #0aaddd;
$danger-color: #f53d3d;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$searchbar-ios-input-search-icon-color: #fff;
$searchbar-ios-input-text-color: #fff;
$searchbar-ios-input-clear-icon-color: #fff;
$searchbar-ios-input-placeholder-color: #fff;
$searchbar-ios-input-search-icon-size: 25px;
$checkbox-ios-icon-checkmark-style: solid;
$checkbox-ios-icon-border-width: 1px;
$checkbox-ios-icon-border-color-on: #fff;
$checkbox-ios-icon-border-color-off: #fff;
$checkbox-ios-icon-checkmark-color: #fff;
$checkbox-ios-icon-background-color-off: transparent;
$checkbox-ios-transition-duration: 100ms;
$toolbar-text-color: #fff;
$toolbar-title-font-size: 18px;
$toolbar-ios-text-color: $toolbar-text-color;
$toolbar-ios-text-align: left;
$toolbar-ios-title-text-color: $toolbar-text-color;
$toolbar-ios-title-font-size: $toolbar-title-font-size;
$toolbar-ios-button-font-size: 11px;
$toast-ios-background: #3c4a58;
$toast-ios-title-font-size: 14px;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$searchbar-md-input-search-icon-color: #fff;
$searchbar-md-input-text-color: #fff;
$searchbar-md-input-clear-icon-color: #fff;
$searchbar-md-input-placeholder-color: #fff;
$searchbar-md-input-search-icon-size: 25px;
$checkbox-md-icon-checkmark-style: solid;
$checkbox-md-icon-border-width: 1px;
$checkbox-md-icon-border-color-on: #fff;
$checkbox-md-icon-border-color-off: #fff;
$checkbox-md-icon-checkmark-color: #fff;
$checkbox-md-icon-background-color-off: transparent;
$checkbox-md-transition-duration: 100ms;
$toolbar-md-text-color: $toolbar-text-color;
$toolbar-md-title-text-color: $toolbar-text-color;
$toolbar-md-title-font-size: $toolbar-title-font-size;
$toolbar-md-button-font-size: 11px;
$toast-md-background: #3c4a58;
$toast-md-title-font-size: 14px;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

$searchbar-wp-background-color: rgba(0,0,0,0);
$searchbar-wp-input-search-icon-color: #fff;
$searchbar-wp-input-clear-icon-color: #fff;
$searchbar-wp-input-placeholder-color: #fff;


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

@import "scss/font-awesome"; 
@font-face { font-family: 'FontAwesome'; src: url('../assets/fonts/fontawesome-webfont.eot?v=#{$fa-version}');
src: url('../assets/fonts/fontawesome-webfont.eot?#iefix&v=#{$fa-version}') format('embedded-opentype'),
url('../assets/fonts/fontawesome-webfont.woff2?v=#{$fa-version}') format('woff2'),
url('../assets/fonts/fontawesome-webfont.woff?v=#{$fa-version}') format('woff'),
url('../assets/fonts/fontawesome-webfont.ttf?v=#{$fa-version}') format('truetype'),
url('../assets/fonts/fontawesome-webfont.svg?v=#{$fa-version}#fontawesomeregular') format('svg'); font-weight: normal; font-style: normal; }