.ios, .md {
	 page-walkthrough {
			.scroll-content {
				background-color: #fff  !important;
			}
			

			.button {
			    font-size: 20px;
			    height: 70px;
			    bottom: 0;
			    font-family: Poppins;
			    font-weight: 600;
			    letter-spacing: 2px;
			    margin-bottom: 0;
			    position: fixed;
			}

		/*	.swiper-pagination-bullets{
				bottom: 100px;
			}*/

			.swiper-pagination-bullet-active {
		    	background: #6dcff6 !important;
		    	opacity: 0.8 !important;
			}

			.swiper-pagination-bullet {
			  border-width: 1px;
			  border-color: #3c4a58;
			  border-style: solid;
			  border-radius: 50%;
			  width: 10px;
			  height: 10px;
			  z-index: 39;
			  background: transparent;
		      opacity: 1;
		      margin: 0px 4px !important;
		      &:after {
		      	background: #000;
		      }
			}

			ion-slides.slides-container {
				margin-top: 0;
				height: 85%;

				ion-slide {
					div.content {
						padding: 16px;
						max-width: 300px;
						margin: auto;
						height: 60%;

						h2{
							color: $text-color;
							font-weight: 600;
							font-size: 21px;
					  		text-align: center;
					  		font-family: "Poppins";
					  		margin-top: 30px;
						}

						p {
							color: $text-color;
							font-family: "Poppins";
							font-size: 14px;
					    	margin-top: 13px;
			   				font-weight: 300;
						}

						img{
							max-height: 210px !important;
						}
					}
				}
			}

			@media screen and (max-width: 320px) {
				.slides{
					height: 85%;
		    		margin-top: 0px;
				}
			}
	}

}