<ion-content >

<!--   <div >
      <div class="slides"> -->
          <ion-slides pager margin-top (ionSlideDidChange)="slideChanged()" class="slides-container">
                <ion-slide>
                	<div class="content">
  	                <img src="assets/imgs/intro1.png">
  	                <h2>Find Me A Doctor</h2>
  	                <p>Your 24/7 easy click access to Doctors & medical practitioners in the area.</p>
  	            </div>
                </ion-slide>

                <ion-slide>
                	<div class="content">
  	                <img src="assets/imgs/intro2.png">
  	                <h2>The Doctor is IN</h2>
  	                <p>No more long queues. Schedule your doctor’s appointment anytime, anywhere.</p>
  	            </div>
                </ion-slide>

                <ion-slide>
                	<div class="content">
  	                <img src="assets/imgs/intro3.png">
  	                <h2>Get Medical Records</h2>
  	                <p>Request your own personal medical records without the hassle of time and travel.</p>
  	            </div>
                </ion-slide>

                <ion-slide>
                	<div class="content">
  	                <img src="assets/imgs/intro4.png">
  	                <h2>HMO Card</h2>
  	                <p>Fast and easy  HMO card usage to pay your medical expenses.</p>
  	            </div>
                </ion-slide>
          </ion-slides>

          <div>
            <button ion-button full color="primary" class="btn-next" (click)="nextSlide()"> {{ btn_label }} </button>
          </div>
   <!--    </div>
  </div> -->

</ion-content>
