<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Change Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div class="forgot-form">
		<div class="section-title"> Reset Password </div>
		<div margin-bottom> Enter your old and new password below. </div>
    <div class="textfield">
        <ion-item>
           <ion-label floating>Old Password</ion-label>
           <ion-input type="{{ passwordType }}" [(ngModel)]="old_password" clearOnEdit="false"></ion-input>
           <ion-icon name="{{ passwordIcon }}" (click)="togglePassword()" item-right class="show"></ion-icon>
        </ion-item>
        <ion-item>
           <ion-label floating>New Password</ion-label>
           <ion-input type="{{ passwordType }}" [(ngModel)]="new_password" clearOnEdit="false"></ion-input>
           <ion-icon name="{{ passwordIcon }}" (click)="togglePassword()" item-right class="show"></ion-icon>
        </ion-item>
      </div>
	</div>
	<div class="btn-log">
         <button ion-button (click)="resetPassword()" class="button-gradient"> Save Password </button>
     </div>

</ion-content>
