<div class="prompt_modal view-modal">
	<div class="modal_container" (click)="escapeModal()">
		<div class="modal_content" (click)="stopPropagation($event)">
			<button ion-button icon-only navPop class="btn-close">
		        <ion-icon name="md-close"></ion-icon>
			  </button>
			  
			<div class="patient-info" (click)="escapeModal()">
				<div *ngIf="!details.doctor_attachment">
					<div class="patient-photo" style="background-image: url('assets/imgs/doctor-placeholder.png');"></div>
				</div>

				<!-- <div *ngIf="details.doctor_attachment">
					<div class="patient-photo" *ngIf="details.doctor_attachment.filename && details.doctor_attachment.filepath" [ngStyle]="{'background-image': 'url('+ appointmentProvider.base_url + details.doctor_attachment.filepath +'/'+ details.doctor_attachment.filename + ')'}"></div>
				</div> -->

				<div class="patient-photo" *ngIf="details.doctor_attachment">
          			<img-loader *ngIf="details.doctor_attachment.filename && details.doctor_attachment.filepath" class="image-loader round border-light" src="{{ appointmentProvider.base_url + details.doctor_attachment.filepath +'/'+ details.doctor_attachment.filename }}"></img-loader>
      			</div>

				<p class="patient-name" text-capitalize>
					<span *ngIf="details.doctor_prefix">{{ details.doctor_prefix }}</span>
					{{ details.doctor_firstname }} {{ details.doctor_lastname }}
					<span *ngIf="details.doctor_suffix">{{ details.doctor_suffix }}</span>
					<span *ngIf="details.doctor_medical_degree">{{ details.doctor_medical_degree }}</span>
				</p>
				<p class="patient-address">#
					<span *ngIf="from_trans"> {{ details.appointment_hmo_transactions_id }} </span>
					<span *ngIf="!from_trans"> {{ details.hmo_transactions_id }} </span>
				</p>
			</div>
			<div class="appointment-details-container">
				<div class="appointment-details-content">
					<div class="patient-address list-date" *ngIf="details.appointment_date">
						<p class="details-title">{{details.appointment_date | formatDate}}</p>
						<p class="details-desc" *ngIf="details.appointment_time">{{details.appointment_time}}<span *ngIf="details.appointment_week">, {{details.appointment_week}}</span></p>
					</div>
                	<div class="list-address" *ngIf="details.hospital_name">
                		<p class="details-title" text-capitalize> {{details.hospital_name}} </p>
                		<p class="details-desc">
							<span *ngIf="(details.hospital_address_address || details.hospital_address_city) && (details.hospital_address_region || details.patient_address_country || details.hospital_address_zip)">
								{{details.hospital_address_address}} {{details.hospital_address_city}}, {{details.hospital_address_region}} {{details.patient_address_country}} {{details.hospital_address_zip}}
							</span>
							<span *ngIf="(!details.hospital_address_address && !details.hospital_address_city) && (!details.hospital_address_region && !details.patient_address_country && !details.hospital_address_zip)">
								No Address Yet
							</span>
                		</p>
                	</div>
            	</div>
			</div>
			<div *ngIf="details.description" padding-vertical>
				<div class="details-title symptom-title"> Symptoms </div>
				<p class="symptom-desc"> "{{details.description}}" </p>
			</div>
			<div class="symptom-attachement" *ngIf="details.appointment_attachment.length != 0" padding-vertical>
				<ion-row>
					<ion-col *ngIf="!details.appointment_attachment" col-4>
						<div class="image-container">
							<img src="assets/imgs/location-ico.png" imageViewer/>
						</div>
					</ion-col>
					<ion-col *ngIf="details.appointment_attachment" col-4>

						<!-- <div *ngFor="let attachement of details.appointment_attachment" class="upload-photo" (click)="viewPhoto(appointmentProvider.base_url + attachement.filepath +'/'+ attachement.filename)" [ngStyle]="{'background-image': 'url('+ appointmentProvider.base_url + attachement.filepath +'/'+ attachement.filename + ')'}"></div> -->

						<img-loader *ngFor="let attachement of details.appointment_attachment" (click)="viewPhoto(appointmentProvider.base_url + attachement.filepath +'/'+ attachement.filename)" class="image-loader border-radius-5 bkg-img-center" src="{{ appointmentProvider.base_url + attachement.filepath +'/'+ attachement.filename }}"></img-loader>

						<!-- <img src="assets/imgs/location-ico.png" imageViewer/>	 -->

					</ion-col>
				</ion-row>
			</div>

			<div *ngIf="details.description" padding-vertical>
				<div *ngIf="details.appointment_temperature || details.appointment_blood_pressure || details.appointment_height || details.appointment_weight" class="details-title symptom-title"> Additional Details </div>
				<ion-row class="additional-content">
					<ion-col *ngIf="details.appointment_temperature" col-6>
						<p class="details-title"> Temperature</p>
						<p class="details-desc"> {{details.appointment_temperature}} <span> degrees </span></p>
					</ion-col>
					<ion-col *ngIf="details.appointment_blood_pressure" col-6>
						<p class="details-title"> Blood Pressure</p>
						<p class="details-desc"> {{details.appointment_blood_pressure}} </p>
					</ion-col>
					<ion-col *ngIf="details.appointment_height" col-6>
						<p class="details-title"> Height</p>
						<p class="details-desc"> {{details.appointment_height}} <span> ft. </span></p>
					</ion-col>
					<ion-col *ngIf="details.appointment_weight" col-6>
						<p class="details-title"> Weight</p>
						<p class="details-desc"> {{details.appointment_weight}} <span> kg </span></p>
					</ion-col>
				</ion-row>

				<div *ngIf="details.temperature || details.blood_pressure || details.height || details.weight" class="details-title symptom-title"> Additional Details </div>
				<ion-row class="additional-content">
					<ion-col *ngIf="details.temperature" col-6>
						<p class="details-title"> Temperature</p>
						<p class="details-desc"> {{details.temperature}} <span> degrees </span></p>
					</ion-col>
					<ion-col *ngIf="details.blood_pressure" col-6>
						<p class="details-title"> Blood Pressure</p>
						<p class="details-desc"> {{details.blood_pressure}} </p>
					</ion-col>
					<ion-col *ngIf="details.height" col-6>
						<p class="details-title"> Height</p>
						<p class="details-desc"> {{details.height}} <span> ft. </span></p>
					</ion-col>
					<ion-col *ngIf="details.weight" col-6>
						<p class="details-title"> Weight</p>
						<p class="details-desc"> {{details.weight}} <span> kg </span></p>
					</ion-col>
				</ion-row>
			</div>
		</div>
	</div>
</div>
