<!--
  Generated template for the PaymentHistoryModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
	<div class="prompt_modal">
		<div class="modal_container" (click)="goBack()">
			<div class="modal_content" (click)="stopPropagation($event)">
				<div class="previous-statements"> <!-- md-arrow-dropdown-circle -->
					<!-- <div class="section-button" (click)="goBack()"><ion-icon name="ios-close-circle"></ion-icon></div> -->
					<ion-row class="section-title">
						<ion-col col-10 class="title">
							<div> Previous Payments </div>
						</ion-col>
						<ion-col class="align-items-center-right" (click)="goBack()" col-2>
					    	<ion-icon name="ios-close-circle"></ion-icon>
						</ion-col>
					</ion-row>
					<div *ngIf="payment_history && total_payment_history > 0" class="lists">
						<div *ngFor="let payment of payment_history;" (click)="gotoPaymentDetails(payment)" class="expandable_header">
						    <ion-row>
						    	<ion-col col-11 class="title">
						    		<div class="date"> {{ payment.date_uploaded | formatDate }} </div>
						    		<div class="provider"> {{ payment.hmo_provider_name }} </div>
						    		<div class="type"> Statement of Account </div>
						    	</ion-col>
								<ion-col col-1 class="title-icon align-items-center-right col" padding-left><ion-icon name="ios-arrow-forward-outline" item-right></ion-icon></ion-col>
						    </ion-row>
						</div>
						<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
						   <ion-infinite-scroll-content></ion-infinite-scroll-content>
						</ion-infinite-scroll>
					</div>
				</div>
			</div>
		</div>
	</div>
</ion-content>
