page-payment-history-modal {
	.prompt_modal{
		text-align: left;
		.modal_container{
			vertical-align: bottom;
			.modal_content{
			    max-width: 100%;
			    height: 100%;
			    margin: auto;
			    border-radius: 0;
			    background: #fff;
			    padding: 0;
			}
		}
	}

	.previous-statements {
		.section-title {
      		color: #fff;
		    background: #0aaddd;
		    font-size: 18px;
		    text-transform: capitalize;
		    padding: 10px 16px;
		    font-weight: 500;
		    .col{
		    	padding: 0;
			    margin: auto;
			    display: inline-flex;
		    }
		    .icon{
			    font-size: 30px;
		    }
		}
/*		.section-button{
		    margin: auto;
		    text-align: right;
		    color: #7e7e7e;
		    padding-right: 10px;
		    font-weight: 700;
		    font-size: 30px;
		}*/

		.lists {
    		border-top: 1px solid #f9f9f9;
			
			.expandable_header {
				background: #ffffff;
			    padding: 0 16px;
			    border-bottom: 1px solid #f9f9f9;

			    .title{
			    	padding: 15px 0;
			    }

			    .title-icon{
			    	margin: auto;
			    	.icon{
					    color: #7e7e7e;
					    font-weight: 700;
			    	}
			    }

			    .date {
				    text-transform: uppercase;
				    color: #b0b0b1;
				    margin-bottom: 5px;
				}
				.provider {
				    font-weight: 600;
				}
				.type{
				    color: #b0b0b1;
				}
			}
		}
	}
}
