<div class="prompt_modal filter-modal">
	<div class="modal_container" (click)="escapeModal()">
		<div *ngIf="message_type === 'select_hmo_account'" class="modal_content" (click)="stopPropagation($event)">
			<button ion-button icon-only navPop class="btn-close">
		        <ion-icon name="md-close"></ion-icon>
		      </button>
			<div>
				Doing such action needs to have a registered HMO account. Better have it signed up in here.
			</div>
			<div class="options">
				<button ion-button block clear (click)="changeActive('add')" [class.active]="activeButton === 'add'"> <ion-icon name="md-checkmark-circle"></ion-icon> Add your HMO Account </button>
				<button ion-button block clear (click)="changeActive('apply')" [class.active]="activeButton === 'apply'">  <ion-icon name="md-checkmark-circle"></ion-icon> Apply HMO Now </button>
			</div>
			<div class="action-buttons" margin-top>
				<ion-row>
					<ion-col col-6> <button ion-button block class="btn-cancel" (click)="makeAnAction('cancel')"> No Thanks! </button> </ion-col>
					<ion-col col-6> <button ion-button block color="primary" (click)="makeAnAction('settings')"> Next </button> </ion-col>
				</ion-row>
			</div>
		</div>
		<div *ngIf="message_type === 'payment'" class="modal_content payment" (click)="stopPropagation($event)">
			<div class="payment-container">
				<button ion-button icon-only navPop class="btn-close">
			        <ion-icon name="md-close"></ion-icon>
			    </button>
				<div class="modal-title">
					Payment Summary
				</div>
				<div *ngIf="photos" class="photo-container">
					<div *ngFor="let photo of photos; let p=index;">
						<!-- <img src="{{ photo['path'] }}"> -->
						<div class="thumb" [ngStyle]="{'background-image': 'url('+ photo['path'] + ')'}" ></div>
					</div>
				</div>
				<div *ngIf="paymentMethod && hmo_account" class="payment-content">
					<ion-row>
						<ion-col col-5>
							Bank Acct. Name
						</ion-col>
						<ion-col text-right col-7>
							{{paymentMethod.account_name}}
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col col-5>
							Bank Acct. No
						</ion-col>
						<ion-col text-right col-7>
							{{paymentMethod.account_number}}
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col col-5>
							Amount
						</ion-col>
						<ion-col text-right col-7>
							{{ hmo_account.plan_price | currency:'PHP ':true:'1.2-2' }}
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col col-5>
							Email Account
						</ion-col>
						<ion-col text-right col-7>
							{{hmo_account.email}}
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col col-5>
							Date Paid
						</ion-col>
						<ion-col text-right col-7>
							{{ hmo_account.date_paid | formatDate }} {{ hmo_account.time_paid }}
						</ion-col>
					</ion-row>
				</div>
				<div class="payment-note">
					Please confirm your payment details. If correct, tap Pay Now to continue, or tap Cancel to make changes.
				</div>
				<div class="payment-buttons" margin-top>
					<ion-row>
						<ion-col col-6> <button ion-button block class="btn-cancel" (click)="makeAnAction('cancel')"> Cancel </button> </ion-col>
						<ion-col col-6> <button ion-button block (click)="makeAnAction('paynow')"> Pay Now</button> </ion-col>
					</ion-row>
				</div>
			</div>
		</div>
	</div>
</div>
