page-modal-select-hmo-account {
	.btn-cancel {
		color: #3d3d3d;
	}

	.options {
		 margin: 30px 0;

		 .button {
		 	text-align: left;
		    font-size: 15px;
		    font-weight: 400;
		    text-transform: none;
		    color: #3d3d3d;
		    height: 50px;
		    background: #f6f6f6;
		    margin-bottom: 10px;

		    .button-inner {
		    	justify-content: left;
		    }

		    .icon {
		    	visibility: hidden;
		    	color: #3692ff;
		    	margin-right: 16px;
		    }

		    &.active {
		    	border: 1px solid #3692ff;
		    	background: transparent;

		    	.icon {
			    	visibility: visible;
			    }
		    }

		 }
	}

	.payment{
		padding: 30px 20px 20px 20px !important;
	}

	.payment-container{
		.modal-title{
			color: #3d3d3d;
			font-weight: 600;
			text-transform: uppercase;
			padding-bottom: 10px;
		}

		.photo-container{
      		padding: 0 70px;
    		margin: 15px 0;
		}

		.thumb {
			display: block;
			padding-bottom: 100%;
			width: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			border: 2px solid #fff;
		}

		.payment-content{
      		color: #3d3d3d;
    		font-size: 13px;

			.col{
				padding: 5px 0;
			}
		}

		.payment-note{
      		margin-top: 10px;
    		font-size: 12px;
    		text-align: center;
    		line-height: 1.2;
    		color: #9f9f9f;
		}

		.payment-buttons{
			.button{
				background: #900809;
				color: #fff;
                box-shadow: none;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 600;

	            &.btn-cancel {
	               	background-color: transparent;
	                color: #3d3d3d;
	                box-shadow: none;
	            }
			}
		}

	}
}
