page-hmo-account-bill-details {
	.from-notif{
		.col{
			margin: auto 5px;
		}

		[col-1]{
     		flex: 0 0 4.33333%;
		    width: 4.33333%;
		    max-width: 4.33333%;
		}
	}

	.back-button {
		z-index: 100;
		font-size: 30px;
	}

	.back-button.show-back-button{
		display: inline-flex;
		align-items: center;
		.icon{
			color: #fff;
		}
	}
	
	.top-amount-to-pay {
		background: #20b6e1;
		color: #fff;

		.row {
			padding: 10px;
		    border: 1px solid #fff;
		    border-radius: 3px;
	
			.label {
				font-size: 13px;
	   			line-height: 17px;
			}
			.label-paid{
				font-size: 22px;
				text-align: center;
			}
			.icon{
    			font-weight: 700;
			}
			.amount {
				font-size: 20px;
	   			font-weight: 600;
			}
		}
	}
	.statement-info {
		background-color: #fff;

		.head {
			border-bottom: 1px solid #c1c1c1;

			.col{
				padding: 5px 0px;
			}

			.provider {
				.col{
					padding: 5px;
				}
				.name {
					font-weight: 600;
					font-size: 14px;
				}
				img {
					max-height: 45px;
				}
			}
			.meta {
				margin: auto;
				.trans-number {
					margin-bottom: 7px;
				}
			}
		}

		.plan-info {
			padding: 16px 0;

			.label {
				color: #b0b0b1;
				font-size: 13px;
			}
			.content {
				font-weight: 500;
				color: #393939;
			}
		}
	}

	.summary {
		.section-title {
			font-weight: 600;
			font-size: 13px;
			text-transform: uppercase;
			padding: 16px;
    		text-align: center;
		}
		.charges {
			background-color: #fff;
		}

		.photo-container{
      		padding: 0 70px;
    		margin: 15px 0;
		}

		.thumb {
			display: block;
			padding-bottom: 100%;
			width: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			border: 2px solid #fff;
		}
		.fee-table	{
			border: 1px solid #eceff3;
		    padding: 10px;
		    margin-top: 10px;

			.label {
				color: #b0b0b1;
				font-size: 13px;
			}
			.content {
				text-align: right;
				font-weight: 500;
				color: #393939;
			}
		}
		.total-fee {
			background-color: #f6f6f6;
			border: 1px solid #eceff3;
		    padding: 10px;
		    margin-top: 10px;
		    font-weight: 500;
		}
		.notes {
			strong {
				color: #3c4a58;
			}
			h2, h1, h3, h4, h5, h6 {
				color: #3c4a58;
			    font-weight: 600;
			    margin: 20px 0 10px;
			    font-size: 14px;
			}
			ol,ul {
				padding-left: 15px;
				li {
					color: #3c4a58;
					font-weight: 600;
					margin: 20px 0 10px;
					font-size: 14px;
				}
				dd {
					margin-left: 0;
    				margin-bottom: 7px;
					&:before {
						content: "\2713";
					    margin-right: 9px;
					    color: #333;
					    font-weight: 600;
					}
				}
			}

			border: 1px solid #eceff3;
		    padding: 10px;
		    margin-top: 10px;
		    font-size: 13px;
		    color: #7e7e7e;
		}
	}

	.previous-statements {
		.section-title {
			color: #b0b0b1;
		    font-size: 13px;
		    text-transform: uppercase;
		    margin: 30px 16px 16px;
		}
		.lists {
    		border-top: 1px solid #f9f9f9;
			
			.expandable_header {
				background: #ffffff;
			    padding: 16px;
			    border-bottom: 1px solid #f9f9f9;

			    .date {
				    text-transform: uppercase;
				    color: #b0b0b1;
				    margin-bottom: 5px;
				}
				.provider {
				    font-weight: 600;
				}
				.type{
				    color: #b0b0b1;
				}
			}
		}
	}
}
