<!--
  Generated template for the HmoAccountBillDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  	<ion-navbar>
    	<ion-title *ngIf="pageType == 'bill_details'">Plan Details</ion-title>
    	<ion-title *ngIf="pageType == 'payment_details' && !from_notif">Payment Details</ion-title>
		<ion-row *ngIf="pageType == 'payment_details' && from_notif" class="from-notif">
			<ion-col col-1>
				<span class="back-button show-back-button"> <ion-icon name="ios-arrow-back" (click)="gobacktoNotif()" ></ion-icon> </span>
			</ion-col>
			<ion-col col-9>
		    	<ion-title> Payment Details</ion-title>
			</ion-col>
			<ion-col col-1>
		    </ion-col>
		</ion-row>
  	</ion-navbar>
</ion-header>


<ion-content>
 	<div class="top-amount-to-pay" padding>
	  	<ion-row *ngIf="pageType == 'bill_details'">
	  		<ion-col col-5 class="label"> Membership Utilization Price: </ion-col>
	  		<ion-col col-7 class="amount" text-right> {{ hmo_account.plan_price | currency:'PHP ':true:'1.2-2' }} </ion-col>
	  	</ion-row>
	  	<ion-row *ngIf="pageType == 'payment_details'">
	  		<ion-col col-12 class="label-paid"> 
	  			<span *ngIf="hmo_account.status === '2'">
	  				<i class="fa fa-hourglass-o" aria-hidden="true"></i>
	  			</span> 
	  			<span *ngIf="hmo_account.status === '1'"> 
	  				<ion-icon name="ios-checkmark-outline" item-right></ion-icon>
	  			</span> 
	  			<span *ngIf="hmo_account.status === '0'"> Rejected </span>
	  			<span *ngIf="hmo_account.status === '1'"> Already Paid </span>
	  			<span *ngIf="hmo_account.status === '2'"> Processing </span>
	  			<span *ngIf="hmo_account.status === '3'"> Already Expired </span>
	  		</ion-col>
	  	</ion-row>
  	</div>
  	<div *ngIf="pageType == 'bill_details'" class="statement-info section" padding>
		<ion-row class="head">
			<ion-col col-12>
				<ion-row class="provider">
					<ion-col col-3 text-center>
						<!-- <img src="{{ hmo_account.hmo_provider_attachment }}"/> -->
						<img *ngIf="!hmo_account.attachments_filepath || !hmo_account.attachments_filename" src="assets/imgs/placeholder.png"/>
						<img-loader *ngIf="hmo_account.attachments_filepath && hmo_account.attachments_filename" class="image-loader" src="{{ hmoProvider.base_url + hmo_account.attachments_filepath +'/'+ hmo_account.attachments_filename }}"></img-loader>
					</ion-col>
					<ion-col col-9>
						<div class="name"> {{ hmo_account.provider_name }} </div>
						<div class="membership" *ngIf="hmo_account.plan_title && hmo_account.plan_title !== ''"> {{ hmo_account.plan_title }} </div>
					</ion-col>
				</ion-row>
			</ion-col>
			<!-- <ion-col col-4 class="meta" text-right>
				<div class="trans-number">#000099</div>
				<div class="date">Mar 18, 2018</div>
			</ion-col> -->
		</ion-row>

		<div class="plan-info">
			<ion-row class="field">
				<ion-col col-4 class="label">Your Plan:</ion-col>
				<ion-col col-8 class="content">{{ hmo_account.plan_price | currency:'PHP':true:'1.2-2' }} <span *ngIf="!hmo_account.hmo_account_terms">/yr</span> <span *ngIf="hmo_account.hmo_account_terms">/{{ hmo_account.terms }}</span></ion-col>
			</ion-row>
			<ion-row class="field">
				<ion-col col-4 class="label">Acct. Name:</ion-col>
				<ion-col col-8 class="content" text-capitalize>{{ hmo_account.firstname }} {{ hmo_account.middlename }} {{ hmo_account.lastname }}</ion-col>
			</ion-row>
			<ion-row class="field" *ngIf="hmo_account.account_number">
				<ion-col col-4 class="label">Acct. No.:</ion-col>
				<ion-col col-8 class="content">{{ hmo_account.account_number | formatAccountnumber}}</ion-col>
			</ion-row>
			<ion-row class="field" *ngIf="hmo_account.payment_approved_at && hmo_account.payment_expiration_date">
				<ion-col col-4 class="label"> Billing Period: </ion-col>
				<ion-col col-8 class="content">{{hmo_account.payment_approved_at | formatDate}} - {{hmo_account.payment_expiration_date | formatDate}}</ion-col>
			</ion-row>
			<ion-row class="field" *ngIf="hmo_account.payment_expiration_date">
				<ion-col col-4 class="label">Renewal Date: </ion-col>
				<ion-col col-8 class="content">{{ hmo_account.payment_expiration_date | formatDate }}</ion-col>
			</ion-row>
		</div>
  	</div>

  	<div *ngIf="pageType == 'payment_details'" class="statement-info section" padding>
		<ion-row class="head">
			<ion-col col-8>
				<ion-row class="provider">
					<ion-col col-3 text-center>
						<img *ngIf="!hmo_account.hmo_provider_attachment" src="assets/imgs/placeholder.png"/>
						<img-loader *ngIf="hmo_account.hmo_provider_attachment" class="image-loader bkg-img-center bg-contain" src="{{ hmoProvider.base_url }}{{hmo_account.hmo_provider_attachment.filepath}}/{{hmo_account.hmo_provider_attachment.filename}}"></img-loader>
					</ion-col>
					<ion-col col-9>
						<div class="name"> {{ hmo_account.hmo_provider_name }} </div>
						<div class="membership" *ngIf="hmo_account.hmo_mombership_title && hmo_account.hmo_mombership_title !== ''"> {{ hmo_account.hmo_mombership_title }} </div>
					</ion-col>
				</ion-row>
			</ion-col>
			<ion-col col-4 class="meta" text-right>
				<div class="trans-number">#{{hmo_account.id}}</div>
				<div class="date">{{hmo_account.date_uploaded | formatDate}}</div>
			</ion-col>
		</ion-row>

		<div class="plan-info">
			<ion-row class="field">
				<ion-col col-4 class="label">Your Plan:</ion-col>
				<ion-col col-8 class="content"> {{ hmo_account.hmo_mombership_price | currency:'PHP':true:'1.2-2' }} <span *ngIf="!hmo_account.hmo_account_terms">/yr</span> <span *ngIf="hmo_account.hmo_account_terms">/{{ hmo_account.terms }}</span></ion-col>
			</ion-row>
			<ion-row class="field">
				<ion-col col-4 class="label">Acct. Name:</ion-col>
				<ion-col col-8 class="content" text-capitalize>{{ hmo_account.hmo_account_firstname }} {{ hmo_account.hmo_account_midlename }} {{ hmo_account.hmo_account_lastname }}</ion-col>
			</ion-row>
			<ion-row class="field" *ngIf="hmo_account.hmo_account_account_number">
				<ion-col col-4 class="label">Acct. No.:</ion-col>
				<ion-col col-8 class="content">{{ hmo_account.hmo_account_account_number | formatAccountnumber}}</ion-col>
			</ion-row>
			<ion-row class="field" *ngIf="hmo_account.approved_at && hmo_account.expiration_date">
				<ion-col col-4 class="label"> Billing Period: </ion-col>
				<ion-col col-8 class="content">{{hmo_account.approved_at | formatDate}} - {{hmo_account.expiration_date | formatDate}}</ion-col>
			</ion-row>
			<ion-row class="field" *ngIf="hmo_account.expiration_date">
				<ion-col col-4 class="label">Due Date: </ion-col>
				<ion-col col-8 class="content">{{ hmo_account.expiration_date | formatDate }}</ion-col>
			</ion-row>
		</div>
  	</div>
  	<div *ngIf="pageType == 'bill_details'" class="summary">
		<!-- <div class="section-title"> Statement Summary </div> -->
		<div class="charges" padding>
<!-- 			<div class="fee-table">
				<ion-row class="field">
					<ion-col col-4 class="label">Plan</ion-col>
					<ion-col col-8 class="content">{{ hmo_account.plan_price | currency:'PHP':true:'1.2-2' }}</ion-col>
				</ion-row>
				<ion-row class="field">
					<ion-col col-4 class="label"><strong>Total</strong></ion-col>
					<ion-col col-8 class="content">{{ hmo_account.plan_price | currency:'PHP':true:'1.2-2' }}</ion-col>
				</ion-row>
			</div>
			<div class="total-fee">
				<ion-row class="field">
					<ion-col col-7 class="label">Total Amount to Pay: </ion-col>
					<ion-col col-5 class="content" text-right>{{ hmo_account.plan_price | currency:'PHP':true:'1.2-2' }}</ion-col>
				</ion-row>
			</div> -->
			<div class="notes">
				<div *ngIf="hmo_account.plan_description" [innerHTML]="hmo_account.plan_description"></div>
			</div>
		</div>
	</div>
	 <div *ngIf="pageType == 'payment_details'" class="summary">
		<div class="section-title"> Statement Summary </div>
		<div class="charges" padding>
			<div [ngClass]="hmo_account.attachment ? 'photo-container': ''" *ngIf="hmo_account.attachment">
				<img *ngIf="!hmo_account.attachment" src="assets/imgs/placeholder.png"/>
				<img-loader *ngIf="hmo_account.attachment" class="image-loader bkg-img-center bg-contain" src="{{ hmoProvider.base_url }}{{hmo_account.attachment.filepath}}/{{hmo_account.attachment.filename}}"></img-loader>
			</div>
			<div class="fee-table">
				<ion-row class="field">
					<ion-col col-4 class="label">Plan</ion-col>
					<ion-col col-8 class="content">{{ hmo_account.hmo_mombership_price | currency:'PHP':true:'1.2-2' }}</ion-col>
				</ion-row>
				<ion-row class="field">
					<ion-col col-4 class="label"><strong>Total</strong></ion-col>
					<ion-col col-8 class="content">{{ hmo_account.hmo_mombership_price | currency:'PHP':true:'1.2-2' }}</ion-col>
				</ion-row>
			</div>
			<div class="total-fee">
				<ion-row class="field">
					<ion-col col-7 class="label">Total Amount Paid: </ion-col>
					<ion-col col-5 class="content" text-right>{{ hmo_account.amount_paid | currency:'PHP':true:'1.2-2' }}</ion-col>
				</ion-row>
			</div>
		</div>
	</div>

	<!-- <div class="previous-statements">
		<div class="section-title">Previous Statements</div>
		<div class="lists">
			 <div class="expandable_header">			    	
			    <ion-row>
			    	<ion-col col-11 class="title">
			    		<div class="date"> Feb 15, 2018 </div>
			    		<div class="provider"> Carewell Health Systems </div>
			    		<div class="type"> Statement of Account </div>
			    	</ion-col>
					<ion-col col-1 text-right><ion-icon name="ios-arrow-up-outline" item-right></ion-icon></ion-col>
			    </ion-row>	    	
			  </div>
		</div>
	</div> -->
</ion-content>
