<!--
  Generated template for the BrowseHmoTransactionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>HMO Transactions</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
<!-- 	<div class="records-segment-buttons" padding-horizontal>
	  <ion-segment [(ngModel)]="records_tabs">
	    <ion-segment-button value="consultations"> Consultations </ion-segment-button>
	    <ion-segment-button value="procedures"> Procedures </ion-segment-button>
	    <ion-segment-button value="laboratory"> Laboratory </ion-segment-button>
	  </ion-segment>
	</div> -->
	
	<ion-refresher padding (ionRefresh)="reloadData($event)">
		<ion-refresher-content
	      pullingIcon="md-refresh-circle"
	      pullingText=""
	      refreshingSpinner="circles"
	      refreshingText="">
	    </ion-refresher-content>
	</ion-refresher>

	<div class="hmo-requests" padding>
		<div class="upcoming-list request-list">
			<ion-row class="section-titles">
				<ion-col col-8> Today's Request </ion-col>
				<ion-col col-4 text-right> Status </ion-col>
			</ion-row>

			<ion-card class="skeleton-loader" *ngIf="!all_today">
			  <ion-card-content>
		  			<div class="content"> 
		  				<div class="meta">
		  					<ion-row>
		  						<ion-col col-10>
				  					<div class="animation skeleton-line1"></div>
									<div class="animation skeleton-line2"></div>
				  				</ion-col>
			  				</ion-row>
		  					<ion-row>
		  						<ion-col col-6>
		  							<div class="animation skeleton-line1"></div>
		  						</ion-col>
		  						<ion-col col-6 text-right>
		  							<div class="animation skeleton-line1"></div>
		  						</ion-col>
		  					</ion-row>
		  				</div>
		  			</div>
			  </ion-card-content>
			</ion-card>

			<div *ngIf="all_today && total_today_count > 0">
				<ion-card *ngFor="let today of all_today;" (click)="goToDetails(today)">
				  <ion-card-content>
			  			<div class="content"> 
			  				<div class="meta">
			  					<ion-row>
			  						<ion-col col-10>
					  					<div class="title"> {{ today.services_title }} </div>
					  					<div class="doctor" text-capitalize>  
					  						<span *ngIf="today.doctor_prefix">{{ today.doctor_prefix }}</span> 
											{{ today.doctor_firstname }} {{ today.doctor_lastname }} 
											<span *ngIf="today.doctor_suffix">{{ today.doctor_suffix }}</span> 
											<span *ngIf="today.doctor_medical_degree">{{ today.doctor_medical_degree }}</span>
										</div>
					  				</ion-col>
					  				<ion-col col-2 class="status"> 
						  				<span class="approved" *ngIf="today.status === '1' || today.status === '3'"> <ion-icon name="ios-checkmark-circle"></ion-icon> </span> 
					  					<span class="declined" *ngIf="today.status === '0'"> <ion-icon name="md-close-circle"></ion-icon> </span> 
										<span class="status" *ngIf="today.status === '2'"><ion-badge item-end> <i class="fa fa-hourglass-o" aria-hidden="true"></i> </ion-badge> </span> 						  			
						  			</ion-col>
				  				</ion-row>
			  					<ion-row>
			  						<ion-col col-6>
			  							<div class="trans-number" *ngIf="today.appointment_hmo_transactions_id"> #{{ today.appointment_hmo_transactions_id }} </div>
			  						</ion-col>
			  						<ion-col col-6 text-right>
			  							<span class="time">{{ today.created_at | formatDate }}</span> 
			  						</ion-col>
			  					</ion-row>
			  				</div>
			  			</div>
				  </ion-card-content>
				</ion-card>

				<div *ngIf="total_today_count > 10"> <button ion-button clear block (click)="loadMoreToday()"> View more </button> </div>
			</div>

			<p *ngIf="all_today && total_today_count === 0" class="no-result" text-center> <i> No transactions today </i> </p>

			<div class="loader-lang" padding text-center *ngIf="today_is_loading === true"> 
				<ion-spinner name="crescent"></ion-spinner> loading
			</div>
		</div>


		<div class="previous-list request-list">
			<ion-row class="section-titles">
				<ion-col col-12> Previous Request </ion-col>
			</ion-row>

			<ion-card class="skeleton-loader" *ngIf="!all_previous">
			  <ion-card-content>
		  			<div class="content"> 
		  				<div class="meta">
		  					<ion-row>
		  						<ion-col col-10>
				  					<div class="animation skeleton-line1"></div>
									<div class="animation skeleton-line2"></div>
				  				</ion-col>
			  				</ion-row>
		  					<ion-row>
		  						<ion-col col-6>
		  							<div class="animation skeleton-line1"></div>
		  						</ion-col>
		  						<ion-col col-6 text-right>
		  							<div class="animation skeleton-line1"></div>
		  						</ion-col>
		  					</ion-row>
		  				</div>
		  			</div>
			  </ion-card-content>
			</ion-card>

			<div *ngIf="all_previous && total_prev_count > 0">
				<ion-card *ngFor="let previous of all_previous" (click)="goToDetails(previous)">
				  <ion-card-content>
			  			<div class="content"> 
			  				<div class="meta">
			  					<ion-row>
			  						<ion-col col-10>
					  					<div class="title"> {{ previous.services_title }} </div>
					  					<div class="doctor" text-capitalize>
					  						<span *ngIf="previous.doctor_prefix">{{ previous.doctor_prefix }}</span> 
											{{ previous.doctor_firstname }} {{ previous.doctor_lastname }} 
											<span *ngIf="previous.doctor_suffix">{{ previous.doctor_suffix }}</span> 
											<span *ngIf="previous.doctor_medical_degree">{{ previous.doctor_medical_degree }}</span>
					  					</div>
					  				</ion-col>
					  				<ion-col col-2 class="status"> 
						  				<span class="approved" *ngIf="previous.status === '1' || previous.status === '3'"> <ion-icon name="ios-checkmark-circle"></ion-icon> </span> 
					  					<span class="declined" *ngIf="previous.status === '0'"> <ion-icon name="md-close-circle"></ion-icon> </span> 
										<span class="status" *ngIf="previous.status === '2'"><ion-badge item-end> <i class="fa fa-hourglass-o" aria-hidden="true"></i> </ion-badge> </span> 						  			
									</ion-col>
				  				</ion-row>
			  					<ion-row>
			  						<ion-col col-6>
			  							<div class="trans-number" *ngIf="previous.appointment_hmo_transactions_id"> #{{ previous.appointment_hmo_transactions_id }} </div>
			  						</ion-col>
			  						<ion-col col-6 text-right>
			  							<span class="time"> {{ previous.created_at | formatDate }} </span> 
			  						</ion-col>
			  					</ion-row>
			  				</div>
			  			</div>
				  </ion-card-content>
				</ion-card>

				<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
				   <ion-infinite-scroll-content></ion-infinite-scroll-content>
				</ion-infinite-scroll>
			</div>

			<p *ngIf="all_previous && total_prev_count === 0"  class="no-result" text-center> <i> No previous transactions </i> </p>

			
		</div>
	</div>
</ion-content>
