page-browse-hmo-transactions {
	.records-segment-buttons {
		background: #fff;
	    padding: 16px;
	    padding-bottom: 0;
	    margin-bottom: 15px;

		.segment-button {
			color: #3d4b56;
			font-size: 13px;
			font-weight: 600;
			text-transform: uppercase;
		    border: 0;
		    opacity: 1;

			&.segment-activated {
				    border-bottom: 5px solid #04a8df;
			}
		}
	}
	.hmo-requests{

		.upcoming-list {
			margin-bottom: 30px;

			.card {
			    border-left: 7px solid #3492ff;
			}
		}

		.previous-list {
			.card {
			    border-left: 7px solid #d4d4d4;
			}
		}

		.request-list {
			.section-titles {
				color: #9e9e9e;
				font-size: 12px;
				text-transform: uppercase;
			}
			.card {
			    margin-left: 0;
	    		margin-right: 0;
	    		margin-bottom: 8px;
	    		width: auto;
			    border-radius: 4px;
			    box-shadow: 0px 5px 20px -10px #bcbcbc;  

			    .card-content {
			    	padding: 10px 10px 10px 0;
			    	.col {
			    		padding: 0;
			    	}
			    }

			    .status {
			    	text-align: right;
   					text-transform: uppercase;
   					margin-bottom: 10px;

			    	span {
			    		display: block;
			    	}

			    	.badge {
						background: #04a8df;
					    border-radius: 50%;
					    height: 23px;
					    width: 23px;
					    padding: 0;
					    font-weight: 400;

					    i, .icon {
							line-height: 25px;
	    					font-size: 13px;
						}
					}
					.approved {
						.icon {
							color: #39b54a;
							font-size: 28px;
						}
					}
					.declined {
						.icon {
							color: #ea4d53;
							font-size: 28px;
						}
					}
			    }
			    .meta {
			    	padding-left: 15px;
			    	.title {
			    		font-size: 16px;
    					color: #3d4b58;
			    	}
			    	.doctor {
			    		font-size: 12px;
			    		color: #949494;
			    		font-weight: 300;
			    	}
			    	.trans-number{
						color: #3492ff;
						font-size: 13px;
						font-weight: 300;
					}
					.time {
   						font-size: 12px;
					    color: #9e9e9e;
   					}
			    }
			    
	    	}
    	}
	}
}
