<!--
  Generated template for the HmoAccountDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  	<ion-navbar>
    	<ion-title *ngIf="!from_notif">HMO Account</ion-title>
		<ion-row *ngIf="from_notif" class="from-notif">
			<ion-col col-1>
				<span class="back-button show-back-button"> <ion-icon name="ios-arrow-back" (click)="gobacktoNotif()" ></ion-icon> </span>
			</ion-col>
			<ion-col col-9>
		    	<ion-title> HMO Account </ion-title>
			</ion-col>
			<ion-col col-1>
		    </ion-col>
		</ion-row>
  	</ion-navbar>

</ion-header>


<ion-content>
	<ion-refresher padding (ionRefresh)="reloadData($event)">
		<ion-refresher-content
	      pullingIcon="md-refresh-circle"
	      pullingText=""
	      refreshingSpinner="circles"
	      refreshingText="">
	    </ion-refresher-content>
	</ion-refresher>

	<div padding *ngIf="!hmo_account || !hmo_provider">
		<div class="skeleton-loader">
			<ion-row>
				<ion-col col-3>
					<div class="thumb"></div>
				</ion-col>
				<ion-col col-8 class="dv-color">
					<div class="animation skeleton-line1"></div>
					<div class="animation skeleton-line1"></div>
					<div class="animation skeleton-line2"></div>
				</ion-col>
			</ion-row>
		</div>

		<div class="hmo-card skeleton-loader">
			<div class="membership animation skeleton-line1 skeleton-forty-five"></div>
			<div class="for-line"></div>
			<div class="account-number field">
				<ion-label>Account Number</ion-label>
				<div class="animation skeleton-line1 skeleton-one-hundred"></div>
			</div>
			<div class="field">
				<ion-row>
					<ion-col col-7>
						<ion-label>Account Name</ion-label>
					<div class="animation skeleton-line1 skeleton-one-hundred"></div>
					</ion-col>
					<ion-col col-5 text-right>
					</ion-col>
				</ion-row>
			</div>
		</div>
		<div class="view-bill">
			<button ion-button clear> View Plan Details </button>
		</div>
		<div class="pay">
			<div>
				<div>
					<div class="animation skeleton-line1"></div>
					<div margin-veritical margin-top class="animation skeleton-line2"></div>
				</div>
			</div>
			<button ion-button>  </button>
		</div>
	</div>

	<!-- Has HMO Account encoded -->
	<div class="has-hmo" *ngIf="hmo_account && hmo_provider">
		<div class="insurance-info section">
			<ion-row>
				<ion-col col-3 text-center>
					<!-- <img src="{{ hmoProvider.base_url }}/assets/static/images/hmo/carewell_logo.jpg"/> -->
					<img *ngIf="!hmo_provider.attachement || !hmo_provider.attachement.filename" src="assets/imgs/placeholder.png"/>
					<img-loader *ngIf="hmo_provider.attachement && hmo_provider.attachement.filename" class="image-loader bg-contain" src="{{ hmoProvider.base_url }}{{hmo_provider.attachement.filepath}}/{{hmo_provider.attachement.filename}}"></img-loader>
				</ion-col>
				<ion-col col-9>
					<div class="field">
						<div> {{ hmo_provider.name }} </div>
						<div class="link" (click)="goToTransactions()"> View Transactions <ion-icon name="ios-arrow-forward-outline"></ion-icon> </div>
					</div>
				</ion-col>
			</ion-row>
			<div class="hmo-card">
				<ion-row>
					<ion-col col-7>
						<div class="membership" *ngIf="hmo_account.plan_title && hmo_account.plan_title !== ''"> {{ hmo_account.plan_title }} </div>
					</ion-col>
					<ion-col col-5 class="membership-status" text-right>
						<div class="status"> Status </div>
						<div class="action status_{{hmo_account.status}}">
							{{ hmo_account.payment_status_text }}
						</div>
					</ion-col>
				</ion-row>
				<div class="for-line"></div>
				<div class="account-number field">
					<ion-label>Account Number</ion-label>
					<div *ngIf="(hmo_account.account_number && hmo_account.account_number != '')">
						{{ hmo_account.account_number | formatAccountnumber }}</div>
					<div *ngIf="(!hmo_account.account_number || hmo_account.account_number == '')"> 		XXXX.XXXX.XXXX.XXXX </div>
				</div>
				<div class="field">
					<ion-row>
						<ion-col col-7>
							<ion-label>Account Name</ion-label>
							<div text-capitalize>{{ hmo_account.firstname }} {{ hmo_account.lastname }} {{ hmo_account.suffix }}</div>
						</ion-col>
						<ion-col class="renewal-date" col-5 text-right *ngIf="hmo_account.expiration_date && hmo_account.expiration_date !== '' && hmo_account.expiration_date !== '0000-00-00'">
							<ion-label>Renewal Date</ion-label>
							<div> {{ hmo_account.expiration_date | formatDate}} </div>
						</ion-col>
					</ion-row>
				</div>
			</div>

<!-- 		<div class="balance">
				<div class="section-title"> Current Balance </div>
				<div class="as-of"> As of {{ today }} </div>
				<div class="amount" *ngIf="current_balance">{{ current_balance | currency:'PHP':true:'1.2-2' }}</div>
				<div text-center padding *ngIf="!current_balance"> <ion-spinner name="crescent"></ion-spinner> checking current balance </div>
			</div> -->

			<div class="view-bill">
				<button ion-button clear (click)="gotoBillDetails()"> View Plan Details </button>
			</div>
		</div>

		<div class="pay">
			<!-- Have Payment -->
			<div *ngIf="payment_history && total_payment_history !== 0">
				<div class="description" *ngIf="hmo_account.payment_note">
					{{ hmo_account.payment_note }}
				</div>

				<!-- Payment Processing -->
				<div *ngIf="hmo_account.payment_status == '2'">
					<button ion-button *ngIf="hmo_account.payment_button" (click)="gotoPaymentDetails(payment_history[0])">
						{{ hmo_account.payment_button }}
					</button>
				</div>

				<!-- Payment Due Date, Expired, adn Reject -->
				<div *ngIf="hmo_account.payment_status != '2'">
					<button ion-button *ngIf="hmo_account.payment_button" (click)="openPaymentOptions()">
						{{ hmo_account.payment_button }}
					</button>
				</div>
			</div>

			<!-- No Payment Yet -->
			<div *ngIf="payment_history && total_payment_history === 0">
				<div class="description">
					{{hmo_account.payment_note}}
				</div>
				<button ion-button *ngIf="hmo_account.payment_button" (click)="openPaymentOptions()"> {{hmo_account.payment_button}} </button>
			</div>
		</div>
	</div>

	<div *ngIf="hmo_account && payment_history && total_payment_history > 0" class="previous-statements">
		<div class="section-title">Previous Payments</div>
			<div *ngIf="payment_history && total_payment_history > 0" class="lists">
				<div *ngFor="let payment of payment_history;" class="expandable_header" (click)="gotoPaymentDetails(payment)">
					<ion-row>
						<ion-col col-11 class="title">
						    <div class="date"> {{ payment.date_uploaded | formatDate }} </div>
						    <div class="provider"> {{ payment.hmo_provider_name }} </div>
						    <div class="type"> Statement of Account </div>
						</ion-col>
						<ion-col col-1 class="title-icon" text-right><ion-icon name="ios-arrow-forward-outline" item-right></ion-icon></ion-col>
					</ion-row>
				</div>
			</div>
		<div class="section-button" (click)="gotoPaymentHistory()"><ion-icon name="md-arrow-dropup-circle"></ion-icon></div>
	</div>

	<!-- Apply HMO Again -->
	<div *ngIf="hmo_account && hmo_provider && hmo_account.status == '4' && hmo_account.payment_status == '0'" padding margin>
		<button ion-button outline block (click)="goToHmoApplicationForm()"> Apply new hmo account </button>
	</div>

	<!-- Non-HMO -->
	<div *ngIf="hmo_account && hmo_provider && hmo_total_transactions === 0" padding margin>
		<button ion-button block clear (click)="goToHmoApplicationForm()"> Apply new hmo account </button>
	</div>

	<!-- <div class="verify">
		<img src="assets/icon/qr-code_fab.png" class="verify-icon" (click)="gotoQrCode()">
	</div>	 -->

  	<ion-fab right bottom>
    	<button ion-fab color="primary" (click)="gotoQrCode()">
    		<!-- <ion-icon name="ios-add-outline"></ion-icon> -->
    		<img src="assets/icon/qr-code_fab.png">
    	</button>
  	</ion-fab>

</ion-content>
