page-hmo-account-details {
	.from-notif{
		.col{
			margin: auto 5px;
		}

		[col-1]{
     		flex: 0 0 4.33333%;
		    width: 4.33333%;
		    max-width: 4.33333%;
		}
	}

	.back-button {
		z-index: 100;
		font-size: 30px;
	}

	.back-button.show-back-button{
		display: inline-flex;
		align-items: center;
		.icon{
			color: #fff;
		}
	}
	
	.scroll-content {
		background: #fff !important;
	}

	.for-line{
  		border-bottom: 2px solid #00aeef;
		margin: -13px 0px 14px 4px;
		width: 15%;
	}

	.insurance-info {
		padding: 16px;
    	/*-webkit-box-shadow: 0px 5px 5px 0px #e1e1e1;
    	box-shadow: 0px 5px 5px 0px #e1e1e1;
    	background: #fff;*/

		.section-title {
			color: #949494;
			font-size: 13px;
			margin-bottom: 16px;
		}

		.field {
			font-weight: 500;
			font-size: 15px;
			margin-bottom: 10px;
			padding: 0 16px;
			padding-left: 0;
    		line-height: 18px;

			.label {
				margin: 5px 0;
			    color: #949494;
			    font-size: 13px;
			    font-weight: 300;
			}

			.link {
			    color: #0b9bd8;
			    font-weight: 300;
			    font-size: 13px;
			    text-transform: capitalize;
			    margin-top: 5px;

			    .icon {
			    	    margin-left: 5px;
			    }
			}
		} 

		img {
	    	max-height: 60px;
		}
	}

	.hmo-card {
		background: linear-gradient(136deg, #2361a9 0%, #123257 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2361a9', endColorstr='#123257',GradientType=0 );
	    color: #fff;
	    padding: 16px 25px;
	   	border-radius: 5px;
	   	margin-top: 10px;

	    .membership {
	    	font-size: 18px;
		    font-weight: 600;
		    margin-bottom: 25px;
	    }

		.field {
			font-weight: 400;
		    font-size: 3.4vw;
		    margin-bottom: 15px;
		    padding: 0;

			&.account-number {
				font-size: 5.4vw;
				font-weight: 400;
			} 
			.col {
				padding: 0;
				text-align: left !important;
			}
			.label {
				margin: 2px 0 5px;
			    color: #00aeef;
			    font-size: 12px;
			    font-weight: 300;
			    text-transform: uppercase;
			}
		} 
	}

	.balance {
	    text-align: center;
	    margin: 25px 0 40px;

	    .section-title{
	    	font-weight: 500;
	    	font-size: 18px;
	    	color: #3d4b58;
	    	text-transform: uppercase;
	    }

	    .amount {
		    font-weight: 500;
		    font-size: 38px;
		}
	}
	.view-bill {
		.button {
			margin: auto;
		    min-width: 80%;
		    margin: auto;
		    text-align: center;
		    color: #0b9bd8;
		    font-weight: 300;
		    display: block;
		    border-top: 2px solid #e7e7e7;
		    padding: 25px 10px;
		        margin-top: 25px;
		}
	}
	.pay {
		padding: 10px 30px;
	    text-align: center;
	    font-size: 13px;
	    color: #979797;

	    .button {
	    	height: 50px;
		    min-width: 80%;
		    margin: 25px 10px 55px;
		    text-transform: capitalize;
		    font-weight: 500;
		    font-size: 18px;
		    box-shadow: none;
	    }
	}

	.previous-statements {
		.section-title {
			color: #b0b0b1;
			background: #f6f6f6;
		    font-size: 13px;
		    text-transform: uppercase;
		    padding: 16px;
		}
		.section-button{
      		padding: 16px;
		    margin: auto;
		    text-align: center;
		    color: #7e7e7e;
		    font-weight: 700;
		    font-size: 30px;
		}
		.lists {
    		border-top: 1px solid #f9f9f9;
			
			.expandable_header {
				background: #ffffff;
			    padding: 0 16px;
			    border-bottom: 1px solid #f9f9f9;

			    .title{
			    	padding: 15px 0;
			    }

			    .title-icon{
			    	margin: auto;
			    	.icon{
					    color: #7e7e7e;
					    font-weight: 700;
			    	}
			    }

			    .date {
				    text-transform: uppercase;
				    color: #b0b0b1;
				    margin-bottom: 5px;
				}
				.provider {
				    font-weight: 600;
				}
				.type{
				    color: #b0b0b1;
				}
			}
		}
	}

	.verify{
      	position: fixed;
	    right: 20px;
	    bottom: 25px;

		.verify-icon{
      		width: 60px;
		}
	}

	.skeleton-one-hundred{
      	padding: 10px;
    	max-width: 100%;
	}

	.skeleton-forty-five{
      	max-width: 45%;
    	padding: 10px;
	}
	.membership-status{
		text-transform: uppercase;
		.status{
			font-size: 10px;
		}
		.action{
      		margin-top: -5px;
    		font-size: 13px;
     		font-weight: 700;
		}
		.status_1{
			color: #388e3c;
		}
		.status_2,
		.status_4{
			color: #fbc02d;
		}
		.status_,
		.status_0,
		.status_3{
			color: #d32f2f;
		}
	}
	.renewal-date{
		@media(min-width:300px) and (max-width: 339px){
	      	float: right;
	    }
	}
}