<!--
  Generated template for the FormSelectLocationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <!-- <ion-searchbar [(ngModel)]="searched_keyword" (ionChange)="searchCity()" placeholder="Search any city or municipalities"></ion-searchbar> -->
    <ion-searchbar [(ngModel)]="locationValue" (ionInput)="getValue()" placeholder="Search any city or municipalities" (ionCancel)="hideSearchBar()"></ion-searchbar>
  </ion-navbar>

</ion-header>

<ion-content>
	<div *ngIf="current_location" padding> 
		<div> <strong> Current location:</strong> </div>
		<div>{{ current_location }} </div>
	</div>
	<!-- <ion-list no-lines *ngIf="cities && lists">
		<button ion-item *ngFor="let city of lists" text-capitalize (click)="getLocationInfo(city)"> {{ city['citymunDesc'].toLowerCase() }}, {{ city['region'].toLowerCase() }} </button>
	</ion-list> -->

	<ion-list no-lines *ngIf="autocompleteItems && autocompleteItems.length > 0">
		<button ion-item *ngFor="let item of autocompleteItems" text-capitalize (click)="geoCode(item)"> {{ item }} </button>
	</ion-list>

	<ion-list *ngIf="no_result">
		<p class="no-result" text-center> <i> No results found </i> </p>
	</ion-list>

	<ion-fab right bottom>
	 	<button ion-fab color="primary" (click)="findCurrentLocation()">
	 	 	<ion-icon name="md-locate"></ion-icon>
	 	</button>
	</ion-fab>

</ion-content>
