page-appointments-calendar {

	.from-notif{
		.col{
			margin: auto 5px;
		}

		[col-1]{
     		flex: 0 0 4.33333%;
		    width: 4.33333%;
		    max-width: 4.33333%;
		}
	}

	.back-button {
		z-index: 100;
		font-size: 30px;
	}

	.back-button.show-back-button{
		display: inline-flex;
		align-items: center;
		.icon{
			color: #fff;
		}
	}

	.hospital-appointments{
		.cal-appoints .date-col {
		    line-height: 30px;
		}


		.upcoming-list {
			margin-bottom: 30px;

			.card {
			    border-left: 7px solid #3492ff;
			}
		}

		.previous-list {
			.card {
			    border-left: 7px solid #d4d4d4;
			}
		}

		.sched-list {
			.appoint-titles {
				color: #9e9e9e;
				font-size: 12px;
			}
			.card {
			    margin-left: 0;
	    		margin-right: 0;
	    		width: auto;
			    border-radius: 4px;
			    box-shadow: none;

			    .card-content {
			    	padding: 10px 10px 10px 0;
			    	.col {
			    		padding: 0;
			    		/*display: flex;
    					align-items: center;*/
			    	}
			    }

			    .date {
			    	text-align: center;
   					text-transform: uppercase;
   					border-right: 1px solid #e8e8e8;

   					.day {
   						color: #3d4b58;
   						font-size: 22px;
   					}
   					.month {
   						font-size: 12px;
					    color: #9e9e9e;
					    margin-top: -5px;
   					}
			    	span {
			    		display: block;
    					width: 100%;
			    	}
			    }
			    .meta {
			    	padding-left: 15px;
			    	.doctor {
			    		font-size: 16px;
    					color: #3d4b58;
			    	}
			    	.time, .status {
			    		font-size: 12px;
			    		color: #949494;
			    		font-weight: 300;
			    	}
			    	.status {
			    		.lbl-approved {
			    			display: inline-block;
			    			margin-right: 10px;
			    		}
			    		.lbl-doctor {
			    			display: inline-block;
			    			margin-right: 5px;
			    		}
			    		.icon {
			    			margin-right: 5px;
			    			&.ion-ios-checkmark-circle {
			    				color: #3492ff;
			    			}
			    		}
			    	}
			    	.transaction-info {
					    margin-top: 7px;
					}
			    	.trans-number {
						color: #3492ff;
		    			font-size: 12px;
					}

			    }
	    	}
    	}
	}
}
