<!--
  Generated template for the AppointmentsCalendarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  	<ion-navbar>
		<ion-title *ngIf="!from_notif"> My Appointments </ion-title>
		<ion-row *ngIf="from_notif" class="from-notif">
			<ion-col col-1>
				<span class="back-button show-back-button"> <ion-icon name="ios-arrow-back" (click)="gobacktoNotif()" ></ion-icon> </span>
			</ion-col>
			<ion-col col-9>
		    	<ion-title> My Appointments </ion-title>
			</ion-col>
			<ion-col col-1>
		    </ion-col>
		</ion-row>
  	</ion-navbar>

</ion-header>


<ion-content>
	<ion-refresher padding (ionRefresh)="reloadData($event)">
		<ion-refresher-content
	      pullingIcon="md-refresh-circle"
	      pullingText=""
	      refreshingSpinner="circles"
	      refreshingText="">
	    </ion-refresher-content>
	</ion-refresher>

	<div class="cal-appoints">
	    <div class="calendar-header">
	      <ion-row class="calendar-month ">
	        <ion-col col-3 class="date-col" (click)="goToLastMonth()"><ion-icon name="ios-arrow-back" class="nav-icon"></ion-icon></ion-col>
	        <ion-col col-6 class="date-col"><span>{{currentMonth}}</span><br><p class="year">{{currentYear}}</p></ion-col>
	        <ion-col col-3 class="date-col" (click)="goToNextMonth()"><ion-icon name="ios-arrow-forward" class="nav-icon"></ion-icon></ion-col>
	      </ion-row>
	    </div>

	    <div class="calendar-body">
	      <ion-grid>
	        <ion-row class="calendar-weekday">
	          <ion-col class="weekends">SUN</ion-col>
	          <ion-col>MON</ion-col>
	          <ion-col>TUE</ion-col>
	          <ion-col>WED</ion-col>
	          <ion-col>THU</ion-col>
	          <ion-col>FRI</ion-col>
	          <ion-col class="weekends">SAT</ion-col>
	        </ion-row>
	        <ion-row class="calendar-date">
	          <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month date-col" (click)="goToLastMonth()">{{lastDay}}</ion-col>
	          <ion-col col-1 class="date-col" *ngFor="let day of daysInThisMonth">
				<div [ngClass]="date_selected == day['day'] ? 'selectedDate' : ''" (click)="selectDate(day['day'])">
		            <ion-badge class="currentDate" *ngIf="currentDate === day['day']; else otherDate">{{ day['day'] }}</ion-badge>
		            <ng-template #otherDate class="otherDate">
		              <ion-badge> {{ day['day'] }} </ion-badge>
		              <div *ngIf="all_upcoming && checkIfAppointment(day['day'], currentMonthIdx, currentYear) === 'yes'"  class="event-bullet"> </div>
		            </ng-template>
		        </div>
	          </ion-col>
	        </ion-row>
	      </ion-grid>
	    </div>
	</div>

	<div class="hospital-appointments" padding>

		<div class="previous-list sched-list" *ngIf="!all_upcoming || !all_results">
			<ion-card class="skeleton-loader">
			  <ion-card-content>
			  		<div padding-horizontal>
				  		<div class="animation skeleton-line1"></div>
		  				<div class="animation skeleton-line2"></div>
		  				<div class="animation skeleton-line2"></div>
		  			</div>
			  </ion-card-content>
			</ion-card>
			<ion-card class="skeleton-loader">
			  <ion-card-content>
			  		<div padding-horizontal>
				  		<div class="animation skeleton-line1"></div>
		  				<div class="animation skeleton-line2"></div>
		  				<div class="animation skeleton-line2"></div>
		  			</div>
			  </ion-card-content>
			</ion-card>
		</div>

		<div *ngIf="(all_upcoming && all_results) && (all_upcoming.length === 0 && all_results.length === 0)" class="no-result" padding text-center> You have no appointments yet. </div>

		<div class="upcoming-list sched-list" *ngIf="all_upcoming && all_upcoming.length > 0">
			<p class="appoint-titles">Upcoming Appointments</p>
			<ion-card *ngFor="let upcoming of all_upcoming" (click)="goToDetails(upcoming)">
			   	<ion-card-content>
			  		<ion-row>
			  			<ion-col col-2 class="date">
			  				<span class="day" *ngIf="upcoming.appointment_date_day">{{ upcoming.appointment_date_day }}</span>
			  				<span class="month" *ngIf="upcoming.appointment_date_month">{{ upcoming.appointment_date_month }}</span>
			  				<span class="month" *ngIf="upcoming.appointment_date_year && upcoming.appointment_date_year !== this_year">{{ upcoming.appointment_date_year }}</span>
			  			</ion-col>
			  			<ion-col col-10 class="content">
			  				<div class="meta">
			  					<div class="doctor">
			  						<span *ngIf="upcoming.doctor_prefix">{{ upcoming.doctor_prefix }}</span>
								    {{ upcoming.doctor_firstname | capitalizeText }} {{ upcoming.doctor_lastname | capitalizeText }}
									<span *ngIf="upcoming.doctor_suffix">{{ upcoming.doctor_suffix }}</span>
									<span *ngIf="upcoming.doctor_medical_degree">{{ upcoming.doctor_medical_degree }}</span>
			  					</div>
			  					<div class="time"> {{ upcoming.hospital_name }} </div>
			  					<div class="status">
			  						<span class="lbl-approved">Approved by:</span>
			  						<ion-icon *ngIf="upcoming.status === '0'" color="cancel" name="ios-close-circle" class="approved"></ion-icon>
			  						<ion-icon *ngIf="upcoming.status === '1'" color="approved" name="ios-checkmark-circle" class="approved"></ion-icon>
			  						<ion-icon *ngIf="upcoming.status === '2'" name="md-radio-button-off"></ion-icon>
					  				<ion-icon *ngIf="upcoming.status === '3'" color="complete" name="ios-checkmark-circle" class="approved"></ion-icon>
					  				<ion-icon *ngIf="upcoming.status === '4'" color="arrived" name="ios-checkmark-circle" class="approved"></ion-icon>
					  				<span class="lbl-doctor">Doctor</span>

					  				<ion-icon *ngIf="upcoming.hmo_transactions_status === '0'" color="cancel" name="ios-close-circle" class="approved"></ion-icon>
					  				<ion-icon *ngIf="upcoming.hmo_transactions_status === '2'" name="md-radio-button-off"></ion-icon>
					  				<ion-icon *ngIf="upcoming.hmo_transactions_status === '1'" color="approved" name="ios-checkmark-circle"></ion-icon>
					  				<ion-icon *ngIf="upcoming.hmo_transactions_status === '3'" color="complete" name="ios-checkmark-circle"></ion-icon>
			  						<span class="lbl-doctor">HMO</span>
			  					</div>
			  					<ion-row class="transaction-info">
									<ion-col col-6>
										<div class="trans-number">#{{ upcoming.hmo_transactions_id }}</div>
									</ion-col>
									<ion-col col-6 text-right>
										<div class="time" text-right> {{ upcoming.appointment_date_time }} </div>
									</ion-col>
								</ion-row>
			  				</div>
			  			</ion-col>
			  		</ion-row>
				</ion-card-content>
			</ion-card>
		</div>

		<div *ngIf="all_results && all_results.length > 0">
			<div class="previous-list sched-list">
				<p class="appoint-titles">Previous Appointments</p>
				<ion-card *ngFor="let previous of all_results" (click)="goToDetails(previous)">
				  <ion-card-content>
				  		<ion-row>
				  			<ion-col col-2 class="date">
				  				<span class="day" *ngIf="previous.appointment_date_day">{{ previous.appointment_date_day }}</span>
				  				<span class="month" *ngIf="previous.appointment_date_month">{{ previous.appointment_date_month }}</span>
				  				<span class="month" *ngIf="previous.appointment_date_year && previous.appointment_date_year !== this_year">{{ previous.appointment_date_year }}</span>
				  			</ion-col>
				  			<ion-col col-10 class="content">
				  				<div class="meta">
				  					<div class="doctor">
				  						<span *ngIf="previous.doctor_prefix">{{ previous.doctor_prefix }}</span>
										{{ previous.doctor_firstname }} {{ previous.doctor_lastname }}
										<span *ngIf="previous.doctor_suffix">{{ previous.doctor_suffix }}</span>
										<span *ngIf="previous.doctor_medical_degree">{{ previous.doctor_medical_degree }}</span>
				  					</div>
				  					<div class="time"> {{ previous.hospital_name }} </div>
				  					<div class="status">
				  						<span class="lbl-approved">Approved by:</span>
				  						<ion-icon *ngIf="previous.status === '0'" color="cancel" name="ios-close-circle" class="approved"></ion-icon>
				  						<ion-icon *ngIf="previous.status === '1'" color="approved" name="ios-checkmark-circle" class="approved"></ion-icon>
				  						<ion-icon *ngIf="previous.status === '2'" name="md-radio-button-off"></ion-icon>
						  				<ion-icon *ngIf="previous.status === '3'" color="complete" name="ios-checkmark-circle" class="approved"></ion-icon>
						  				<ion-icon *ngIf="previous.status === '4'" color="arrived" name="ios-checkmark-circle" class="approved"></ion-icon>
						  				<span class="lbl-doctor">Doctor</span>

						  				<ion-icon *ngIf="previous.hmo_transactions_status === '0'" color="cancel" name="ios-close-circle" class="approved"></ion-icon>
						  				<ion-icon *ngIf="previous.hmo_transactions_status === '2'" name="md-radio-button-off"></ion-icon>
						  				<ion-icon *ngIf="previous.hmo_transactions_status === '1'" color="approved" name="ios-checkmark-circle"></ion-icon>
						  				<ion-icon *ngIf="previous.hmo_transactions_status === '3'" color="complete" name="ios-checkmark-circle"></ion-icon>
				  						<span class="lbl-doctor">HMO</span>
				  					</div>
				  					<ion-row class="transaction-info">
										<ion-col col-6>
											<div class="trans-number">#{{ previous.hmo_transactions_id }}</div>
										</ion-col>
										<ion-col col-6 text-right>
											<div class="time" text-right> {{ previous.appointment_date_time }} </div>
										</ion-col>
									</ion-row>
				  				</div>
				  			</ion-col>
				  		</ion-row>
				  </ion-card-content>
				</ion-card>
			</div>

			<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
			   <ion-infinite-scroll-content></ion-infinite-scroll-content>
			</ion-infinite-scroll>
		</div>
	</div>
</ion-content>
