<!--
  Generated template for the BrowseSpecialtiesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-searchbar placeholder="Search Specialties" [(ngModel)]="searched_keyword" (keyup.enter)="searchKeyword(false)" (ionClear)="searchKeyword($event)"></ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content>
	<div class="loader-lang" padding text-center *ngIf="!all_results"> 
		<ion-spinner name="crescent"></ion-spinner> searching...
	</div>

	<div *ngIf="all_results && total_count == 0" class="list-container">
		<ion-list class="specialty-list">
			<p class="no-result" text-center> <i ion-text color="light"> No results found </i> </p>
		</ion-list>
	</div>
	
	<div *ngIf="all_results && total_count > 0" class="list-container">
		<ion-list class="specialty-list">
			<ion-item *ngFor="let item of all_results; let i=index">
				  <ion-label>{{ item.title }}</ion-label>
				  <ion-checkbox color="white" [(ngModel)]="categoriesChks[i]"></ion-checkbox>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
		   <ion-infinite-scroll-content></ion-infinite-scroll-content>
		</ion-infinite-scroll>
	</div>	
</ion-content>

<ion-footer>
	<button ion-button full class="btn_find" (click)="goToDoctorsList()">Find Doctors</button>
</ion-footer>
