page-browse-specialties {
	.scroll-content {
		background: rgba(29,183,234,1);
		background: -moz-linear-gradient(top, rgba(29,183,234,1) 0%, rgba(42,204,240,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(29,183,234,1)), color-stop(100%, rgba(42,204,240,1)));
		background: -webkit-linear-gradient(top, rgba(29,183,234,1) 0%, rgba(42,204,240,1) 100%);
		background: -o-linear-gradient(top, rgba(29,183,234,1) 0%, rgba(42,204,240,1) 100%);
		background: -ms-linear-gradient(top, rgba(29,183,234,1) 0%, rgba(42,204,240,1) 100%);
		background: linear-gradient(to bottom, rgba(29,183,234,1) 0%, rgba(42,204,240,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1db7ea', endColorstr='#2accf0', GradientType=0 );
	}
	.loader-lang {
		color: #fff;
		ion-spinner * {
		  width: 15px;
		  height: 15px;
		  stroke: #fff;
		}
	}

	.spinner{
     	display: initial;
    	padding-right: 25px;
	}

	.btn_find {
	    font-size: 15px;
	    height: 70px;
	    position: fixed;
	    bottom: 0;
	    font-family: Poppins;
	    font-weight: 600;
	    letter-spacing: 2px;
	    margin-bottom: 0;
	    color: #03ade8;
	    background: #fff;
	}
	.list-container {
		margin-bottom: 70px;
		.specialty-list {
			margin-top: 10px;

			.item {
				background: transparent;
			    color: #fff;
			    font-size: 12px;
			    padding-left: 26px;
		    	padding-right: 26px;

			    &.item-checkbox-checked {
			    	font-weight: 700;
		    		background: #14a8e4;
		    		
		    		.checkbox-checked {
		    			.checkbox-inner {
		    				border-color: #fff;
		    			}
		    		}
			    }
			    .item-inner {
			    	border-bottom: 0 !important;
			    }
			    .checkbox {
			    	margin: 5px 20px 5px 5px !important;
			    }
			    &:first-child .button-inner {
			    	border-top: 1px solid #5accef;
			    }
			    .button-inner {
			    	border-bottom: 1px solid #5accef;
			    	margin-left: 15px;
			    	margin-right: 15px;
			    	width: auto; 
			    }
			}
		}
	}
}
