<!--
  Generated template for the FormAppointmentConsultationDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  	<ion-navbar>
    	<ion-title>Reason for Visit</ion-title>
  	</ion-navbar>
</ion-header>


<ion-content padding>
	<div class="consultation-form">
		<form [formGroup]="consultationForm">
			<ion-input type="hidden" formControlName="doctor_id" value="{{doctor_profile.user_id}}"> </ion-input>
			<!-- <ion-input type="hidden" formControlName="hospital_service_id" value="{{ doctor_profile.hospital_service_id }}"> </ion-input> -->
			<ion-input type="hidden" formControlName="transaction_type" value="consultation"> </ion-input>
			<ion-input type="hidden" formControlName="hospital_doctors_hospital_id" value="{{doctor_profile.hospital_doctors_hospital_id}}"> </ion-input>

			<div class="discuss section-form">
				<div class="section-title"> <i class="fa fa-address-card-o" aria-hidden="true"></i> Consultation Type </div>
				<ion-item class="field" *ngIf="consultation_type">
					<ion-select [(ngModel)]="hospital_service_id" [ngModelOptions]="{standalone: true}">
						<ion-option *ngFor="let type of consultation_type; let a = index" [value]="type.hospital_service_id"> {{type.service_title}}</ion-option>
					</ion-select>
        		</ion-item>
				<div class="validator" *ngIf="is_submit === true && !hospital_service_id"><div class="form-error">This is a required field</div></div>
			</div>

			<div class="discuss section-form">
				<div class="section-title"> <ion-icon name="ios-create-outline"></ion-icon> What is your concern? </div>
				<ion-item>	
					<ion-textarea formControlName="description" placeholder="Enter a description" [class.error]="(is_submit === true && !consultationForm.controls.description.valid)"></ion-textarea>
				</ion-item>
				<div class="validator" *ngIf="is_submit === true && !consultationForm.controls.description.valid"><div class="form-error">This is a required field</div></div>
			</div>
			<div class="symptoms section-form">
				<div class="section-title"> <ion-icon name="ios-camera"></ion-icon> Symptom photos (optional) </div>
				<div class="photos">
					<ion-row *ngIf="photos">
						<ion-col col-4 *ngFor="let photo of photos; let p=index;" (click)="removePhoto(p)"> <ion-badge item-end><ion-icon name="ios-trash-outline"></ion-icon></ion-badge> <div class="thumb" [ngStyle]="{'background-image': 'url('+ photo['path'] + ')'}" ></div></ion-col>
						<ion-col col-4 *ngIf="photos.length < 3"> <div class="thumb" style="background-image: url('assets/imgs/upload-placeholder.png');"  (click)="presentActionSheet()"></div></ion-col>
					</ion-row>
					<ion-row *ngIf="!photos">
						<ion-col col-4> <div class="thumb" style="background-image: url('assets/imgs/upload-placeholder.png');" (click)="presentActionSheet()"></div></ion-col>
					</ion-row>
				</div>
			</div>
			<div class="additional-info section-form">
				<div class="section-title"> <i class="fa fa-address-card-o" aria-hidden="true"></i> Additional Information (optional) </div>
				<ion-list no-lines>
				  <ion-item>
				    <ion-label stacked>Temperature</ion-label>
				    <ion-input type="text" placeholder="°F, °C" formControlName="temperature" ></ion-input>
				  </ion-item>

				  <ion-item>
				    <ion-label stacked>Height</ion-label>
				    <ion-input type="text" placeholder="ft', in'" formControlName="height" ></ion-input>
				  </ion-item>

				  <ion-item>
				    <ion-label stacked>Blood Pressure</ion-label>
				    <ion-input type="text" placeholder="" formControlName="description" formControlName="blood_pressure"></ion-input>
				  </ion-item>

				  <ion-item>
				    <ion-label stacked>Weight</ion-label>
				    <ion-input type="text" placeholder="kg" formControlName="weight"></ion-input>
				  </ion-item>
				</ion-list>
			</div>
			<button ion-button block class="btn-set" (click)="goToAppointmentFormStep2()"> Next </button>
		</form>
	</div>
</ion-content>
