page-form-appointment-consultation-details {
	.validator {
		padding-left: 16px;
	}
	.consultation-form {
		.section-title {
			font-size: 13px;
			font-weight: 600;
			margin-bottom: 10px;

			i, .icon {
				display: inline-block;
				margin-right: 5px;
				color: #08aae5; 
			}
		}

		.text-input {
			background: #ffffff;
		    min-height: 45px;
		    border-radius: 5px;
		    padding: 0 16px;
		    border: 1px solid #fff;
		}

		.item {
			background: transparent;
			
			&:last-child {
				border: 0;
    			box-shadow: none;
			}
			&.item-input-has-focus {
				.item-inner {
					border: 0;
					box-shadow: none;
				}
				.text-input {
					border: 1px solid #20a9e6;
   		 			width: calc(100% - 8px);
				}
			}
			.item-inner {
				border: 0 !important;
				box-shadow: none !important;
			}
			.select{
			    max-width: 100% !important;
			    width: calc(100% - 8px - 8px) !important;
			    border-radius: 5px;
			    background-color: #fff;
			}

			.select-icon {
	    		width: 20px;
	    	}
		}
		.section-form{
			margin-bottom: 30px;
		}
		/* End of general css*/

		.discuss {
			.text-input {
				margin: 0;
	    		padding: 10px;
	    		min-height: 130px;
	    	}
		}

		.symptoms {
			.col {
				position: relative;
				.badge {
					position: absolute;
				    right: 0;
				    top: 0px;
				    background: #ea4d53;
				    border-radius: 50%;
				    height: 27px;
				    width: 27px;
				}
				.icon {
					line-height: 20px;
				    font-size: 15px;
				}
			}
			.thumb {
				display: block;
			    padding-bottom: 100%;
				width: 100%;
			    background-repeat: no-repeat;
			    background-size: cover;
			    background-position: center center;
			    border: 2px solid #fff;
			}
		}

		.additional-info {
			.item {
				.label {
					color: #949494;
				    font-size: 12px;
				}
			}
		}

		
	}
}
