<!--
  Generated template for the FaqPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  	<ion-navbar>
    	<ion-title>f.a.q</ion-title>
  	</ion-navbar>
</ion-header>


<ion-content padding>
	<div class="skeleton-loader" *ngIf="!faqData">
		<div class="animation skeleton-line1"></div>
		<div class="animation skeleton-line1"></div>
		<div class="animation skeleton-line2"></div>
		<div class="animation skeleton-line2"></div>
	</div>
	<div *ngIf = "faqData">
		<div class="content" [innerHTML] = "faqData"></div>
	</div>
</ion-content>
