<!--
  Generated template for the ModalAcceptTermsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
	<div class="section-title">
		Before you join
	</div>
	<div *ngIf="terms">
		<div class="content">
			<div [innerHtml]="terms"></div>
		</div>
		<ion-row class="action-button">
			<ion-col col-6>
				<button ion-button block (click)="acceptTerms()"> Accept </button>
			</ion-col>
			<ion-col col-6>
				<button ion-button clear block navPop> Decline </button>
			</ion-col>
		</ion-row>
	</div>
	<div class="skeleton-loader" *ngIf="!terms">
		<div class="animation skeleton-line1"></div>
		<div class="animation skeleton-line1"></div>
		<div class="animation skeleton-line2"></div>
		<div class="animation skeleton-line2"></div>
	</div>
</ion-content>
