page-modal-accept-terms {
	.scroll-content {
	    background-color: #ffffff  !important;
	}
	.section-title{
		font-weight: 600;
		font-size: 30px;
  		font-family: "Poppins";
  		margin-top: 30px;
  		margin-bottom: 20px;
	}
	.content {
	    font-size: 15px;
	    line-height: 25px;
	    margin-bottom: 25px;
	}
	.button {
		height: 50px;
	    font-size: 17px;
	    font-weight: 600;
	    color: #fff;
	    box-shadow: none;
	    border-radius: 50px;
	    margin-top: 25px;
	    background: #3592ff;

	    &.button-clear {
	    	background: transparent;
    		color: #3592ff;
	    }
	}
}
